body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0.5px 0.5px 0.5px 0.5px;
}
p._----yildiz-_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:142px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.__PERDE-E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.__Paragraf {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.Copyright-- {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.75em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.Kitap_ism_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:113px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.Temel-Paragraf {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.Paragraf_saisimler {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:14px;
	widows:1;
}
p.Siirler_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.875em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:6px;
	margin-left:28px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.a--Paragraf_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:14px;
	widows:1;
}
p.b--Paragraf_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:1px;
	margin-left:14px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-14px;
	widows:1;
}
p.baslik-E_1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:28px;
	margin-left:0;
	margin-right:0;
	margin-top:85px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.ilk_harf {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.jenerik_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.slogan_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1.167em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.yazar-E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:43px;
	margin-left:0;
	margin-right:0;
	margin-top:43px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
span._aleyhisselam-_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
}
span.Footnote_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	vertical-align:super;
}
span.arabic_E {
	color:#000000;
	font-family:Uhuvvet, serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.ayet_kaynaklari_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
}
span.bold-italik_E {
	font-style:italic;
	font-weight:bold;
}
span.bold_E {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
span.ilk_harf_E {
	color:#000000;
}
span.italik_E {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
}
span.CharOverride-1 {
	font-size:0.555em;
}
span.CharOverride-2 {
	font-size:0.762em;
}
p._idGenParaOverride-1 {
	page-break-before:always;
}
span._idGenCharOverride-1 {
	font-size:0.762em;
}
span._idGenCharOverride-2 {
	font-size:1.048em;
}
span._idGenCharOverride-3 {
	font-size:0.555em;
}
span._idGenCharOverride-4 {
	font-size:0.648em;
}
span._idGenCharOverride-5 {
	font-size:0.324em;
}
span._idGenDropcap-1 {
	float:left;
	font-size:3.158em;
	line-height:1;
	margin-bottom:-0.216em;
	margin-right:0.05em;
	margin-top:-0.116em;
}
img._idGenPageitem-1 {
	height:465px;
	width:295px;
}
img._idGenPageitem-2 {
	height:47px;
	width:35px;
}
img._idGenPageitem-3 {
	height:16px;
	width:71px;
}
img._idGenPageitem-4 {
	height:15px;
	width:113px;
}
img._idGenPageitem-5 {
	height:15px;
	width:115px;
}
img._idGenPageitem-6 {
	height:15px;
	width:126px;
}
img._idGenPageitem-7 {
	height:13px;
	width:12px;
}
img._idGenPageitem-8 {
	height:12px;
	width:11px;
}
img._idGenPageitem-9 {
	height:8px;
	width:14px;
}
img._idGenPageitem-10 {
	height:11px;
	width:26px;
}
img._idGenPageitem-11 {
	height:12px;
	width:70px;
}
img._idGenPageitem-12 {
	height:16px;
	width:128px;
}
img._idGenPageitem-13 {
	height:16px;
	width:75px;
}
img._idGenPageitem-14 {
	height:11px;
	width:45px;
}
img._idGenPageitem-15 {
	height:17px;
	width:196px;
}
img._idGenPageitem-16 {
	height:16px;
	width:46px;
}
