<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>98E9C5B348171646487A861FB6F787C7</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>6996CBE85966CE2AE918EBB12E00F9F9</string>
		<key>publisher-unique-id</key>
		<string>ec43f854-7e99-473c-b613-2888eaa5c9f4</string>
		<key>unique-id</key>
		<integer>-3550278605903080596</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Gökyüzü</string>
	<key>playlistName</key>
	<string>Gökyüzü</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
</dict>
</plist>
