.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    font-family: "Times New Roman", "serif";
    font-size: 1.2em;
    line-height: 1.2
    }
.calibre3 {
    font-style: italic;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    line-height: 1.2
    }
.calibre6 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    font-family: "Times New Roman", "serif";
    font-size: 2.4em;
    line-height: 115%
    }
.calibre9 {
    font-family: "Times New Roman", "serif";
    font-size: 2.2em;
    line-height: 1.2
    }
.calibre10 {
    font-family: "Times New Roman", "serif";
    font-size: 1.55em;
    line-height: 1.2
    }
.calibre11 {
    height: 705px;
    line-height: 1.2;
    width: 369px
    }
.calibre12 {
    line-height: 1.2;
    text-decoration: underline
    }
.calibre13 {
    font-family: "Times New Roman", "serif";
    line-height: 1.2
    }
.calibre14 {
    height: 752px;
    line-height: 1.2;
    width: 524px
    }
.msonormal {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    margin: 0 0 6pt
    }
.msonormal1 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    margin: 0 0 10pt
    }
.msonormal2 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: center;
    margin: 0 0 6pt
    }
.msonormal3 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: center;
    margin: 0 0 10pt
    }
.msonormal4 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 21.3pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal5 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 219.75pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal6 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 3.15in;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal7 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 184.3pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal8 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: center;
    text-indent: 21.3pt;
    margin: 0 0 6pt
    }
.msonormal9 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 155.95pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal10 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 106.35pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal11 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 134.7pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal12 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 163.05pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal13 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 177.2pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal14 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 127.6pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal15 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 78pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal16 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 113.4pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal17 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 191.4pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal18 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 141.75pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal19 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 248.1pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.msonormal20 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em;
    line-height: 115%;
    text-align: justify;
    text-indent: 148.85pt;
    text-justify: inter-ideograph;
    margin: 0 0 6pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
