@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : bold;
	src : url("fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("fonts/LiberationSerif-Italic.ttf");
}
@font-face {
	font-family : "Minion Pro";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/MinionPro-Bold.otf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.Font-Style28 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	color : #000000;
}
span.Font-Style27 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.67em;
	color : #000000;
}
span.Font-Style35 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style28-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	color : #000000;
}
span.Font-Style27-1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.67em;
	color : #000000;
}
span.Font-Style29 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.33em;
	color : #000000;
}
span.Font-Style37 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	color : #000000;
}
span.Font-Style40 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style35-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	color : #000000;
}
span.char-style-override-1 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-size : 1.5em;
}
span.char-style-override-3 {
	font-size : 2em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-4 {
	font-size : 0.67em;
}
span.char-style-override-5 {
	font-size : 1.17em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-6 {
	font-size : 0.83em;
}
p.G-vde {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.Style1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style7 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style8 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.53;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 120px 0px 50px 10px;
}
p.Style16 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 12px;
	margin : 0px;
}
p.Style18 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style20 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : left;
	color : #000000;
	text-indent : 12px;
	margin : 0px;
}
p.Style22 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px;
}
p.BOLUM {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 250px 0px 50px 0px;
}
p.G-vde-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.Normal {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.G-vde-2 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.Style1-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style2-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.G-vde-3 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.Style15 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style16-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 12px;
	margin : 0px;
}
p.Style15-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style23 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style24 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : left;
	color : #000000;
	text-indent : 11px;
	margin : 0px;
}
p.Style15-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style22-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px;
}
p.G-vde-4 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.Style4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.9;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-bottom : 50px;
	margin-top : 200px;
	text-align : center;
}
p.para-style-override-3 {
	text-align : center;
}
p.para-style-override-4 {
	margin-bottom : 33px;
	margin-top : 33px;
	text-align : center;
}
p.para-style-override-5 {
	margin-bottom : 33px;
	margin-right : 0px;
	margin-top : 33px;
	text-align : center;
}
p.para-style-override-6 {
	margin-top : 15px;
}
p.para-style-override-7 {
	margin-top : 15px;
	text-align : center;
}
p.para-style-override-8 {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 15px;
	text-align : center;
}
p.para-style-override-9 {
	margin-bottom : 33px;
	margin-right : 6px;
	margin-top : 33px;
	text-align : center;
}
p.para-style-override-10 {
	margin-top : 200px;
}
p.para-style-override-11 {
	margin-bottom : 50px;
	margin-top : 250px;
	text-align : center;
}
p.para-style-override-12 {
	margin-top : 4px;
}
p.para-style-override-13 {
	text-indent : 12px;
}
p.para-style-override-14 {
	margin-top : 4px;
	text-indent : 12px;
}
p.para-style-override-15 {
	margin-right : 0px;
	text-indent : 11px;
}
p.para-style-override-16 {
	margin-right : 0px;
	margin-top : 4px;
	text-indent : 11px;
}
p.para-style-override-17 {
	margin-right : 0px;
}
p.para-style-override-18 {
	margin-right : 0px;
	text-indent : 12px;
}
p.para-style-override-19 {
	text-indent : 11px;
}
p.para-style-override-20 {
	margin-top : 0px;
	text-indent : 12px;
}
p.para-style-override-21 {
	margin-top : 0px;
	text-indent : 11px;
}
p.para-style-override-22 {
	text-indent : 10px;
}
p.para-style-override-23 {
	text-indent : 13px;
}
p.para-style-override-24 {
	margin-left : 13px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-25 {
	margin-left : 12px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-26 {
	margin-right : 1px;
	text-indent : 12px;
}
p.para-style-override-27 {
	margin-right : 0px;
	margin-top : 0px;
}
p.para-style-override-28 {
	margin-right : 1px;
	text-indent : 11px;
}
p.para-style-override-29 {
	margin-right : 1px;
}
p.para-style-override-30 {
	text-align : left;
}
p.para-style-override-31 {
	margin-top : 3px;
	text-indent : 12px;
}
p.para-style-override-32 {
	margin-right : 0px;
	margin-top : 0px;
	text-indent : 12px;
}
p.para-style-override-33 {
	margin-top : 0px;
}
p.para-style-override-34 {
	margin-right : 0px;
	text-indent : 13px;
}
p.para-style-override-35 {
	margin-left : 11px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-36 {
	margin-right : 0px;
	text-indent : 10px;
}
p.para-style-override-37 {
	text-indent : 0px;
}
p.para-style-override-38 {
	margin-top : 3px;
}
p.para-style-override-39 {
	margin-right : 1px;
	margin-top : 0px;
	text-indent : 13px;
}
p.para-style-override-40 {
	margin-right : 0px;
	margin-top : 3px;
	text-indent : 11px;
}
p.para-style-override-41 {
	margin-right : 0px;
	margin-top : 0px;
	text-indent : 11px;
}
p.para-style-override-42 {
	margin-right : 1px;
	text-indent : 0px;
}
p.para-style-override-43 {
	margin-right : 1px;
	margin-top : 0px;
	text-indent : 12px;
}
p.para-style-override-44 {
	margin-left : 12px;
}
p.para-style-override-45 {
	margin-top : 4px;
	text-indent : 11px;
}
p.para-style-override-46 {
	margin-right : 0px;
	text-indent : 0px;
}
p.para-style-override-47 {
	margin-left : 13px;
	margin-top : 0px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-48 {
	margin-top : 0px;
	text-indent : 13px;
}
p.para-style-override-49 {
	margin-right : 0px;
	text-align : justify;
	text-indent : 13px;
}
p.para-style-override-50 {
	margin-right : 0px;
	text-align : justify;
}
p.para-style-override-51 {
	margin-left : 12px;
	margin-top : 0px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-52 {
	margin-top : 3px;
	text-align : left;
}
p.para-style-override-53 {
	margin-top : 1px;
	text-indent : 11px;
}
p.para-style-override-54 {
	margin-top : 3px;
	text-indent : 11px;
}
p.para-style-override-55 {
	margin-right : 0px;
	margin-top : 0px;
	text-indent : 13px;
}
p.para-style-override-56 {
	margin-top : 0px;
	text-indent : 10px;
}
p.para-style-override-57 {
	margin-right : 1px;
	margin-top : 0px;
}
p.para-style-override-58 {
	margin-right : 1px;
	margin-top : 4px;
	text-indent : 12px;
}
p.para-style-override-59 {
	margin-left : 12px;
	text-align : left;
}
p.para-style-override-60 {
	margin-left : 12px;
	margin-top : 3px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-61 {
	margin-right : 1px;
	margin-top : 3px;
	text-indent : 11px;
}
p.para-style-override-62 {
	margin-right : 1px;
	margin-top : 0px;
	text-indent : 11px;
}
p.para-style-override-63 {
	margin-top : 55px;
}
p.para-style-override-64 {
	margin-right : 0px;
	margin-top : 3px;
}
p.para-style-override-65 {
	margin-right : 1px;
	text-indent : 13px;
}
p.para-style-override-66 {
	margin-right : 1px;
	margin-top : 3px;
	text-indent : 12px;
}
p.para-style-override-67 {
	margin-left : 12px;
	text-indent : 0px;
}
p.para-style-override-68 {
	margin-left : 12px;
	margin-top : 8px;
	text-indent : 0px;
}
p.para-style-override-69 {
	margin-left : 11px;
	margin-top : 4px;
	text-indent : 0px;
}
div.Basic-Text-Frame {
}
