.appendix-title {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    text-align: center;
    text-indent: 0
    }
.attribution {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20%;
    margin-top: 1.5em;
    text-align: right;
    text-indent: 0
    }
.block-rw {
    display: block;
    margin-bottom: 0;
    margin-top: 0.25em
    }
.BookTitlePage {
    display: block
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center
    }
.calibre1 {
    height: 95%;
    width: auto
    }
.calibre2 {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 20pt
    }
.calibre7 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center
    }
.calibre8 {
    display: block;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.calibre9 {
    display: block;
    margin-top: 2.5em;
    text-align: center
    }
.calibre10 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em
    }
.calibre11 {
    display: list-item;
    font-size: 1em
    }
.center {
    display: block;
    text-align: center;
    text-indent: 0
    }
.center1 {
    text-align: center;
    text-indent: 0
    }
.center2 {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.center3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.chapter-number {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    text-align: center;
    text-indent: 0
    }
.copyright {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.copyright-space {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.copyright-title {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.disclaimer-rw {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.dropcap {
    font-size: 2em;
    line-height: 1.2
    }
.epigraph {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 15%
    }
.fixed-rw {
    display: block;
    text-align: center
    }
.galley-rw {
    display: block;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    widows: 1;
    word-spacing: 0
    }
.hidden-tag {
    display: none;
    visibility: hidden
    }
.noindent {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.noindent1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.none {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.pc {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.preface-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.right {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.signUpButton {
    -webkit-box-shadow: 0 0 5px #aaa inset;
    background: rgb(106, 115, 123);
    border-bottom-color: #444;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #444;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 5px;
    border-right-color: #444;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #444;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 1.125em;
    height: 40px;
    line-height: 1.2;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    text-decoration: none;
    width: 160px
    }
.signUpLink {
    color: white;
    text-decoration: none
    }
.small-caps {
    font-size: 0.75em
    }
.space-break {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.toc-appendix {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-indent: 0
    }
.toc-chapter {
    display: list-item;
    font-size: 1em;
    font-weight: normal;
    margin-top: 6pt;
    text-indent: 0
    }
.toc-chapter1 {
    display: list-item;
    font-size: 1em;
    font-weight: normal;
    margin-top: 15pt;
    text-indent: 0
    }
.toc-front {
    display: list-item;
    font-size: 1em;
    margin-top: 6pt;
    text-indent: 0
    }
.toc-preface {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-top: 15pt;
    text-indent: 0
    }
.welcome {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.pcalibre1:hover {
    -webkit-box-shadow: 0 0 15px #555 inset
    }
.pcalibre:active {
    -webkit-box-shadow: 0 0 15px #555 inset;
    background: #555
    }
