.block {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block1 {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block2 {
    display: block;
    font-size: 0.75em;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block3 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block4 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block5 {
    color: black;
    display: block;
    font-size: 0.75em;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block6 {
    display: block;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block7 {
    display: block;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block8 {
    display: block;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block9 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block10 {
    color: black;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.15;
    page-break-inside: avoid;
    text-align: left;
    padding: 0;
    margin: 24pt 0 0
    }
.block11 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 5pt
    }
.block12 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 5pt
    }
.block13 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 5pt 11pt
    }
.block14 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block15 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    padding: 0;
    margin: 0 0 10pt
    }
.block16 {
    color: black;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.15;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 24pt 0 0
    }
.block17 {
    display: block;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 10pt
    }
.block18 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.15;
    page-break-inside: avoid;
    padding: 0;
    margin: 10pt 0 0
    }
.block19 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 10pt
    }
.block20 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.15;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 10pt 0 0
    }
.block21 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 10pt
    }
.block22 {
    display: block;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block23 {
    display: block;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 10pt
    }
.block24 {
    display: block;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block25 {
    display: block;
    font-style: italic;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 10pt
    }
.block26 {
    display: block;
    line-height: 1.5;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block27 {
    color: black;
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 10pt
    }
.block28 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.15;
    page-break-inside: avoid;
    padding: 0;
    margin: 10pt 0 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre3 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre4 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    display: block
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-style: italic
    }
.text {
    font-size: 1.33333em
    }
.text1 {
    font-size: 1.88889em;
    line-height: 1.2
    }
.text2 {
    color: #000;
    font-size: 1.33333em
    }
.text3 {
    color: #F00;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text4 {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text5 {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }
.text6 {
    color: #00F;
    font-style: italic;
    line-height: 1.2;
    text-decoration: underline
    }
.text7 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
