


@page{margin-left:0.3cm;margin-right:0.3cm;margin-top:0.3cm;margin-bottom:0.3cm}
body{margin:0}
p{text-indent:1.4em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:"Benguiat Bk BT",serif;font-size:100%}
.p1{text-indent:1.4em;margin-right:3.5em;text-align:right;margin-top:7.5em}
.p2{text-indent:1.4em;margin-right:3.5em;text-align:right}
.p3{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:2em}
.p4{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p5{text-indent:0;margin-left:0;text-align:center}
.p6{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:1.5em;margin-bottom:0}
.p7{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:2em;margin-bottom:0}
.p9{text-indent:1.4em;margin-left:2.4em;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p10{text-indent:1.4em;text-align:center}
.p11{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:1em;margin-bottom:1em}
.p12{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-bottom:0}
.p14{text-indent:0;margin-left:0;text-align:center;margin-top:1em;margin-bottom:2.5em}
.p15{text-indent:0;margin-left:0;text-align:center;margin-top:1em;margin-bottom:1em}
.p16{text-indent:0;margin-left:12em}
.p17{text-indent:1.4em;text-align:right;page-break-after:avoid;margin-top:1em;margin-bottom:2.5em}
.p18{text-indent:0;margin-left:0;text-align:center;margin-top:1.5em}
.p19{text-indent:1.4em;margin-left:2.4em;line-height:100%;margin-top:0;margin-bottom:0}
.p20{text-indent:1.4em;line-height:100%;text-align:right;page-break-after:avoid;margin-top:1.5em;margin-bottom:0}
.p21{text-indent:1.4em;line-height:100%;text-align:right;page-break-after:avoid;margin-top:0;margin-bottom:2.5em}
.p22{text-indent:1.4em;line-height:100%;text-align:right;margin-top:1.5em;margin-bottom:0}
.p23{text-indent:1.4em;line-height:100%;text-align:right;margin-top:0;margin-bottom:2.5em}
.p24{text-indent:1.4em;margin-left:12em;line-height:100%;text-align:right;margin-top:1.5em;margin-bottom:0}
.p25{text-indent:1.4em;margin-left:12em;line-height:100%;text-align:right;margin-top:0;margin-bottom:2.5em}
.p26{text-indent:1.4em;margin-left:2.4em;margin-top:0;margin-bottom:0}
.p27{text-indent:1.4em;margin-right:1.7em;text-align:right;margin-top:.25em;margin-bottom:.25em}
.t1{font-family:"Benguiat Bk BT",serif}
.t2{font-size:2.5em;line-height:120%}
.t3{font-size:2em;line-height:120%}
.t4{font-size:1.5em;line-height:100%}
.t5{font-size:3em;line-height:100%}
.t6{font-size:2.2em;line-height:120%}
.t8{font-size:1.2em;line-height:100%}
.t11{font-size:.83em;line-height:100%}
.t12{font-size:.83em;line-height:120%;font-weight:bold}
.t13{font-size:.83em;line-height:120%}
.t14{font-size:.83em;line-height:100%;font-style:italic}
.t15{font-size:.83em;line-height:100%;font-weight:bold;font-style:italic;text-decoration:underline}
.t18{font-family:"Benguiat Bk BT",serif;font-size:.83em;line-height:120%}
.t19{font-size:1.7em;line-height:120%}
.t21{font-style:italic}
.t22{font-weight:bold}
.t23{font-size:.83em;line-height:120%;font-style:italic}
.t24{font-family:"VariShapes Solid";font-size:1.2em;line-height:120%}
.t25{font-weight:bold}
.t26{font-style:italic}
.t27{font-family:"Benguiat Bk BT",serif;font-size:.83em;line-height:120%;font-style:italic}
