p{text-indent:3.2em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:1.3em;font-family:Trebuchet,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;margin-bottom:.55em}
.p2{text-indent:0;margin-left:0;text-align:center;margin-bottom:.55em}
.p3{margin-bottom:.55em}
.p4{text-align:center;margin-bottom:.55em}
.p5{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-bottom:.55em}
.p6{text-indent:0;margin-left:0;text-align:center;margin-bottom:.45em}
.p8{text-indent:0;margin-left:0;text-align:right;margin-bottom:.55em}
.p9{text-indent:0;margin-left:0;text-align:left}
.p10{text-indent:1.3em;margin-left:0;margin-bottom:0}
.p11{margin-bottom:.091em}
.p12{margin-bottom:0}
.p13{text-align:left;margin-bottom:0}
.p14{text-indent:0;margin-left:3.2em;margin-bottom:.55em}
.p15{text-indent:-1.9em;margin-left:0;text-align:left}
.p16{text-indent:0;margin-left:0;text-align:left;margin-bottom:.55em}
.p17{text-indent:0;margin-left:0;text-align:left;margin-bottom:1.1em}
.p18{text-indent:0;margin-left:0;text-align:left;margin-bottom:.045em}
.p19{text-indent:1.3em;margin-left:1.9em;margin-bottom:.55em}
.p20{text-indent:0;margin-left:0}
.p21{text-indent:1.9em;margin-left:0;margin-bottom:0}
.p22{text-indent:1.9em;margin-left:0;text-align:left;margin-bottom:0}
.p23{text-indent:0;margin-left:0;text-align:left;margin-bottom:0}
.p24{text-indent:0;margin-left:0;margin-bottom:0}
.p25{text-indent:0;margin-left:3.2em;text-align:center;margin-bottom:0}
.p26{text-indent:0;margin-left:3.2em;margin-bottom:0}
.p27{text-align:center;margin-bottom:0}
.p28{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-top:.091em;margin-bottom:0}
.p29{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-bottom:0}
.p30{text-indent:0;margin-left:0;line-height:115%;margin-top:.091em;margin-bottom:0}
.p31{text-indent:0;margin-left:0;line-height:115%;margin-bottom:0}
.p32{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:0}
.p33{text-indent:-1.3em;margin-left:1.3em;text-align:left;margin-bottom:0}
.p34{text-indent:0;margin-left:0;margin-bottom:.045em}
.p35{text-indent:0;margin-left:0;text-align:center;margin-bottom:.045em}
.p36{text-indent:0;margin-left:0;text-align:left;margin-top:.091em;margin-bottom:0}
.p37{text-indent:0;margin-left:3.2em;line-height:115%;margin-bottom:0}
.p38{line-height:115%;margin-bottom:0}
.p39{text-align:left}
.p40{text-indent:0;margin-left:0;line-height:1.1em;text-align:left;margin-bottom:0}
.p41{text-indent:0;margin-left:0;line-height:1.1em;text-align:left;margin-top:.1em;margin-bottom:.1em}
.p42{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-bottom:0}
.p43{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p44{text-indent:.73em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p45{text-indent:-.73em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p46{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p47{text-indent:.73em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p48{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.5em}
.p49{text-indent:0;margin-left:0;line-height:.77em;text-align:left;margin-bottom:0}
.p50{text-indent:0;margin-left:0;line-height:1.2em;margin-bottom:0}
.p51{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p52{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p53{text-indent:0;margin-left:0;line-height:1.2em;margin-bottom:0}
.p54{text-indent:-.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p55{text-indent:.64em;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:1.1em}
.p56{text-indent:0;margin-left:0;line-height:1.2em;margin-bottom:0}
.p57{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p58{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p59{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p60{text-indent:-.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p61{text-indent:-.64em;margin-left:0;line-height:.77em;text-align:left;margin-bottom:0}
.p62{text-indent:-.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p63{text-indent:-.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:.51em}
.p64{text-indent:0;margin-left:0;line-height:1.3em;margin-bottom:1.1em}
.p65{text-indent:0;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:0}
.p66{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p67{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p68{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:0}
.p69{text-indent:.64em;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:1.1em}
.p70{text-indent:0;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:1.1em}
.p71{text-indent:.64em;margin-left:0;line-height:.77em;text-align:left;margin-bottom:.27em}
.p72{text-indent:.64em;margin-left:0;line-height:.77em;text-align:left;margin-bottom:0}
.p73{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p74{text-indent:.64em;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:0}
.p75{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p76{text-indent:0;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:0}
.p77{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p78{text-indent:0;margin-left:0;line-height:1.3em;margin-bottom:1.1em}
.p79{text-indent:.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.5em}
.p80{text-indent:-.64em;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1em}
.p81{text-indent:0;margin-left:0;line-height:1.3em;margin-bottom:0}
.p82{text-indent:.64em;margin-left:0;line-height:1.3em;text-align:left;margin-bottom:0}
.p83{text-indent:0;margin-left:0;line-height:1.2em;margin-bottom:0}
.p84{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.1em}
.p85{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:1.5em}
.p86{text-indent:0;margin-left:0;line-height:.68em;text-align:left;margin-bottom:0}
.p87{text-indent:0;margin-left:0;margin-top:1.3em}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;margin-top:1em;margin-bottom:1.5em;font-family:Trebuchet,sans-serif;font-size:109%;font-weight:bold;color:#222a35}
.h11{margin-left:1.5em}
.t1{font-size:1.1em;line-height:140%;font-weight:bold}
.t2{font-size:.91em;line-height:140%}
.t3{font-weight:bold}
.t4{font-style:italic}
.t5{font-size:.91em;line-height:115%}
.t6{font-size:.91em;line-height:115%;color:#0563c1;text-decoration:underline}
.t7{font-size:1.3em;line-height:140%}
.t8{font-size:.91em;line-height:140%;font-style:italic}
.t9{font-size:1.1em;line-height:140%}
.t10{text-decoration:underline}
.t11{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super}
.t12{font-size:.091em;line-height:140%}
.t13{font-size:.65em;line-height:140%;vertical-align:super}
.t14{font-size:.82em;line-height:140%;font-weight:bold;font-style:italic}
.t15{font-size:.59em;line-height:140%;font-style:italic;vertical-align:super}
.t16{font-size:.73em;line-height:140%}
.t17{font-size:.59em;line-height:140%}
.t18{font-family:"Palatino Linotype",serif}
.t19{font-size:.47em;line-height:140%;vertical-align:super}
.t20{font-family:"Palatino Linotype",serif;font-size:.091em;line-height:140%}
.t21{font-size:.59em;line-height:140%;font-weight:bold}
.t22{font-size:.59em;line-height:140%;vertical-align:super}
.t23{font-size:.091em;line-height:115%}
.t24{font-size:.82em;line-height:115%;font-weight:bold;font-style:italic}
.t25{font-size:.53em;line-height:115%;font-weight:bold;font-style:italic;vertical-align:super}
.t27{font-size:.82em;line-height:115%}
.t28{font-size:.82em;line-height:140%}
.t29{font-size:.95em;line-height:140%}
.t30{font-size:.55em;line-height:140%;font-weight:bold}
.t31{font-size:.45em;line-height:140%;font-weight:bold}
.t32{font-family:"Book Antiqua",serif;font-style:italic}
.t33{font-family:"Book Antiqua",serif}
.t34{font-size:.86em}
.t35{font-size:.091em;line-height:100%}
.t36{font-size:.91em}
.t37{font-size:.95em}
.t38{font-style:italic}
.t39{font-size:.55em;font-weight:bold}
.t40{font-size:1.1em}
.t41{font-size:.64em;font-style:italic}
.t42{font-size:.62em;line-height:140%;vertical-align:super}
.t43{font-size:.95em;line-height:140%;font-style:italic}
.t44{font-size:.95em;line-height:140%;font-weight:bold}
.t45{font-family:"Palatino Linotype",serif;font-size:.95em;line-height:140%}
.t46{font-family:"Book Antiqua",serif;font-size:.95em;line-height:140%}
.t47{font-size:.62em;line-height:140%;font-weight:bold;font-style:italic;vertical-align:super}
.t48{font-size:.95em;line-height:140%;font-weight:bold;font-style:italic}
.t49{font-size:.95em;line-height:140%;text-decoration:underline}
.th11{color:black}