a {text-decoration: none}
span.sz {}
p.tc {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 135% 'Times New Roman'}
p.tcd {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'; color: #021eaa}
p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; color: #0433ff}
p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; color: #0433ff; min-height: 21.0px}
span.s1 {}
span.s2 {text-decoration: underline ; }
span.s3 {}
span.s4 {text-decoration: underline ; color: #0533ff}
span.Apple-tab-span {white-space:pre}
