.image_left { float: left; padding-right: 8px }
.image_right{ float: right; padding-left: 8px }@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}
p{font-size:118%}
ol,ul{margin:0}
li{font-size:118%}
.linone{list-style-type:none}
.p0{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p1{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p3{text-indent:-1.4em;margin-left:1.4em;line-height:150%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p4{text-indent:-1.4em;margin-left:2.8em;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p5{text-indent:0;margin-left:2.8em;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p6{text-indent:-1.4em;margin-left:1.4em;line-height:150%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p7{text-indent:0;margin-left:0;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p8{text-indent:-1.4em;margin-left:1.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p9{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p10{text-indent:0;margin-left:1.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p11{text-indent:0;margin-left:1.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p12{text-indent:2.2em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p13{text-indent:0;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p14{text-indent:2.2em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p15{text-indent:1.1em;margin-left:7.1em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p16{text-indent:0;margin-left:0;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p17{text-indent:0;margin-left:3.3em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p18{text-indent:2.2em;margin-left:3.3em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p19{text-indent:0;margin-left:6em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p20{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p21{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:.92em;margin-bottom:0}
.p22{text-indent:1.1em;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p23{text-indent:0;margin-left:3.9em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p24{text-indent:1.1em;margin-left:5.5em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p25{text-indent:2.2em;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p26{text-indent:0;margin-left:2.2em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p27{text-indent:2.7em;margin-left:2.7em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p28{text-indent:2em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p29{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:right;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p30{text-indent:0;margin-left:0;line-height:150%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p31{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:right;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p32{text-indent:2.7em;margin-left:2.2em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p33{text-indent:.54em;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p34{text-indent:1.1em;margin-left:3.8em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p35{text-indent:0;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p36{text-indent:2.2em;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p37{text-indent:0;margin-left:6.1em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p38{text-indent:2.2em;margin-left:2.2em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p39{text-indent:-1.4em;margin-left:3.6em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p40{text-indent:-1.4em;margin-left:4.9em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p41{text-indent:0;margin-left:3.5em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p42{text-indent:0;margin-left:2.2em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p43{text-indent:.55em;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p44{text-indent:-2.2em;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p45{text-indent:-1.7em;margin-left:6.1em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p46{text-indent:0;margin-left:5.7em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p47{text-indent:4.4em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p48{text-indent:0;margin-left:2.7em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p49{text-indent:2.2em;margin-left:0;line-height:150%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p50{text-indent:0;margin-left:16em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p51{text-indent:3.3em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p52{text-indent:1.5em;margin-left:9.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p53{text-indent:2.7em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p54{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p55{text-indent:0;margin-left:0;line-height:150%;margin-right:0;widows:1;orphans:1;margin-top:.92em;margin-bottom:.77em}
.p56{text-indent:2.7em;margin-left:2.7em;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p57{text-indent:0;margin-left:4.4em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p58{text-indent:0;margin-left:4.4em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p59{text-indent:0;margin-left:4.4em;line-height:115%;margin-right:0;text-align:right;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p60{text-indent:0;margin-left:5.4em;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:.77em}
.p61{text-indent:-1.4em;margin-left:5em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p62{text-indent:-1.7em;margin-left:1.7em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p63{text-indent:0;margin-left:1.7em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p64{text-indent:-.98em;margin-left:2.7em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p65{text-indent:-2em;margin-left:2em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
h1{font-size:200%;font-weight:bold}
.h10{text-indent:0;margin-left:2.8em;line-height:115%;margin-right:2.8em;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.45em}
.h11{text-indent:0;margin-left:3.5em;line-height:115%;margin-right:3.5em;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.45em}
h2{font-size:182%;font-weight:normal}
.h20{text-indent:0;margin-left:1.4em;line-height:115%;margin-right:1.4em;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.6em}
.h21{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.6em}
h3{font-size:127%;font-weight:normal}
.h30{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.71em}
h4{font-size:127%;font-weight:normal;font-style:italic}
.h40{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.71em}
.h41{text-indent:0;margin-left:2.8em;line-height:115%;margin-right:2.8em;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.71em}
.li0{list-style-type:decimal;margin-left:2.8em;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.li1{list-style-type:upper-roman;margin-left:4.4em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.li2{list-style-type:decimal;margin-left:6.1em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.li3{list-style-type:decimal;margin-left:5em;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.t1{font-size:1.4em;line-height:115%;font-weight:bold}
.t2{font-size:.92em;line-height:115%}
.t3{font-size:1.8em;line-height:115%}
.t4{font-size:1.2em;line-height:115%;font-weight:bold;font-style:italic}
.t5{font-size:1.2em;line-height:115%;font-weight:bold}
.t6{font-size:1.1em;line-height:115%;font-weight:bold}
.t7{font-size:1.1em;line-height:115%}
.t8{font-size:.92em;line-height:150%}
.t9{font-size:.85em;line-height:115%}
.t10{font-size:1.5em;line-height:115%;font-weight:bold}
.t11{font-size:1.2em;line-height:115%}
.t13{font-style:italic}
.t14{font-size:.65em;line-height:115%;vertical-align:super}
.t15{font-size:.65em;line-height:115%;font-style:italic;vertical-align:super}
.t16{font-size:.92em;line-height:115%;font-style:italic}
.t18{font-weight:bold}
.t19{font-size:1.5em;line-height:115%}
.t20{font-size:1.1em;line-height:115%;font-style:italic}
.t21{font-size:1.4em;line-height:115%}
.t22{font-style:italic}
.t23{font-size:.77em;line-height:150%}
.t24{font-size:.5em;line-height:150%;vertical-align:super}
.t25{font-size:.55em;line-height:100%;vertical-align:super}
.t26{font-size:.85em;line-height:100%}
.t27{font-size:.85em;line-height:100%;font-style:italic}
.t28{font-size:.77em;line-height:100%}
.t29{font-size:.77em;line-height:100%;font-style:italic}
.t30{font-size:.5em;line-height:100%;vertical-align:super}
.th12{font-size:.82em;line-height:115%}
.th22{font-size:.9em;line-height:115%}
.th41{font-style:normal}