body{margin-left:5%;margin-right:5%;margin-top:5%;margin-bottom:5%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0;line-height:140%;margin-right:0;margin-top:0;margin-bottom:0;font-family:Amasis,serif;font-size:109%}
.p1{text-align:center}
.p2{margin-right:-0.15in}
.t1{font-size:1em}
.t2{font-size:1em}
.t3{font-size:1em;text-decoration:underline}
.t4{font-size:1em;text-decoration:underline}
.t5{font-size:1em;text-decoration:underline}
.t6{font-size:1em}