/*- PARAGRAF, GÖVDE -*/
body {font-family: "Literata";margin-left:.4em;margin-right:0.4em;}
p {text-align:justify;margin: 0 0 0 0;font-size:.9em;text-indent:1.5em}
.girintisiz {text-indent:0em;margin-left:0em;}
.mt1g {margin-top:1em;text-indent:0em}
.ilkharf {margin: -0.35em 0.2em -0.3em 0.0em;font-size:3.5em;float:left;font-weight:bold}
.p1 {margin-top:1em;}
hr {border: solid 0.125em;width:18em;margin-top:0.4em;margin-bottom:0.5em}
hr.mt6 {margin-top:6em}
hr.mt62 {margin-top:8em;width:15em}
hr.mb2 {margin-bottom:2em;width:15em}
p.orta {text-indent:0em;text-align:center}
.mt4 {margin-top:4em}
.ara {margin-top:3em;font-style:italic;text-indent:0em;text-align:center;margin-bottom:2em;}
.ara1 {margin:1em 0em;text-indent:0em;text-align:center}

/*- BÖLÜM -*/
.bolum {margin-top:5em}
.bolum p {text-indent:0em;text-align:center;margin-right:1em;margin-left:1em;font-size:0.85em}

/*- BAŞLIK -*/
h1 {font-size:1.8em;text-indent:0em;text-align:center;font-weight:bold;margin: 0em 0em 0em 0em}
h2 {text-align:center;font-size:2em;text-indent:0em;margin-top:6em;margin-bottom:1.5em;}

/*- BOŞLUK -*/
.mt1 {margin-top:1em}
.mt2 {margin-top:2em}
.mb1 {margin-bottom:1em}
.mb2 {margin-bottom:2em}

/*- TEŞEKKÜR -*/
.tesekkur {margin-top:3em;margin-left:1em;margin-right:1em;}
.tesekkur p {font-size:0.8em;text-indent:1.5em;}

/*- İÇ KAPAK -*/
.ickapak {margin-top:2em}
.ickapak p {text-indent:0em;text-align:center}
.yazar {font-size:1.5em;margin-bottom:0.5em;}
.kitap {font-size:2.5em;margin-bottom:2em}
.cevir {font-size:0.85em;font-weight:bold;}
.ickapak span {font-weight:normal;font-size:.9em}
.logo {margin-top:8em}


/*- YAZAR -*/
.aut {margin: 2em 1em 0em 1em;}
.aut p {font-size:0.8em;text-indent:1.5em}
p.aut1 {font-weight:bold;font-size:1em;margin-bottom:2em;margin-top:2em;text-indent:0em;text-align:center}
p.girintisiz {text-indent:0em;margin-left:0em;}

/*- KİTAPLARI -*/
.kitaplari {margin-top:2em}
.kitaplari p {font-size:0.75;text-indent:0em;margin-top:1em;text-align:center}

/*- GİRİŞ -*/
.giris {margin-top:5em}
.giris p {font-size:2em;text-indent:0em;text-align:center}

/*- İTHAF -*/
.ithaf {margin-top:5em;margin-right:1em}
.ithaf p {text-indent:0em;text-align:center}

/*- EPİGRAF -*/
.epigraf {margin:3em 1em 0em 1em}
.epigraf p {text-indent:0em;text-align:center;font-size:0.8em;margin-top:1em}

/*- KÜNYE -*/
.kunye {margin-top:0.5em}
.kunye p {text-indent:0em;text-align:center;font-size:0.75em;margin-bottom:0.75em;}

/*- KRONOLOJİ -*/
.kronoloji {clear:both; width: 100%;}
.kronoloji_sol {clear:both;
float: left; width: 10%; margin-top:1em;}
.kronoloji_sag {float: right; width: 90%;}
.kronoloji_sag_sag {float: right; text-align: justify; text-indent:0em; margin-right:0.1em; margin-top:1em; width: 47.5%;}
.kronoloji_sag_sol {clear:both;
float: left; text-align: justify; text-indent:0em; margin-right:0.1em;width: 47.5%;margin-top:1em;}
.kronoloji p {text-indent:0em; font-size:0.68em;}


/*- DİPNOT -*/
.dipnot {text-align:left;text-indent:0em;margin-top:.3em;margin-bottom:.2em;margin-left:2.5em;font-size:.8em;}

.dipnot1 {text-align:left;text-indent:0em;margin-top:1em;margin-bottom:1em;page-break-before:always;margin-left:.5em;}

a.dipnot2 {font-family: sans-serif;text-decoration: none;color: #DC143C;font-size:.75em;line-height: .9em;vertical-align: super;padding-left: 0.05em;}

/*- FONT -*/
@font-face {
    font-family: 'Literata';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/literata-regular.otf');
}

@font-face {
    font-family: 'Literata';
    font-weight: bold;
    font-style: normal;
    src: url('../Fonts/literata-bold.otf');
}

@font-face {
    font-family: 'Literata';
    font-weight: bold;
    font-style: italic;
    src: url('../Fonts/literata-bold-italic.otf');
}

@font-face {
    font-family: 'Literata';
    font-weight: normal;
    font-style: italic;
    src: url('../Fonts/literata-italic.otf');
}