body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0.04in;line-height:16pt;margin-right:0.04in;text-align:justify;margin-top:6pt;margin-bottom:0;font-family:Calibri,sans-serif;font-size:109%}
.center{text-align:center;}
