@font-face {
font-family:"Berling-Medium";
font-style:normal;
font-weight:normal;
src : url("../Fonts/BerlingLTStd-Medium.ttf");
}

@font-face {
font-family:"Gill";
font-style:normal;
font-weight:normal;
src : url("../Fonts/GillSansStd.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:normal;
	font-weight:bold;
	src : url("../Fonts/BerlingLTStd-Bold.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:italic;
	font-weight:bold;
	src : url("../Fonts/BerlingLTStd-BoldItalic.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/BerlingLTStd-Roman.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:italic;
	font-weight:normal;
	src : url("../Fonts/BerlingLTStd-Italic.ttf");
}

@font-face {
	font-family:"Gill";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/GillSansStd.ttf");
}

@font-face {
	font-family:"Gill";
	font-style:italic;
	font-weight:normal;
	src : url("../Fonts/GillSansStd-Italic.ttf");
}

@font-face {
	font-family:"Goudy";
	font-style: normal;
	font-weight: normal;
	src : url("../Fonts/GoudyCatTReg.ttf");
}

a{
  text-decoration: none;
  color: #7A7A7A;
}



/*
 *chapter
 */

p {
	font: normal .875em/1.3em "Berling";
	margin: 0;
	text-indent: 1.9em;
}

h1 {
	font: normal normal 1.25em/1.2em "Berling";
	text-align: center;
	margin: 3em 0 1.5em 0;
}

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
  font-style: normal;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
}
.si-footnote{
	font-family: Gill;
	font-size: .8em;
	margin-bottom: .25em;
}

blockquote {
	margin-left: 0;
	margin: 1em 0 0 0;
}

blockquote div span {
	display: block;
	font: normal .875em/1.3em "Berling";
	text-indent: 1.9em;
}

.epigraph {
	margin: 1em 0 0 0;
}
.epigraph-as-text {
	margin: 1em 0 0 0;
}
.after-bq , .margin-top , .quatrain {
	margin-top: 1em !important;
}

.letter {
	margin: 1em 0 0 0;
}

.by {
	text-align: right;
	margin-top: 0;
}



.epigraph-page {
	max-width: 17.5em;
	margin: 0 0 0 auto;
}
.books .books {
	font: normal normal .75em/1.3em "Gill";
	text-indent: 0;
}

.kunye .margin, .press{
  margin: .8em 0 0 ;
}
.isbn {
	margin-top: 1.2em;
}
.kunye .publisher{
	margin-top: 2em;
}
.title{
  text-align: center;
}
.aut{
  font-family: "Goudy";
  font-size: 1.7em;
  margin-bottom: 0;
}
.work{
  font-family: "Goudy";
  font-size: 2.8em;
  margin-top: .3em;
}
.seri{
  font-family: "Gill";
  font-size: 1em;
  margin-top: 3.5em
}
.trans{
  font-family: "Gill";
  font-size: .9em;
  margin-top: 1.5em;
  line-height: 1.5em
}
.logo{
  margin: 3em auto 0 auto;
  width: 60px;
  text-align: center;
}
.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
img{
  width: 100%;
}
#biography p{
  font-family: "Gill";
  font-size: .75em;
  text-indent: 0;
}
#biography .translator {
  margin-top: 2em;
}