
@font-face{
	font-family:"Berling";
	font-style:normal;
	font-weight:bold;
	src:url("font/BerlingLTStd-Bold.ttf") format("truetype");
}


@font-face{
	font-family:"Berling";
	font-style:italic;
	font-weight:normal;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype");
}


@font-face{
	font-family:"Berling";
	font-style:normal;
	font-weight:bold;
	src:url("font/BerlingLTStd-Medium.ttf") format("truetype");
}


@font-face{
	font-family:"Berling";
	font-style:normal;
	font-weight:normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype");
}


@font-face{
	font-family:"GillSans";
	font-style:italic;
	font-weight:normal;
	src:url("font/GillSansStd-Italic.ttf") format("truetype");
}


@font-face{
	font-family:"GillSansLight";
	font-style:normal;
	font-weight:normal;
	src:url("font/GillSansStd-Light.ttf") format("truetype");
}


@font-face{
	font-family:"GillSans";
	font-style:normal;
	font-weight:normal;
	src:url("font/GillSansStd.ttf") format("truetype");
}


@font-face{
	font-family:"GoudyCat";
	font-style:normal;
	font-weight:normal;
	src:url("font/GoudyCatTReg.ttf") format("truetype");
}

/*cover*/

.cover-container{
	margin: 0 auto;
	max-width: 500px;
	page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/
.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	display: block;
	text-align: left;
	margin-top: 1em;
}

.thank{
	display: block;
	text-align: center;
}

.copyright-page .publisher{
		display: block;
	text-align: center;
	margin-top: 2em;
}

.copyright-page span{
		display: block;
	text-align: left;
	font: normal normal .67em/1.3em "GillSans";
}

.copyright-page a{
	color:#777;
	text-decoration: none;
}

/*titlepage*/

.title {
	text-align: center;
}

.aut{
	margin-top: 2em;
	font:normal normal 1.9em/1.2em  "GoudyCat";
}
.aut .ilk-harf{
	font-size: 1.2em !important;
}

.work {
	font:normal normal 2.7em/1.1em  "GoudyCat";
	margin-top: .5em;
}

.seri{
		font:normal normal 1em/1.3em "GillSans";
		margin-top: 3.5em;
}
.reward{
	font:normal normal 1em/1.3em "GillSans";
	margin-top: 2.5em;
}


.publ{
	margin-top: 3.5em;
}
/*works*/

.works .container p{
	margin-top: 4em;
	font-family: "GillSans";
	font-size: .8em;
	text-indent: 0;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "GillSans";
	font-size: .8em;
	padding-bottom: .3em;
}


/*biography*/

.biography .container p{
font:normal normal .85em/1.5em "GillSans";
text-indent: 0;
}

.yazar-site {
	font:normal normal .85em/1.3em "GillSans";
	display: block;
	text-align: center;
}
.yazar-site a{
	color:#777;
	text-decoration: none;
}
/*Dedication*/
.dedication span{
	font:normal normal .9em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 3.5em;
}
/*Part*/
.part p{
	font: normal normal 1.5em/1.3em "Berling";
	text-align: center;
	margin-top: 5em;
}

.part .part-epigraph{
	font:normal normal .9em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 3.5em;
}

.part cite{
	font:normal normal .9em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 1em;
}

/*Epigraph*/
.epigraph p{
	font:normal normal .9em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 3.5em;
}

.epigraph cite{
	font:normal normal .9em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 1em;
}
/*Chapter*/
.chapter h1{
	font: normal normal 1.25em/1.3em "Berling";
	display: block;
	text-align: center;
	margin-top: 3.5em;
	margin-bottom: 2em;
}

.chapter h2{
	font: normal bold 1em/1.3em "Berling";
	text-indent: 1.7em;
	margin-top: 1.3em;
	text-align: center;
}

.chapter .ic-baslik{
	font: normal bold 1em/1.3em "Berling";
	text-indent: 0;
	margin-top: 1.3em;
	text-align: left;
}

.chapter .sola-hizali{
	font: normal bold 1em/1.3em "Berling";
	text-indent: 0;
	margin-top: 1.3em;
	text-align: left;
}

.chapter p{
	font: normal normal .9em/1.3em "Berling";
	text-indent: 1.7em;
	margin:0;
}

.chapter .gap{
	margin-top: 2em;
}

.chapter .ithaf{
	font: normal normal .9em/1.2em "Berling";
	display: block;
	text-align: right;
}

hr{
	border: none;
	text-align: center;
	margin:1.5em 0 1em;
}
hr:after{
	content:"* * *";
	font: normal bold 1em/1.3em "Berling";
}
.chapter .mektup{
	margin-top: 1em;
}
.chapter .mektup p{
	font: normal normal .95em/1.3em "GillSansLight";
	text-indent: 1.7em;
}

.chapter .mektup .sag-metin{
	font: normal normal .95em/1.3em "GillSansLight";
	display: block;
	text-align: right;
	margin-bottom: 1.5em;
}

.chapter table{
	padding-left: 1.7em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.chapter td {
	font: normal normal .9em/1.3em "Berling";
	vertical-align: top;
}

.dash{
	
	width: 3em;
	text-align: center;
}

/*common*/
.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
  line-height: 1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "GillSans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}
a{
	text-decoration: none;
	color: #7A7A7A;
}