@page {
  margin-right: 5pt;
  margin-top: 5pt;
  margin-left: 5pt;
  margin-bottom: 5pt;
  }
.bold {
  font-weight: bold;
}
.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 6pt 0 0;
}
.calibre3 {
  font-size: 1.5em;
  line-height: 1.2;
}
.calibre4 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre5 {
  font-size: 1.375em;
  line-height: 1.2;
}
.calibre6 {
  display: block;
  text-align: left;
  text-indent: 0;
  margin: 0 0 0 2em;
}
.calibre7 {
  font-size: 0.75em;
}
.calibre8 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 11pt 0 0;
}
.calibre9 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 13pt 0 0;
}
.calibre10 {
  font-size: 1.25em;
  line-height: 1.2;
}
.calibre11 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 15pt 0 0;
}
.calibre12 {
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre13 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 1em 0 0;
}
.calibre14 {
  height: 60px;
  vertical-align: baseline;
  width: 21px;
}
.calibre15 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 15pt 0 0;
}
.calibre16 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre17 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre18 {
  color: blue;
}
.calibre19 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 1em 0 0 2em;
}
.calibre20 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 11pt 0 0 2em;
}
.calibre21 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 4pt 0 0 2em;
}
.calibre22 {
  display: block;
  text-align: right;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre23 {
  height: 195px;
  vertical-align: baseline;
  width: 195px;
}
.calibre24 {
  height: 76px;
  vertical-align: baseline;
  width: 195px;
}
.calibre25 {
  height: 176px;
  vertical-align: baseline;
  width: 176px;
}
.calibre26 {
  height: 167px;
  vertical-align: baseline;
  width: 167px;
}
.italic {
  font-style: italic;
}
.mbppagebreak {
  display: block;
  page-break-after: always;
  margin: 0;
}
.underline {
  text-decoration: underline;
}
