


@page{margin-left:0.3cm;margin-right:0.3cm;margin-top:0.3cm;margin-bottom:0.3cm}
body{margin:0}
p{text-indent:1.4em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:"Benguiat Bk BT",serif;font-size:109%}
.p0{text-indent:1.4em;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:1.4em;margin-right:3.5em;text-align:right;margin-top:7.5em}
.p2{text-indent:1.4em;margin-right:3.5em;text-align:right}
.p4{text-indent:1.4em;text-align:center}
.p5{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:2em}
.p6{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p7{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:2em;margin-bottom:0}
.p8{text-indent:0;margin-left:0;text-align:center}
.p9{text-indent:1.4em;margin-left:2.4em;text-align:left;margin-top:2em}
.p10{text-indent:1.4em;margin-left:2.4em;text-align:left}
.p11{text-indent:0;margin-left:2.4em;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p12{text-indent:0;margin-left:0;text-align:center;margin-top:1em;margin-bottom:1em}
.p13{text-indent:1.4em;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p14{text-indent:1.4em;text-align:right}
.p15{text-indent:0;margin-left:12em}
.p16{text-indent:0;margin-left:0;text-align:right;margin-top:1.5em;margin-bottom:2.5em}
.p17{text-indent:0;margin-left:0;text-align:center;margin-top:2em}
.p18{text-indent:1.4em;line-height:100%;text-align:right;margin-top:1.5em;margin-bottom:0}
.p19{text-indent:1.4em;line-height:100%;text-align:right;margin-top:0;margin-bottom:2.5em}
.p20{text-indent:1.4em;line-height:100%;text-align:right;margin-top:0;margin-bottom:0}
.p21{text-indent:0;margin-left:0;text-align:center;margin-top:1.5em}
.p22{text-indent:1.4em;line-height:100%}
.p23{text-indent:0}
.t1{font-weight:bold}
.t2{font-size:3em;line-height:120%}
.t3{font-size:2.5em;line-height:120%}
.t4{font-size:.92em;line-height:120%;font-weight:bold}
.t5{font-size:.92em;line-height:120%}
.t6{font-size:.92em;line-height:120%;font-style:italic}
.t7{font-size:.92em;line-height:120%;font-weight:bold;font-style:italic;text-decoration:underline}
.t8{font-size:.92em;line-height:120%;font-weight:bold;font-style:italic}
.t10{color:#0066cc;text-decoration:underline}
.t11{font-size:1.5em;line-height:100%}
.t12{font-size:3em;line-height:100%}
.t13{font-size:.92em;line-height:100%}
.t15{font-family:SLBookArts;font-size:6em;line-height:120%}
.t16{font-size:1.7em;line-height:120%;font-weight:bold}
.t17{font-style:italic}
.t18{font-size:.83em;line-height:120%;font-style:italic}
.t19{font-size:.65em;line-height:120%;vertical-align:super}
.t20{font-size:1.1em;line-height:120%}
.t21{font-family:"VariShapes Solid";font-size:1.2em;line-height:120%}
.t22{font-family:"Times New Roman",serif;font-size:1.1em;line-height:120%}
.t23{font-size:.92em;line-height:100%;font-weight:bold}
.t24{font-weight:bold}
.t25{font-style:italic}
.t26{font-weight:bold;font-style:italic}
.t27{font-size:.65em;line-height:100%;vertical-align:super}
.t28{font-size:.83em;line-height:100%}