p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:.4em;margin-bottom:.4em;font-family:Cambria,serif;font-size:109%}
.p0{text-indent:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;text-align:left;margin-top:0;margin-bottom:0}
.p4{text-indent:0;text-align:left;margin-top:1.5em;margin-bottom:0}
.p5{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:.88em;margin-bottom:.88em;font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
.t1{font-family:"Times New Roman",serif}
.t2{font-size:1.5em}
.t3{font-size:1.7em;font-weight:bold}
.t4{font-style:italic}
.t6{font-size:.65em;vertical-align:super}
.t7{font-family:"Calibri Light",sans-serif;font-weight:bold}
.t8{font-family:Calibri,sans-serif;font-size:.92em}