.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.calibre2 {
    font-family: "Book Antiqua", serif;
    font-size: 0.88889em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 0.88889em;
    line-height: 1.2
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: block
    }
.calibre6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0
    }
.calibre8 {
    display: block
    }
.calibre9 {
    height: 39px;
    width: 56px
    }
.calibre10 {
    font-family: "Book Antiqua", serif;
    font-size: 1em;
    line-height: 1.2
    }
.calibre11 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 16pt;
    margin: 0
    }
.calibre12 {
    font-size: 0.88889em;
    line-height: 1.2;
    text-transform: uppercase
    }
.calibre13 {
    font-weight: bold
    }
.calibre14 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 17pt;
    margin: 0
    }
.calibre15 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 14pt;
    margin: 0
    }
.calibre16 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 15pt;
    margin: 0
    }
.calibre17 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt;
    margin: 0
    }
.calibre18 {
    color: gray;
    display: block;
    height: 2px;
    text-align: center;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre19 {
    font-family: "Book Antiqua", serif;
    line-height: 1.2
    }
.calibre20 {
    color: windowtext;
    display: none;
    text-decoration: none
    }
.calibre21 {
    color: gray;
    display: block;
    height: 2px;
    text-align: left;
    margin: 0.5em auto;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px
    }
.calibre22 {
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2
    }
.calibre23 {
    background: white;
    color: #252525;
    font-family: "Book Antiqua", serif
    }
.calibre24 {
    -webkit-text-stroke-width: 0;
    float: none;
    orphans: auto;
    text-align: start;
    widows: 1;
    word-spacing: 0
    }
.calibre25 {
    background: white;
    font-family: "Book Antiqua", serif
    }
.calibre26 {
    color: #252525
    }
.font {
    font-family: "Times New Roman", serif
    }
.font1 {
    font-family: "Book Antiqua", serif
    }
.font2 {
    font-family: "Franklin Gothic Medium Cond", sans-serif
    }
.font3 {
    font-family: "Trebuchet MS", sans-serif
    }
.font4 {
    font-family: "AngsanaUPC", serif
    }
.font5 {
    font-family: "Constantia", serif
    }
.font6 {
    font-family: "Calibri", sans-serif
    }
.font7 {
    font-family: "FrankRuehl", sans-serif
    }
.msoendnotereference {
    vertical-align: super
    }
.msoendnotetext {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.88889em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.msohyperlink {
    color: blue;
    text-decoration: underline
    }
.msonormal {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.msotoc {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    tab-stops: right dotted 277.3pt;
    text-indent: 1.5em;
    margin: 0 0 0 12pt
    }
.msotocheading {
    border-bottom: 0;
    border-top: 0;
    color: #2E74B5;
    display: block;
    font-family: "Calibri Light", sans-serif;
    font-size: 1.11111em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center;
    margin: 0
    }
.wordsection {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection1;
    text-indent: 1.5em
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
