h1
	{
	text-indent:0em;
	margin-top:1em;
	margin-bottom:8em;
	text-align:center;
	font-size:1.0em;
	font-weight:normal;
	}

.kisim {margin-top:4em;}

.onsoz {margin-left:5em;text-indent:0em;}

.dipnot1 {page-break-before: always;}

h2
	{
	text-indent:0em;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	font-size:1.0em;
	font-weight:normal;
	}

h3
	{
	text-indent:0em;
	margin-top:1.5em;
	margin-bottom:1em;
	font-weight:bold;
	text-align:center;
	font-size:normal;
	}

h4
	{
	margin-top:0em;
	margin-bottom:6em;
	font-weight:normal;
	text-align:center;
	font-size:0.9em;
	text-indent:0em;
	}

p
	{
	text-align:justify;
	text-indent:1em;
	margin-top:0.0em;
	margin-bottom:0.0em;
	font-size: small;
	}
.p1
	{
	text-indent:0em;
	}

.kunye
	{
	text-align:left;
	text-indent:0em;
	margin-top:0em;
	margin-left:1em;
	margin-bottom:0em;
	font-size: 0.7em;
	}

.yazar
	{
	text-align:justify;
	text-indent:-1em;
	margin-top:0em;
	margin-left:1em;
	margin-bottom:0em;
	font-size: 0.7em;
	}

.yazar1
	{
	text-align:justify;
	text-indent:1em;
	margin-top:0em;
	margin-left:1em;
	margin-bottom:0em;
	font-size: 0.7em;
	}

.logo {
 margin-top:5em;
 text-indent:0em;
 text-align:center;
}

.m2ti0 {
 margin-left:2.5em;
 text-indent:0em;
 font-size:.79em;}

.m2ti1 {
 margin-left:2.5em;
 text-indent:1em;
 font-size:.79em;}

.yildiz
	{
	font-size:1em;
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
	}

.baslik
	{
	text-align:center;
	font-style:bold;
	text-indent:0em;
	font-size:1.7em;
	margin-top:2em;
	margin-bottom:0.5em;
	}

.baslik2
	{
	text-align:center;
	font-style:bold;
	font-size:3.5em;
	text-indent:0em;
	margin-top:0em;
	margin-bottom:0em;
	}

.baslik3
	{
	text-align:center;
	font-style:bold;
	text-indent:0em;
	font-size:.8em;
	margin-top:0.3em;
	margin-bottom:1em;
	}

.baslik35
	{
	text-align:center;
	font-style:bold;
	text-indent:0em;
	font-size:1.0em;
	margin-top:0.5em;
	margin-bottom:0em;
	}

.baslik4
	{
	text-align:center;
	font-size:.9em;
	text-indent:0em;
	margin-top:1em;
	margin-bottom:0em;
	}

.baslik5
	{
	text-align:center;
	font-style:bold;
	text-indent:0em;
	font-size:.9em;
	margin-top:1em;
	margin-bottom:4em;
	}

.dipnot
	{
	text-align:align-left;
	text-indent:2em;
	margin-top:1em;
	margin-bottom:1em;	
	margin-left:2em;
	}

.dipnot1
	{
	text-align:align-left;
	text-indent:2em;
	margin-top:1em;
	margin-bottom:1em;
	page-break-before: always;
	margin-left:2em;
	}


.border1 
	{
	border-top: 0;
	border-top-color: black;
	border-top-style: solid;
	color: black;
	text-align: justify;
	padding: 0 4pt;
	border-top: black solid 1pt;
	margin-left: 0.7em;
	margin-right: 0.7em
	}

.ilkharf
	{
	font-size:1.15em;
	font-style:bold;
	}

.lettrine 
	{
	float: left; 
	margin: 0 0.5em -0.1em 0.25em; 
	}

.kaynakca
	{margin-left:3em;text-indent:-1em;}
.kronoloji {clear:both; width: 100%;}
.kronoloji_sol {clear:both;
float: left; width: 10%; margin-top:1em;}
.kronoloji_sag {float: right; width: 90%;}
.kronoloji_sag_sag {float: right; text-align: justify; text-indent:0em; margin-right:0.1em; margin-top:1em; width: 47.5%;}
.kronoloji_sag_sol {clear:both;
float: left; text-align: justify; text-indent:0em; margin-right:0.1em;width: 47.5%;margin-top:1em;}

.kronoloji p {text-indent:0em; font-size:0.68em;}