@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    panose-1: 2 4 5 2 5 4 5 2 3 3;
    font-family: "Georgia";
    src: url(../Fonts/Georgia.ttf)
    }
@font-face {
    panose-1: 2 4 8 2 5 4 5 2 2 3;
    font-weight: bold;
    font-family: "Georgia";
    src: url(../Fonts/Georgia-Bold.ttf)
    }
@font-face {
    panose-1: 2 4 5 2 5 4 5 9 3 3;
    font-style: italic;
    font-family: "Georgia";
    src: url(../Fonts/Georgia-Italic.ttf)
    }
@font-face {
    panose-1: 2 4 8 2 5 4 5 9 2 3;
    font-weight: bold;
    font-style: italic;
    font-family: "Georgia";
    src: url(../Fonts/Georgia-Bold-Italic.ttf)
    }
