@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.Preference-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.96em;
	font-variant : normal;
	vertical-align : super;
	color : #000000;
}
span.italik-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-variant : normal;
	color : #000000;
}
span.x-aleyhisselam--E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dipnot-italic {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
}
span.bold-E {
	font-weight : bold;
	font-style : normal;
	color : #000000;
}
span.arabic-E {
	font-family : Uhuvvet, serif;
	font-weight : normal;
	font-style : normal;
}
span.bold-kaynakca {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	color : #000000;
}
span.italic-kaynakca {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
}
p.b--Paragraf-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 1px 14px;
}
p.x1-baslik-E {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 142px 0px 85px 0px;
}
p.x2-baslik-E {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 17px 0px 11px 0px;
}
p.a--Metin {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 3px 0px;
}
p.jenerik-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 0px;
}
p.Kitap-ism-E {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 2em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 0px;
}
p.yazar-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 43px 0px 14px 0px;
}
p.Jen-kapak {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.arabic-E {
	font-family : Uhuvvet, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.67;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 3px 0px;
	direction : rtl;
}
p.Kaynakca {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.4;
	text-align : justify;
	color : #000000;
	text-indent : -26px;
	margin : 0px 0px 0px 26px;
}
div.Basic-Text-Frame {
}
