/*cover*/

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/


.press {
	margin-bottom: 2em;
}

.copyright-page .copy{
	margin-top: .8em;
}
.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:.75em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;
	
}

/*titlepage*/

.title{
	text-align: center;
}
.aut{
	font-family: "GoudyCat";
	font-size: 2em;
	margin-bottom: 0;
}
.aut span{
	font-size: 1.2em;
}
.work{
	font-family: "GoudyCat";
	font-size: 2.4em;
	line-height: 1em;
	margin-top: .5em;
}
.seri{
	font-family: "Gill Sans";
	font-size: .92em;
	margin-top: 5em
}

.trans {
	font-family: "Gill Sans";
	font-size: .83em;
	margin-top: 2.5em;
}

.trans span{
	font-size: 1.2em;
	line-height: 2.5em;
}

.logo{
	margin: 3em auto 0 auto;
}

/*biography*/

.biography p{
	font-family: "Gill Sans";
	font-size: .75em;
	text-indent: 0;
}

.trl {
	margin-top: 2em;
}

.works-container p{
	margin-top: 2em;
	font-family: "Gill Sans";
	font-size: .75em;
	text-indent: 0;
}

.works-container ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works-container ul li {
	font-family: "Gill Sans";
	font-size: .75em;
	padding-bottom: .3em;
	padding-left: 1em;
	text-indent: -1em;
}


/*chapter*/

.chapter .container {
	margin-top: 4em;
}

.chapter-header {
	font:normal normal 1.25em/1.3em "Berling";
	text-align: center;
	margin-bottom: 2em;
}

.chapter p {
	font:normal normal .875em/1.3em "Berling";
	margin: 0 auto;
	text-indent: 2em;
}

.chapter .margin-top {
	margin-top: 2em;
}

.chapter .margin-top-lw {
	margin-top: 1em;
}

.chapter blockquote {
	margin:0;
	padding: 0;
}

.chapter blockquote p {
	margin: 2em auto 2em auto;
}

figure {
	width: 99.5%;
	max-width: 720px;
	margin:1em auto;
	page-break-inside: avoid;
}

figure img {
	width: 100%;
}

hr {
	border: none;
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: .5em; 
}

hr:after {
	content: "* * *";
	color:#000;
	font:normal normal 1.2em/1.3em "Berling Medium";
}

/*common*/

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}



