p{text-indent:3.2em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-size:100%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;text-align:center}
.p2{text-indent:0;margin-left:.36em;line-height:150%;text-align:center;margin-bottom:0}
.p3{text-indent:0;margin-left:.36em;line-height:150%;text-align:center;margin-bottom:.24em}
.p4{text-indent:0;margin-left:.36em;line-height:150%;text-align:center;margin-bottom:.31em}
.p5{text-indent:0;margin-left:.36em;line-height:150%;text-align:center;margin-bottom:.27em}
.p6{text-indent:0;margin-left:.36em;line-height:150%;text-align:center;margin-bottom:.2em}
.p7{text-indent:0;margin-left:.36em;line-height:150%;text-align:center;margin-bottom:.62em}
.p8{text-indent:0;margin-left:0;text-align:center;margin-bottom:.45em}
.p10{text-indent:0;margin-left:.36em;line-height:1.1em;text-align:center;margin-bottom:0}
.p11{text-indent:3.2em;margin-left:.18em;margin-right:.27em}
.p12{text-indent:3.2em;margin-left:.18em}
.p13{text-indent:3.2em;margin-left:.091em;margin-right:.18em}
.p14{text-indent:3.2em;margin-left:.18em;margin-right:.091em}
.p15{text-indent:3.2em;margin-left:.18em;margin-right:.18em}
.p16{text-indent:3.2em;margin-left:.091em;margin-right:.091em}
.p17{text-indent:3.2em;margin-left:.27em;margin-right:.18em}
.p18{text-indent:0;margin-left:3.2em;text-align:center}
.p19{text-indent:3.2em;margin-left:.55em;margin-right:.18em}
.p20{text-indent:3.2em;text-align:center}
.p21{text-indent:3.2em;margin-left:.091em}
.p22{text-indent:1.6em;margin-left:.18em;line-height:1.4em;margin-right:.18em;margin-bottom:0}
.p23{text-indent:3.2em;text-align:center;margin-bottom:0}
.p24{text-indent:0;margin-left:0;line-height:1.3em;text-align:center;margin-bottom:0}
.p25{text-indent:3.2em;margin-left:.27em;margin-right:.27em}
.p26{text-indent:3.2em;margin-left:.27em}
.p27{text-indent:0;margin-left:0;line-height:1.3em;margin-right:.18em;text-align:center;margin-bottom:1.6em}
.p28{text-indent:0;margin-left:.36em;line-height:1.4em;margin-right:.18em;text-align:right;margin-bottom:0}
.p29{text-indent:3.2em;margin-left:.18em;margin-right:.91em}
.p30{text-indent:0;margin-left:.18em;line-height:1.3em;text-align:center;margin-bottom:0}
.p31{text-indent:2.3em;margin-left:.27em;line-height:1.4em;margin-right:.18em;margin-bottom:0}
.p32{text-indent:0;margin-left:0;line-height:3.1em;margin-right:.091em;text-align:center;margin-bottom:0}
.p33{text-indent:0;margin-left:0;line-height:1.3em;text-align:center;margin-bottom:0}
.p34{text-indent:0;margin-left:0;line-height:1.3em;margin-right:.091em;text-align:center;margin-bottom:1.1em}
.p35{text-indent:0;margin-left:0;line-height:1.3em;margin-right:.091em;text-align:center;margin-bottom:0}
.p36{text-indent:0;margin-left:.27em;line-height:1.4em;margin-right:11em;text-align:right;margin-bottom:0}
.p37{text-indent:3.2em;margin-left:.36em;margin-right:.18em}
.p38{text-indent:0;margin-left:5.2em;margin-bottom:0}
.p39{text-indent:3.2em;margin-left:.27em;margin-right:.091em}
.p40{text-indent:2em;margin-left:.091em;line-height:1.4em;margin-right:.091em;margin-bottom:0}
.p41{text-indent:0;margin-left:.091em;line-height:1.3em;margin-bottom:0}
.p42{text-indent:3.2em;margin-right:.27em}
.p43{text-indent:0;margin-left:0}
.p44{text-indent:3.2em;margin-left:.091em;margin-right:.27em}
.p45{text-indent:2em;margin-left:.27em;line-height:1.3em;margin-right:.091em;margin-bottom:.25em}
.p46{text-indent:0;margin-left:.18em;line-height:100%;text-align:center;margin-bottom:2.4em}
.p47{text-indent:3.2em;margin-left:.18em;margin-right:1.2em}
.p48{text-indent:3.2em;margin-right:.73em}
.p49{text-indent:3.2em;margin-left:2.1em;margin-right:11em}
.p50{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-bottom:0}
.p51{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1em;margin-bottom:1.5em;font-size:109%;font-weight:bold;color:#171717}
.h11{text-indent:0}
.t2{font-size:.91em;line-height:150%}
.t3{font-size:.91em;line-height:150%;font-weight:bold;font-style:italic}
.t4{font-size:.91em;line-height:150%;color:#0066cc;text-decoration:underline}
.t5{font-size:.91em;line-height:150%;font-weight:bold;font-style:italic;color:#0066cc;text-decoration:underline}
.t6{font-size:.91em;line-height:140%}
.t7{font-size:1.1em;line-height:140%}
.t8{font-size:.91em;line-height:150%;text-decoration:underline}
.t9{font-size:.68em;text-decoration:underline}
.t10{font-size:.91em;line-height:140%;font-weight:bold;font-style:italic}
.t11{font-style:italic}
.t12{font-size:.82em;font-weight:bold}
.t13{font-size:.82em;line-height:140%;font-weight:bold}
.t14{font-size:.91em;font-weight:bold;font-style:italic}
.t15{font-size:1.3em}
.t17{font-size:.36em;line-height:100%}
.t18{font-weight:bold}
.t19{font-size:.91em;line-height:140%;font-weight:bold}
.t20{font-size:.091em;line-height:100%}