/* ==================== RH Styles ===================== */

h1.otherbooks {
text-align: center;
font-size: medium;
margin-bottom: 1em;
margin-top: 4em;
}

div.otherbooks {
margin-top: 4em;
font-size: small;
margin-left: 2em;
margin-right: 2em;
}

div.copyright {
font-size: small;
text-align: center;
margin-top: 4em;
}

div.dedication {
font-size: small;
margin-top: 4em;
}

div.epigraph {
font-size: medium;
margin-left: 12em;
margin-right: 4em;
margin-bottom: 2em;
margin-top: 2em;
}

div.epigraphsource {
font-size: x-small;
text-align: right;
font-style: italic;
margin-bottom: 12em;
margin-right: 2em;
}

h1.acknowledgments {
font-size: medium;
margin-top: 4em;
text-align: center;
font-weight: bold;
}

div.acknowledgments {
font-size: small;
text-align: justify;
margin-left: 2em;
margin-right: 2em;
}

h1.authorsnote {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.authorsnote {
font-size: small;
text-align: justify;
}

h1.listoffigures {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.listoffigures {
font-size: small;
text-align: left;
}

h1.chronology {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.geneology {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.foreword {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.preface {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.introduction {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.prologue {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.part {
margin-top: 3em;
font-size: 4em;
text-align: center;
font-weight: bold;
}

h1.part1 {
margin-top: 3em;
font-size: xx-large;
text-align: center;
font-weight: bold;
line-height: 1em;
margin-bottom: 2em;
}

h1.chapter {
font-size: large;
text-align: center;
font-weight: bold;
line-height: 1em;
margin-top: 2em;
margin-bottom: 3em;
}

h1.subchapter {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.epilogue {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.coda {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.conclusion {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.afterward {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.permission {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.glossary {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

span.glosaryterm {
font-size: small;
text-align: left;
margin-right: 1em;
}

span.glosarydef {
font-size: small;
text-align: left;
margin-right: 1em;
}

h1.appendix {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.resource {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.notes {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.note {
font-size: x-small;
text-align: justify;
margin-left: 1em;
}

h1.source {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.bibliography {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.bibliography {
font-size: x-small;
text-align: justify;
margin-left: 2em;
font-weight: bold;
}

h1.suggestedreading {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.abouttheauthor {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.block {
margin-left: 1.2em;
margin-right: 3em;
margin-top: 1em;
margin-bottom: 1em;
font-size: small;
}

p.smallheight {
margin-top: 1em;
margin-bottom: 1em;
}

p.mediumheight {
margin-top: 2em;
margin-bottom: 2em;
}

p.attribution {
text-align: center;
}


p.largeheight {
margin-top: 3em;
margin-bottom: 3em;
}

div.list {
font-size: small;
margin-left: 1em;
}


h1.box {
font-size: medium;
font-style: italic;
text-align: center;
}

div.box {
font-size: small;
margin-left: 1em;
}

p.caption {
font-size: x-small;
font-style: italic;
text-align: justify;
margin-bottom: 1em;
}


/* ===================== Added Styles ===================== */

p.indent{
text-indent: 1.00em;
text-align: justify;
}

p.right {
text-align: right;
}

p.center {
margin-top: 1em;
text-align: center;
margin-bottom: 1em;
}

a.hlink {
text-decoration: none;
}

p.figure {
margin-top: 0.5em;
text-align: center;
margin-bottom: 2em;
}

h1.subtitle {
font-size: x-large;
text-align: center;
font-weight: bold;
margin-bottom: 4em;
}


h1.contents {
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h2.title {
font-size: medium;
text-align: center;
}

p.smallheight {
margin-top: 1em;
}

p.mediumheight {
margin-top: 2em;
}

p {
margin-top: .1em;
margin-bottom: .1em;
}

div.cover{
height: 100%;
}

img{
max-height: 100%;
max-width: 100%;
}

div.titlepage {
margin-top: 1.2em;
margin-left: -.4em;
}

a.pubhlink {
text-decoration: none;
color: green;
}

p.extract {
text-align: justify;
margin-top: 2em;
}

p.extract2 {
text-align: justify;
margin-top: 1em;
}

div.textbox {
border-bottom: 3px double;
border-top: 3px double;
line-height: 1.7em;
text-align: center;
}

p.textbox{
text-align: justify;
margin-left: 1em;
margin-right: 1em;
}

p.textbox1{
text-indent: 1.00em;
text-align: justify;
margin-left: 1em;
margin-right: 1em;
}

h1.caption {
font-size: medium;
margin-bottom: 1em;
}

p.box {
border-bottom: 1px double;
border-left: 1px double;
border-top: 1px double;
border-right: 1px double;
text-align: justify;
}

div.abstract {
font-size: small;
text-align: justify;
margin-left: 2em;
margin-right: 2em;
}

div.appendix {
font-size: small;
text-align: justify;
}

p.reference {
text-align: justify;
text-indent: -1.00em;
margin-left: 1em;
}

div.biboliography {
font-size: medium;
text-align: justify;
}

div.preface {
font-size: small;
text-align: justify;
margin-left: 2em;
margin-right: 2em;
}

p.cop {
margin-bottom: 1em;
}

p.nonindent{
text-align: justify;
}

span.small{
font-size: small;
}

span.small1{
font-size: 80%;
}

div.toc {
font-size: medium;
text-align: center;
}

p.stanga{
text-align: justify;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
}

body
{
font-size: medium;
line-height: 1.2em;
margin-top: 1em;
margin-left: 1em;
margin-right: 2em;
font-family: "Charis";
}

@font-face {
font-family: "Charis";
font-style: normal;
font-weight: normal;
src:url(../Fonts/CharisSILR.ttf);
}

@font-face {
font-family: "Charis";
font-style: normal;
font-weight: bold;
src:url(../Fonts/CharisSILB.ttf);
}

@font-face {
font-family: "Charis";
font-style: italic;
font-weight: normal;
src:url(../Fonts/CharisSILI.ttf);
}

@font-face {
font-family: "Charis";
font-style: italic;
font-weight: bold;
src:url(../Fonts/CharisSILBI.ttf);
}

h3.title {
font-size: medium;
text-align: center;
margin-bottom: 3em;
}

span.dropcaps {
float: left;
font-size: 50px;
line-height: 50px;
padding-top: 1px;
margin-top: -.09em;
margin-right: .09em;
}

sup.small
{
		font-size:	small;
		line-height:	0.0em;
}

div.footnote
{
		font-size:	small;
		border-style: solid;
		border-width: 1px 0 0 0;
		margin-top: 2em;
}

p.footnote
{
text-indent: 1.00em;
text-align: justify;
font-size:	small;
}

p.question{
text-align: justify;
margin-top: 1em;
}

div.small-page
{
margin-top: 2em;
font-size: medium;
margin-left: 12em;
margin-right: 6em;
}

h1.toc {
font-size: medium;
margin-bottom: 1em;
}

p.crt{
text-align: justify;
}

ol.upperalpha
{
	text-align: justify;
	list-style-type: upper-alpha;
}

ol.arabic
{
	text-align: justify;
}
ul.bullet
{
	text-align: justify;
}

ul.none
{
	text-align: justify;
	list-style-type: none;
}

p.hanging
{
text-indent: -1em;
font-size: medium;
margin-left: 2.5em;
margin-top: 0.5em;
}

span.line {
font-size: small;
border-bottom: 3px solid;
}

span.big{
font-size: xx-large;
}

span.underline {
text-decoration: underline;
}

p.center1 {
margin-top: 1em;
text-align: left;
margin-left: 8em;
margin-bottom: 1em;
}

p.center2 {
margin-top: 2em;
text-align: center;
margin-bottom: 1em;
}

p.nonindent1{
text-align: justify;
font-size: small;
}

span.big1{
font-size: x-large;
}
span.big2{
font-size: large;
}
h1.chapter1 {
font-size: large;
text-align: center;
font-weight: bold;
line-height: 1em;
margin-top: 2em;
margin-bottom: 3em;
}


h2.section {
text-align: center;
font-size: medium;
margin-bottom: 1em;
margin-top: 2em;
}

h3.section {
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 2em;
}

h4.section {
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 2em;
}

h5.section {
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 2em;
}

span.strike
{
text-decoration: line-through;
}

p.extract1 {
text-align: justify;
margin-top: 2em;
text-indent: 1.00em;
}

ul.disc
{
list-style-type: disc;
}

ol.arabic
{
list-style-type: decimal;
}

ol.upper-alpha
{
list-style-type: upper-alpha;
}

ol.lower-alpha
{
list-style-type: lower-alpha;
}

ol.upper-roman
{
list-style-type: upper-roman;
}

ol.lower-roman
{
list-style-type: lower-roman;
}

div.chapter {
margin-top: 4em;
font-size: small;
margin-left: 1em;
margin-right: 1em;
}

div.block1 {
margin-left: 1em;
margin-right: 3em;
margin-top: 1em;
margin-bottom: 1em;
font-size: small;
}

p.pagebreak
{
page-break-after: always;
}

sup {
	vertical-align: 4px;
}

sup.frac {
	font-size: 0.7em;
}

sup.frac, sub.frac {
	font-size: 0.7em;
}

