<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>B00CD4F71B13EF2B2535CC0B37F36196</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>AFD5ECCFE65D0F171EC5BA5D3AD74A60</string>
		<key>publisher-unique-id</key>
		<string>392424d0-485b-4c10-a8cc-138f336a53f7</string>
		<key>unique-id</key>
		<integer>-6170603447967459276</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Olağan İşler</string>
	<key>playlistName</key>
	<string>Olağan İşler</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
</dict>
</plist>
