.block {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block10 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block11 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block12 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block13 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    text-align: center
    }
.block14 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block15 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block16 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    text-align: center
    }
.block17 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block18 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block19 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Book Antiqua", serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block20 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.875em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block21 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block22 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block23 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block24 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block25 {
    color: black
    }
.block26 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 72pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block27 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Courier New", monospace;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block28 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block29 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: underline
    }
.block3 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block4 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block5 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block6 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block7 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block8 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block9 {
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    text-align: center
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: 320pt;
    line-height: 1.2;
    width: 320pt
    }
.calibre10 {
    height: 38.7pt;
    width: 334pt
    }
.calibre11 {
    height: 41.9pt;
    width: 336pt
    }
.calibre12 {
    display: block;
    float: left;
    height: 40.9pt;
    width: 37.6pt
    }
.calibre13 {
    display: block
    }
.calibre14 {
    height: 38.7pt;
    width: 337pt
    }
.calibre15 {
    display: block;
    float: left;
    height: 38.7pt;
    line-height: 1.2;
    width: 37.6pt
    }
.calibre16 {
    height: 38.7pt;
    width: 336pt
    }
.calibre17 {
    display: block;
    float: left;
    height: 39.8pt;
    line-height: 1.2;
    width: 37.6pt
    }
.calibre18 {
    height: 41.9pt;
    width: 335pt
    }
.calibre19 {
    height: 43pt;
    width: 331pt
    }
.calibre2 {
    font-weight: bold
    }
.calibre20 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre21 {
    height: 38.7pt;
    width: 329pt
    }
.calibre22 {
    display: block;
    float: left;
    height: 41.9pt;
    line-height: 1.2;
    width: 37.6pt
    }
.calibre23 {
    height: 39.8pt;
    width: 338pt
    }
.calibre24 {
    height: 40.9pt;
    width: 343pt
    }
.calibre25 {
    height: 92.4pt;
    width: 361pt
    }
.calibre26 {
    height: 43pt;
    width: 329pt
    }
.calibre27 {
    height: 39.8pt;
    width: 333pt
    }
.calibre28 {
    height: 44pt;
    width: 333pt
    }
.calibre29 {
    height: 40.9pt;
    width: 334pt
    }
.calibre3 {
    font-style: italic
    }
.calibre30 {
    display: block;
    float: left;
    height: 38.7pt;
    width: 37.6pt
    }
.calibre31 {
    height: 39.8pt;
    width: 334pt
    }
.calibre32 {
    height: 43pt;
    width: 336pt
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre7 {
    display: block
    }
.calibre8 {
    height: 43pt;
    width: 334pt
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.text {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline;
    text-indent: 1.5em
    }
.text1 {
    color: #000
    }
.text10 {
    color: #000;
    font-size: 1.14286em;
    line-height: 1.2
    }
.text11 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text12 {
    font-size: 1.14286em;
    font-style: italic;
    line-height: 1.2
    }
.text13 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.text14 {
    font-variant: small-caps;
    font-weight: bold
    }
.text2 {
    color: #06C;
    text-decoration: underline
    }
.text3 {
    font-size: 1.42857em;
    font-weight: bold;
    line-height: 1.2
    }
.text4 {
    font-size: 1.28571em;
    font-weight: bold;
    line-height: 1.2
    }
.text5 {
    font-size: 1.14286em;
    line-height: 1.2
    }
.text6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.text7 {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: sub
    }
.text8 {
    color: #000;
    font-size: 1.28571em;
    font-weight: bold;
    line-height: 1.2
    }
.text9 {
    color: black;
    font-size: 1.14286em;
    line-height: 1.2
    }
