.block {
    color: black;
    display: block;
    font-family: "Cambria", serif;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block1 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block10 {
    color: black;
    display: block;
    font-family: serif;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block11 {
    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-left-width: 1pt;
    display: block;
    letter-spacing: 0.25pt;
    line-height: 1.2;
    margin-bottom: 15pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 4pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block2 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block3 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block4 {
    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-left-width: 1pt;
    display: block;
    font-family: "Cambria", serif;
    font-size: 2em;
    letter-spacing: 0.25pt;
    line-height: 1.2;
    margin-bottom: 15pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 4pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block5 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block6 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block7 {
    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-left-width: 1pt;
    display: block;
    letter-spacing: 0.25pt;
    line-height: 1.2;
    margin-bottom: 15pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 4pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block8 {
    color: black;
    display: block;
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block9 {
    color: black;
    display: block;
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre {
    color: #17365D;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    height: 680pt;
    line-height: 1.2;
    width: 418pt
    }
.calibre3 {
    font-style: italic;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.softbreak {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: avoid;
    text-align: center
    }
.text {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text1 {
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    line-height: 1.2
    }
.text2 {
    font-family: "Verdana", sans-serif;
    line-height: 1.2
    }
.whitespace {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.whitespace1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
