<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Ahmet Ümit</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>916233B92C238F4C3838BC7031C34512</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>378BC0AF3B57D7608E1F5C30BBAB0B72</string>
		<key>publisher-unique-id</key>
		<string>01632da6-a0b7-4545-9d0a-e80ea79909c6</string>
		<key>unique-id</key>
		<integer>-679358601874255587</integer>
	</dict>
	<key>itemName</key>
	<string>Sis Ve Gece</string>
	<key>playlistName</key>
	<string>Sis Ve Gece</string>
	<key>releaseDate</key>
	<string>2011-03-05T19:19:34+00:00</string>
	<key>sort-artist</key>
	<string>Ümit, Ahmet</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
