.block {
    display: block;
    font-family: serif;
    line-height: 13pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    padding: 0
    }
.block1 {
    display: block;
    font-family: serif;
    line-height: 13pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    text-align: center;
    padding: 0
    }
.block2 {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    text-align: center;
    padding: 0
    }
.block3 {
    display: block;
    font-family: serif;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    text-align: center;
    padding: 0
    }
.block4 {
    display: block;
    line-height: 13pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    padding: 0;
text-align:justify;
    }
.block5 {
    display: block;
    line-height: 13pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    text-align: center;
    padding: 0
    }
.block6 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    text-align: center;
    padding: 0
    }
.block7 {
    display: block;
    font-weight: bold;
    line-height: 13pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 6pt;
    text-align: center;
    padding: 0
    }
.block8 {
    display: block;
    line-height: 13pt;
    margin-bottom: 0;
    margin-left: -14.2pt;
    margin-top: 6pt;
    padding: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    white-space: pre-wrap
    }
.text {
    background-color: yellow
    }
img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{

text-align:center;
Font-size:1em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
