p{text-indent:1.3em;margin-left:.26em;line-height:1.4em;margin-right:.26em;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0}
.p1{text-indent:1.8em;margin-left:.26em;line-height:200%;text-align:center;margin-bottom:.55em}
.p2{text-indent:0;margin-left:0}
.p3{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;margin-top:1.1em;margin-bottom:.27em}
.p4{text-indent:0;margin-left:0;text-align:center}
.p6{text-indent:-2.9em;margin-left:2.9em}
.p7{text-indent:1.3em;text-align:center}
.p8{text-indent:1.3em;text-align:right}
.p9{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;margin-top:.75em;margin-bottom:1.1em;font-family:Cambria,serif;font-size:145%;font-weight:bold;color:#c00000}
.h11{text-indent:0}
.t0{font-family:"Times New Roman",serif;font-size:1.1em;line-height:100%}
.t1{font-weight:bold}
.t2{font-family:Cambria,serif;font-size:1.6em;line-height:200%;font-weight:bold;letter-spacing:.11em}
.t3{font-family:Cambria,serif;font-size:1.6em;line-height:200%;font-weight:bold;color:#0070c0;letter-spacing:.11em}
.t4{font-family:Cambria,serif;font-size:1.6em;line-height:200%;font-weight:bold;text-decoration:underline}
.t6{font-family:Cambria,serif;font-size:1.6em;line-height:115%;font-weight:bold;color:red;letter-spacing:.11em}
.t7{font-family:Cambria,serif;font-size:1.6em;line-height:115%;font-weight:bold;letter-spacing:.11em}
.t8{font-size:1.3em}
.t9{font-weight:bold}
.t10{font-style:italic}
.t11{font-size:1.1em;font-weight:bold;color:red}