@namespace h "http://www.w3.org/1999/xhtml";
.baslik {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.baslik1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre10 {
    height: 286;
    width: 184
    }
.calibre11 {
    height: 210;
    width: 176
    }
.calibre12 {
    height: 236;
    width: 176
    }
.calibre13 {
    height: 303;
    width: 238
    }
.calibre14 {
    height: 341;
    width: 246
    }
.calibre15 {
    height: 295;
    width: 232
    }
.calibre16 {
    height: 303;
    width: 222
    }
.calibre17 {
    height: 350;
    width: 528
    }
.calibre18 {
    height: 380;
    width: 657
    }
.calibre19 {
    height: 443;
    width: 698
    }
.calibre2 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre20 {
    height: 422;
    width: 677
    }
.calibre21 {
    height: 421;
    width: 687
    }
.calibre3 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre4 {
    display: table-row;
    vertical-align: inherit
    }
.calibre5 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre6 {
    height: 502;
    width: 697
    }
.calibre7 {
    height: 351;
    width: 565
    }
.calibre8 {
    height: 456;
    width: 700
    }
.calibre9 {
    height: 246;
    width: 197
    }
.chapter {
    display: block
    }
.dby-iir {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.idebold {
    font-weight: bold
    }
.ideitalik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.indentmetinitalik {
    display: block;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-class: justify;
    text-indent: 0.75em
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-class: left
    }
.normal {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-class: justify;
    text-indent: 0.75em
    }
.normal1 {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-class: justify;
    text-indent: 0.75em
    }
.normal2 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always;
    text-class: justify;
    text-indent: 0.75em
    }
.ortabaslik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.resim {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.sag {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-class: right
    }
.saggggg {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(LiberationSerif-Regular.ttf);
}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(LiberationSerif-Italic.ttf);
}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(LiberationSerif-Bold.ttf);
}