body	{
	background-color:#fcfff6;
	color:#000;
	font-family:Georgia, serif;
	margin:auto;
	max-width:33em;
	}
@media screen and (orientation:landscape) {
    html {
	background:#fdfdfd fixed;
	}
    body {
	-moz-box-shadow: 5px 5px 25px 10px #888;
	-webkit-box-shadow: 5px 5px 25px 10px #888;
	box-shadow: 5px 5px 25px 10px #888;
    }
}
@media screen {
    body {
	margin:1em auto;
	max-width:33em;
	padding:5em 4em;
    }
}


p	{
	line-height:130%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align:justify;
	text-indent:25px;
	}

/* ara çizgi uygulama <hr class="bosluk" /> */
hr.bosluk {
    margin: 2em 25%;
    }

h1,h2,h3,h4,h5,h6 {
	text-indent: 0px;
	text-align:center;
	margin-bottom:0px;
	margin-top:0px
}

h1 {
  margin-top:0px;
}

.buyuk{
	font-size:2em;
	font-weight:bold;
}

hr {
  margin-top:20px;
  margin-bottom:20px;
background: #333;
 height: 5px;
}

.bc1{margin-left: 0pt;margin-right: 0pt;text-align: center;font-size:36px;letter-spacing:-.02em;}
.bc2{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Times,Georgia,Serif;font-size:2.1em;font-weight:bold}
.bc3{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Times,Georgia,Serif;font-size:1.2em;font-weight:bold}
.bc4{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Times,Georgia,Serif;font-size:1.0em;}


.bn1{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Calibri,sans-serif;font-size:2.1em;letter-spacing:-.02em;}
.bn2{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Calibri,sans-serif;font-size:2.1em;font-weight:bold}
.bn3{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Calibri,sans-serif;font-size:1.2em;font-weight:bold}
.bn4{margin-left: 0pt;margin-right: 0pt;text-align: center;font-family:Calibri,sans-serif;font-size:1.0em;}

blockquote {
  padding: 0px;
  margin-left: 40px;
  margin-right:0px;
  margin-top:10px;
  margin-bottom:10px;
  border: 0px;
  }

blockquote p {
  font-size: 80%;
  font-style: normal;
  text-indent: 0px;
  }
