@page {
  margin-right: 5pt;
  margin-top: 5pt;
  margin-left: 5pt;
  margin-bottom: 5pt;
  }
.calibre {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}
.calibre1 {
  display: block;
}
.calibre2 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 2em;
}
.calibre4 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 0;
text-align:justify;
text-indent:1.5em;
}
.calibre5 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre6 {
  font-size: 0.83333em;
}
.calibre7 {
  font-size: 1em;
}
.calibre8 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: sub;
}
.calibre9 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 2em;
}
.italic {
  font-style: italic;
}
.mbppagebreak {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
p {
text-align:justify;
text-indent:1.5em;


}