p { margin: 0px; text-align:justify; text-indent:30px; }
.ilk {text-indent:0em}

.baslik {text-indent:0em;text-align:center;font-size:1.2em;margin-top:2em;}
.baslik2 {text-indent:0em;font-weight:bold;text-align:center;font-size:2em;margin-bottom:1.5em;margin-top:1.5em;}
.baslik3 {text-indent:0em;text-align:center;font-size:.9em;}
.baslik35 {text-indent:0em;text-align:center;font-size:.82em;margin-top:0em;}
.baslik4 {text-indent:0em;text-align:center;font-size:.75em;font-weight:bold;margin-top:1em;}

.logo {text-indent:0em;text-align:center;margin-top:1em;}

.kunye {text-align:center;text-indent:0em;font-size:.7em;}