/* ==================== Headings ===================== */

h1 {
text-indent: 0em;
margin-top:7em;
font-weight:bold;
	text-align:center;

}

h2 {
text-indent: 0em;
margin-top:3em;
margin-bottom:3em;
font-weight:bold;
	text-align:center;
}

h3 {
text-indent: 1.5em;
}

h4 {
text-indent: 1.5em;
}

/* ==================== Paragraflar ===================== */

body {
       line-height: 1.3;
}

/*-- KONUMLANDIRMA --*/

.sag {
  text-align:right;
  text-indent:0em;
}

.orta {
  	text-indent: 0;	
	text-align:center;
	}

/*-- PARAGRAF --*/


p	{
	font-size:1.0em;
	line-height:1.2em;
	text-indent: 1.5em; 
	margin: 5px;
	orphans:2;widows:2;
	}

.nonindent {
  	text-indent: 0;	
	font-size:1.0em;
	line-height:1.3em;
	margin:0;	
	text-align:justify;
	orphans:2;widows:2;
	}

.pnot {
  	text-indent: 1.5em; 	
	font-size: 0.85em;  
	margin: 1em 1em 1em 1em; 	
	text-align:justify;
	orphans:2;widows:2;
	}



.kunye	{
	text-align:center; 
	text-indent:0em;
	font-size: 0.90em;
	line-height:0.90em;

	}



.ilkharf
	{
	text-align:justify;
	text-indent:0em;
	margin-top:0.0em;
	font-size:2.5em;
	font-weight: bold;	
	
	}

hr {
	width:30%; 
	margin-left:35%; 
	margin-bottom:1em; 
	margin-top:1em; 
	size: 0.1625em;
}

.bosluk { 
	margin-top:1em; 
}

img {
  max-height: 100%;
  max-width: 100%;
}



.kalin-cizgi {
	border-width: 0.1625em;
}

.siir {
  font-size:1em;
  text-align:left;
  text-indent:0em;
  margin-left:2em;
  margin-top:0.8em;
  margin-bottom:0.8em;
  font-style: italic;
}

.space {
  font-size:0.5em;
	line-height:0.9em;
}

/* Bordered content */
.boxed {
    border: 0.1625em solid currentColor;
    /* Current color = color of text (inverted in night mode) */
    padding: 0.6875em;
}
/* ==================== Değişik Fontlar ===================== */




/* ==================== Başlıklar ===================== */

.baslik
	{
	text-align:center;	
	font-weight:bold;	
	text-indent:0em;	
	font-size:1.5em;
	line-height:1.0em;
	
	}

.baslik2
	{
	text-align:center;	
	font-weight:bold;	
	font-size:1.5em;	
	text-indent:0em;	
	margin-top:2em;	
	margin-bottom:2em;
	}

.baslik3
	{
	text-align:center;	
	font-style:italic;	
	text-indent:0em;	
	font-size:1em; 	
	margin-top:0em;	
	margin-bottom:0em;
	}

.baslik4
	{
	font-weight:bold;	
	text-align:center;	
	font-size:1em;	
	text-indent:0em;	
	margin-top:1em;	
	margin-bottom:1em;
	}


/* ==================== Dipnotlar  ===================== */

a {text-decoration:none;color:#000000}


/*-- iz table mimic --*/

  .table {
      width: 100%;
      height: 100%;

  }
  .satir {
      width: 100%;
      min-height: 1px;
      height: auto;
      margin: 0;
  }
  .hucre {
      float: left;
      margin: 0;
      padding: 0;
  }
  .birsutun {
      width: 100%;
	text-indent:1.5em;
  }
  .ikisutun {
      width: 50%;
  }