.MsoNormal {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.WordSection {
    display: block;
    page: WordSection1
    }
.calibre {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre10 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 21pt
    }
.calibre11 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 20pt
    }
.calibre13 {
    font-family: "Times New Roman", "serif";
    font-size: 1.33333em
    }
.calibre14 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 19pt
    }
.calibre15 {
    font-family: "Bookman Old Style", "serif"
    }
.calibre16 {
    font-style: italic;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 31pt
    }
.calibre18 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 22pt
    }
.calibre19 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 22pt
    }
.calibre2 {
    font-weight: bold
    }
.calibre20 {
    font-family: "Century Gothic", "sans-serif";
    font-size: 0.77778em
    }
.calibre21 {
    font-style: italic
    }
.calibre22 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 21pt;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 3.75pt
    }
.calibre23 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 21pt
    }
.calibre24 {
    height: 36px;
    line-height: 1.2;
    width: 56px
    }
.calibre25 {
    height: 36px;
    width: 56px
    }
.calibre26 {
    height: 57px;
    width: 68px
    }
.calibre27 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 20pt
    }
.calibre28 {
    text-decoration: underline
    }
.calibre29 {
    text-decoration: none
    }
.calibre3 {
    font-size: 2.66667em;
    line-height: 1.2
    }
.calibre30 {
    font-family: "Candara", "sans-serif"
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    font-size: 2.44444em;
    line-height: 1.2
    }
.calibre6 {
    font-family: "Times New Roman", "serif";
    font-size: 2.66667em;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.calibre9 {
    font-size: 1.33333em
    }
