p{text-indent:1.5em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-family:Cambria,serif;font-size:109%}
.p1{text-indent:0;margin-left:0}
.p2{text-indent:0;margin-left:0;page-break-after:avoid;page-break-inside:avoid}
.p3{text-indent:0;margin-left:0;text-align:right}
.p5{text-indent:0;margin-left:0;text-align:left;widows:2;orphans:2}
.p6{text-indent:1.5em;text-align:right}
.t2{font-weight:bold}
.t4{font-style:italic}
.t5{letter-spacing:-.042em}
.t6{font-size:1.3em;font-weight:bold;letter-spacing:-.031em}
.t7{font-size:1.3em;font-style:italic;letter-spacing:-.031em}
.t9{font-size:.79em;font-weight:bold}
.t10{font-weight:bold;font-style:italic}
.t11{letter-spacing:.042em}
.t12{font-style:italic;letter-spacing:.042em}
.t13{font-weight:bold;letter-spacing:-.042em}
h1
{

text-align:center;
Font-size:1em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
