body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
p{text-indent:0.28in;margin-left:0;margin-right:0;text-align:justify;margin-top:-1pt;margin-bottom:-1pt;font-family:Arial,sans-serif;font-size:73%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0.29in;margin-left:0}
.p2{text-indent:0;margin-left:0;text-align:right}
.p3{text-indent:0;margin-left:0;text-align:left}
.p5{text-indent:0.29in;margin-left:0;text-align:left}
.p6{text-indent:0;margin-left:0}
.p7{text-indent:0.26in;margin-left:0;text-align:left}
.p8{text-indent:0.26in;margin-left:0}
.p9{text-align:left}
.p10{text-indent:0;margin-left:0;text-align:left;margin-top:0;margin-bottom:0}
.t1{font-size:1em}
.t2{font-size:1em}
.t3{font-size:.65em;vertical-align:super}
.t4{font-size:1em}
.t5{font-family:"Times New Roman",serif;font-size:1.5em}
.t6{font-family:"Times New Roman",serif;font-size:.81em;vertical-align:super}
.t7{font-family:"Times New Roman",serif;font-size:1.25em}
.t8{font-family:"Times New Roman",serif;font-size:1.13em}
.t9{font-family:"Times New Roman",serif;font-size:1.13em}
.t10{font-family:"Times New Roman",serif;font-size:1.13em}
.t11{font-family:"Times New Roman",serif;font-size:.73em;vertical-align:super}
.t12{font-family:"Times New Roman",serif;font-size:.88em}
.t13{font-family:"Times New Roman",serif;font-size:.88em}
.t14{font-family:"Times New Roman",serif;font-size:.88em}