p{font-family:"Times New Roman",serif;font-size:109%}
.p0{text-indent:1.5em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p2{text-indent:1.5em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p3{text-indent:1.5em;margin-left:0;margin-right:0;text-align:right;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p4{text-indent:0;margin-left:-.24em;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p5{text-indent:0;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.t1{font-weight:bold}
.t3{font-style:italic}
.t4{text-decoration:line-through}
.t5{font-weight:bold;font-style:italic}