.calibre {
  display: block;
  font-size: 0.75em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre2 {
  height: 848px;
  line-height: 1.2;
  width: 605px;
}
.calibre3 {
  display: block;
  line-height: 1.2;
}
.calibre4 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre5 {
  font-family: "Ringbearer", "serif";
  font-size: 2em;
  line-height: 110%;
}
.calibre6 {
  line-height: 1.2;
}
.calibre7 {
  font-size: 2em;
  line-height: 110%;
}
.calibre8 {
  font-family: "Book Antiqua", "serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre9 {
  font-size: 1.5em;
  line-height: 1.2;
}
.calibre10 {
  font-size: 1.66667em;
  line-height: 1.2;
}
.calibre11 {
  font-family: "Times New Roman", "serif";
  font-size: 1.16667em;
  line-height: 1.2;
}
.calibre12 {
  display: block;
  line-height: 1.2;
}
.calibre13 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre14 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre15 {
  font-family: "Calibri", "sans-serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre16 {
  font-style: italic;
  line-height: 1.2;
}
.calibre17 {
  border-bottom: #5B9BD5 solid 1pt;
  border-top: currentColor none medium;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 1.5em;
  border-right: currentColor none medium;
  border-left: currentColor none medium;
  padding: 0;
}
.calibre18 {
  color: windowtext;
  display: none;
  line-height: 1.2;
  text-decoration: none;
}
.calibre19 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre20 {
  font-weight: bold;
}
.calibre21 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  margin: 0;
}
.calibre22 {
  color: #404040;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  page-break-after: avoid;
  text-align: center;
  margin: 4pt 0 0.0001pt;
}
.calibre23 {
  font-size: 1.83333em;
  line-height: 1.2;
}
.calibre24 {
  height: 855px;
  line-height: 1.2;
  width: 604px;
}
.calibre25 {
  font-family: "Book Antiqua", "serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre26 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 35.4pt;
  margin: 0;
}
.calibre27 {
  height: 863px;
  line-height: 1.2;
  width: 604px;
}
.calibre28 {
  height: 862px;
  line-height: 1.2;
  width: 605px;
}
.calibre29 {
  font-family: "Calibri", "sans-serif";
  line-height: 1.2;
}
.calibre30 {
  height: 867px;
  line-height: 1.2;
  width: 604px;
}
.calibre31 {
  height: 869px;
  line-height: 1.2;
  width: 604px;
}
.calibre32 {
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.66667em;
  line-height: 1.2;
}
.calibre33 {
  font-style: italic;
}
.calibre34 {
  font-size: 0.90909em;
  line-height: normal;
  vertical-align: super;
}
.calibre35 {
  height: 858px;
  line-height: 1.2;
  width: 605px;
}
.calibre36 {
  height: 857px;
  line-height: 1.2;
  width: 604px;
}
.calibre37 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre38 {
  display: block;
}
.calibre39 {
  color: gray;
  display: block;
  height: 2px;
  text-align: left;
  border-top: currentColor solid 1px;
  border-right: currentColor none 1px;
  border-bottom: currentColor none 1px;
  border-left: currentColor none 1px;
  margin: 0.5em auto;
}
.calibre40 {
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
}
.font {
  font-family: "Book Antiqua", "serif";
  line-height: 1.2;
}
.font1 {
  font-family: "Arial", "sans-serif";
  line-height: 1.2;
}
.font2 {
  font-family: "Sylfaen", "serif";
  line-height: 1.2;
}
.font3 {
  font-family: "Book Antiqua", "serif";
}
.font4 {
  font-family: "Verdana", "sans-serif";
}
.msoendnotereference {
  line-height: 1.2;
  vertical-align: super;
}
.msoendnotereference1 {
  vertical-align: super;
}
.msohyperlink {
  color: blue;
  line-height: 1.2;
  text-decoration: underline;
}
.msonormal {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  tab-stops: right dotted 453.1pt;
  text-indent: 1.5em;
  margin: 0 0 0 22pt;
}
.msotocheading {
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.5em;
  line-height: normal;
  page-break-after: avoid;
  text-indent: 1.5em;
  border: currentColor none medium;
  margin: 0;
  padding: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:link {
  color: blue;
  text-decoration: underline;
}
.pcalibre1:visited {
  color: purple;
  text-decoration: underline;
}
