tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.italik-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-variant : normal;
	color : #000000;
}
span.bold-E {
	font-weight : bold;
	font-style : normal;
	color : #000000;
}
p.biyografi-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.4;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.Kitap-ism-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 3.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 0px;
}
p.yazar-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 43px 0px;
}
p.jenerik-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 9px 0px;
}
p.a--Paragraf-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 3px 0px;
}
p.Siirler-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 6px 0px 6px 28px;
}
p.x-----yildiz--E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 3px 0px;
}
p.x0-PERDE-E {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.x1-baslik-E {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 2em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 85px 0px 57px 0px;
}
p.x2-baslik-E {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 17px 0px 11px 0px;
}
p.spot-giris-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.18;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 26px 170px;
}
p.Linkler-E {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 14px 0px;
}
p.Copyright-- {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.paragraf-sag {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 3px 0px;
}
p.Paragraf-ust-bosluklu {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 14px 0px 3px 0px;
}
p.para-style-override-1 {
	direction : rtl;
}
p.para-style-override-2 {
	direction : rtl;
	margin-top : 43px;
}
div.Basic-Text-Frame {
}
