<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Soner Yalçın</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>A0CECC9774FA760850AA57578C34DE86</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>ADF2D97142EB7DD19C1488B26C157047</string>
		<key>publisher-unique-id</key>
		<string>10282b56-fb4f-4237-8d7b-55d01d6c6b82</string>
		<key>unique-id</key>
		<integer>6466225068491325999</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Efendi 2, Beyaz Müslümanların Büyük Sırrı</string>
	<key>playlistName</key>
	<string>Efendi 2, Beyaz Müslümanların Büyük Sırrı</string>
	<key>releaseDate</key>
	<string>2010-11-21T08:00:00+00:00</string>
</dict>
</plist>
