.calibre {
    display: block;
    font-family: "Palatino Linotype", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-family: Palatino Linotype, serif
    }
.calibre2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.calibre3 {
    display: block
    }
.calibre4 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    margin: 0.5em 0
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    font-variant: small-caps;
    font-weight: bold
    }
.calibre8 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre9 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.calibre10 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre13 {
    font-style: italic;
    line-height: 1.2
    }
.calibre14 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre15 {
    display: block;
    line-height: 1.2
    }
.calibre16 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre17 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.calibre18 {
    font-size: 0.875em;
    line-height: 1.2
    }
.calibre19 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.msonospacing {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0.5em 0
    }
.sigil_not_in_toc {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1em 0
    }
.sigil_not_in_toc1 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 0.83em 0
    }
