<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>D25575B246FBC5F6D3CB9A33BCC5ED21</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>90D877B48B077B54F8010BF289E0659B</string>
		<key>publisher-unique-id</key>
		<string>fd128261-7a3b-405a-a6cf-9d85e6a64fda</string>
		<key>unique-id</key>
		<integer>5142453708888966125</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Damga</string>
	<key>playlistName</key>
	<string>Damga</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
</dict>
</plist>
