.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: 541pt;
    width: 349pt
    }
.calibre3 {
    height: 30pt;
    width: 30pt
    }
.calibre4 {
    display: block;
    margin: 1em 0
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre9 {
    font-style: italic;
    font-weight: bold
    }
.calibre10 {
    height: 510pt;
    width: 344pt
    }
.calibre11 {
    height: 315pt;
    width: 272pt
    }
.calibre12 {
    height: 498pt;
    width: 257pt
    }
.calibre13 {
    height: 134pt;
    width: 311pt
    }
.calibre14 {
    height: 492pt;
    width: 319pt
    }
.calibre15 {
    height: 383pt;
    width: 312pt
    }
.calibre16 {
    height: 293pt;
    width: 274pt
    }
.calibre17 {
    height: 543pt;
    width: 340pt
    }
.calibre18 {
    height: 476pt;
    width: 272pt
    }
.calibre19 {
    height: 55pt;
    width: 91pt
    }
.calibre20 {
    height: 310pt;
    width: 219pt
    }
.calibre21 {
    height: 530pt;
    width: 303pt
    }
.calibre22 {
    height: 475pt;
    width: 255pt
    }
.calibre23 {
    height: 196pt;
    width: 245pt
    }
.calibre24 {
    height: 411pt;
    width: 250pt
    }
.calibre25 {
    height: 23pt;
    width: 411pt
    }
.calibre26 {
    height: 623pt;
    width: 492pt
    }
.calibre27 {
    height: 514pt;
    width: 310pt
    }
.calibre28 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre29 {
    display: list-item
    }
.calibre30 {
    text-decoration: underline
    }
.calibre31 {
    height: 166pt;
    width: 107pt
    }
.calibre32 {
    height: 197pt;
    width: 144pt
    }
.calibre33 {
    height: 140pt;
    width: 173pt
    }
.calibre34 {
    height: 371pt;
    width: 307pt
    }
.calibre35 {
    height: 66pt;
    width: 235pt
    }
.calibre36 {
    height: 340pt;
    width: 294pt
    }
.calibre37 {
    height: 338pt;
    width: 211pt
    }
.calibre38 {
    height: 136pt;
    width: 256pt
    }
.calibre39 {
    height: 131pt;
    width: 294pt
    }
.calibre40 {
    height: 254pt;
    width: 397pt
    }
.calibre41 {
    height: 109pt;
    width: 234pt
    }
.calibre42 {
    height: 27pt;
    width: 24pt
    }
.calibre43 {
    height: 55pt;
    width: 157pt
    }
.calibre44 {
    height: 7pt;
    width: 32pt
    }
.calibre45 {
    height: 75pt;
    width: 212pt
    }
.calibre46 {
    height: 13pt;
    width: 12pt
    }
.calibre47 {
    height: 60pt;
    width: 156pt
    }
.calibre48 {
    height: 294pt;
    width: 300pt
    }
.calibre49 {
    height: 41pt;
    width: 33pt
    }
.calibre50 {
    height: 7pt;
    width: 24pt
    }
.calibre51 {
    height: 186pt;
    width: 280pt
    }
.calibre52 {
    height: 152pt;
    width: 146pt
    }
.calibre53 {
    height: 462pt;
    width: 208pt
    }
.calibre54 {
    height: 200pt;
    width: 179pt
    }
.calibre55 {
    height: 208pt;
    width: 201pt
    }
.calibre56 {
    height: 36pt;
    width: 77pt
    }
.calibre57 {
    height: 20pt;
    width: 163pt
    }
.calibre58 {
    height: 38pt;
    width: 182pt
    }
.calibre59 {
    height: 65pt;
    width: 177pt
    }
.calibre60 {
    height: 15pt;
    width: 118pt
    }
.calibre61 {
    height: 93pt;
    width: 289pt
    }
.calibre62 {
    height: 21pt;
    width: 47pt
    }
.calibre63 {
    height: 519pt;
    width: 302pt
    }
.calibre64 {
    height: 498pt;
    width: 305pt
    }
.calibre65 {
    height: 89pt;
    width: 160pt
    }
.calibre66 {
    height: 282pt;
    width: 210pt
    }
.calibre67 {
    height: 10pt;
    width: 93pt
    }
.calibre68 {
    height: 53pt;
    width: 202pt
    }
.calibre69 {
    height: 14pt;
    width: 67pt
    }
.calibre70 {
    height: 535pt;
    width: 326pt
    }
.calibre71 {
    height: 528pt;
    width: 349pt
    }
img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
.yildiz {
Font-size:2em;
margin-top:1em;
margin-bottom:1em;
text-align:center;
}

.baslik{
text-align:center;
font-weight:bold;
font-size:1.5em;
margin-top:2em;
margin-bottom:2em;
}
.ust{
text-decoration:overline;
}