p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:center;
}
.bos08{margin-top:0.8em;}
.bos1_6{margin-top:1.6em;}
.bos3{margin-top:3em;}
.bos5{margin-top:5em;}
.table{border:0;}
.ortali{text-align:center;}
.sola p{text-align:justify;margin-top:0.2em;}
.kara {background-color:#000000;color:#ffffff;}
.kunye0{font-size:1.5em;}
.kunye1{font-size:4em;font-weight:bold;}
.kunye2{font-size:1.5em;}
.kunye3{font-size:1.2em;}
.kunye4{font-size:1em;}