p {
  margin:0.3em auto 0 auto;  
  font-size:0.9em;
  text-indent:0em;
  text-align:justify;
}
.bos3{margin-top:3em;}
.tarih{width: 20%;vertical-align: top;padding-right:0.3em;}
.tarih p{text-align:left;}
.ortali{text-align:center;text-indent: 0em;}

table{vertical-align: top;}
.kaynakca p{margin-left:1.5em;text-indent:-1.5em;}