.block_ {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    line-height: 1.2;
    text-indent: 0;
    margin: 0 0 8pt;
    padding: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-indent: 0;
    margin: 0 0 8pt;
    padding: 0
    }
.block_5 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.25pt 177pt;
    padding: 0
    }
.block_6 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_7 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.25pt 177pt;
    padding: 0
    }
.block_8 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.25pt 177pt;
    padding: 0
    }
.block_9 {
    color: black;
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_10 {
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_11 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_12 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_13 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_14 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_15 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-indent: 0;
    margin: 0 0 0.25pt;
    padding: 0
    }
.block_16 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    margin: 0 0 8pt;
    padding: 0
    }
.block_17 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 8pt;
    padding: 0
    }
.block_18 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 8pt;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 30pt;
    line-height: 1.2;
    width: 184pt
    }
.calibre2 {
    height: 23.5pt;
    line-height: 1.2;
    width: 144pt
    }
.calibre3 {
    height: 21.6pt;
    line-height: 1.2;
    width: 144pt
    }
