<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>DD9F8F90745A9BD34E501D6767A4177E</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>9EDA22628AE7CB9A069D31A6DBC5F418</string>
		<key>publisher-unique-id</key>
		<string>cd86ac4b-d0cd-47b1-aa42-c3064b392840</string>
		<key>unique-id</key>
		<integer>575424832156536862</integer>
	</dict>
	<key>itemName</key>
	<string>Akşam Güneşi</string>
	<key>playlistName</key>
	<string>Akşam Güneşi</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
</dict>
</plist>
