.calibre {
    
    display: block;
    font-size: 0.83333em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1.55em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    font-family: "Times New Roman", "serif";
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1.55em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre6 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 90pt;
    margin: 0 0 0.0001pt
    }
.calibre7 {
    font-family: "Cambria", "serif";
    font-size: 1.2em
    }
.calibre8 {
    font-family: "Cambria", "serif";
    font-size: 0.77419em
    }
.calibre9 {
    font-family: "Cambria", "serif"
    }
.calibre10 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 87pt;
    margin: 0 0 0.0001pt
    }
.calibre11 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 86pt;
    margin: 0 0 0.0001pt
    }
.calibre12 {
    font-style: italic;
    line-height: 1.2
    }
.calibre13 {
    font-family: "Cambria", "serif";
    line-height: 1.2
    }
.calibre14 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 88pt;
    margin: 0 0 0.0001pt
    }
.calibre15 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 89pt;
    margin: 0 0 0.0001pt
    }
.calibre16 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 85pt;
    margin: 0 0 0.0001pt
    }
.calibre17 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 91pt;
    margin: 0 0 0.0001pt
    }
.calibre18 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre19 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 82pt;
    margin: 0 0 0.0001pt
    }
.calibre20 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.calibre21 {
    display: block;
    float: left
    }
.calibre22 {
    font-family: "Cambria", "serif";
    font-size: 0.75em
    }
.calibre23 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre24 {
    font-size: 0.83333em
    }
.calibre25 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 93pt;
    margin: 0 0 0.0001pt
    }
.calibre26 {
    font-style: italic
    }
.calibre27 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 84pt;
    margin: 0 0 0.0001pt
    }
.calibre28 {
    font-family: "Cambria", "serif";
    font-size: 1.6em;
    line-height: 1.2
    }
.calibre29 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 58pt;
    margin: 0 0 0.0001pt
    }
.calibre30 {
    font-weight: bold
    }
.calibre31 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 83pt;
    margin: 0 0 0.0001pt
    }
.calibre32 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 60pt;
    margin: 0 0 0.0001pt
    }
.calibre33 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 114pt;
    margin: 0 0 0.0001pt
    }
.calibre34 {
    font-size: 1em;
    line-height: normal;
    vertical-align: sub
    }
.calibre35 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 81pt;
    margin: 0 0 0.0001pt
    }
.calibre36 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 109pt;
    margin: 0 0 0.0001pt
    }
.calibre37 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 92pt;
    margin: 0 0 0.0001pt
    }
.font {
    font-family: "Sylfaen", "serif";
    line-height: 1.2
    }
.font1 {
    font-family: "Trebuchet MS", "sans-serif";
    line-height: 1.2
    }
.font2 {
    font-family: "Century Gothic", "sans-serif";
    line-height: 1.2
    }
.font3 {
    font-family: "Sylfaen", "serif"
    }
.font4 {
    font-family: "Trebuchet MS", "sans-serif"
    }
.WordSection {
    display: block;
    page: WordSection1
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
