<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>B4A32A6004CAB9436334B1E26444DBCE</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:02dda86e-e677-4712-b5f2-dd8e8f58b33c</string>
		<key>unique-id</key>
		<integer>8164368080087731236</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
