<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>NECİP FAZIL KISAKÜREK</string>
	<key>book-info</key>
	<dict>
		<key>package-file-hash</key>
		<string>BC8B39B780108A1D8F0AE633C8813F1B</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:http://www.aiseesoft.com201008182155</string>
		<key>unique-id</key>
		<integer>7584912430202893155</integer>
	</dict>
	<key>genre</key>
	<string></string>
	<key>itemName</key>
	<string>O ve BEN</string>
	<key>playlistName</key>
	<string>Necip Fazıl Kısak rek _ O ve Ben</string>
	<key>sort-artist</key>
	<string></string>
	<key>sort-artist-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string></string>
	<key>sort-name-status</key>
	<integer>128</integer>
</dict>
</plist>
