.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -14pt
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -14pt
    }
.calibre2 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1em
    }
.calibre5 {
    height: 288px;
    vertical-align: baseline;
    width: 199px
    }
.calibre6 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 1em
    }
.calibre8 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre9 {
    color: blue
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.underline {
    text-decoration: underline
    }
