p{font-family:"Times New Roman",serif;font-size:109%}
.p0{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p1{text-indent:1.5em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p2{text-indent:1.5em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p3{text-indent:1.5em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p4{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p5{text-indent:1.3em;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p6{text-indent:1.5em;margin-left:0;line-height:1;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p7{text-indent:1.5em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p8{text-indent:0;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p9{text-indent:1.5em;margin-left:0;margin-right:0;text-align:right;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.t1{font-family:Arial,sans-serif;font-size:.92em;line-height:100%}
.t2{font-weight:bold}
.t4{color:blue;text-decoration:underline}
.t5{font-style:italic}
.t7{font-style:italic}
.t8{font-style:italic;letter-spacing:-.083em}
.t9{letter-spacing:-.083em}
.t10{font-style:italic;letter-spacing:-.042em}
.t11{letter-spacing:-.042em}
.t12{font-size:.79em;line-height:100%}
.t13{font-weight:bold;font-style:italic}