@font-face{font-family:"Alegreya";font-style:normal;font-weight:normal;src:url(../Fonts/ALEGREYA-REGULAR.OTF)}
@font-face{font-family:"Alegreya";font-style:normal;font-weight:bold;src:url(../Fonts/ALEGREYA-BOLD.OTF)}
@font-face{font-family:"Alegreya";font-style:italic;font-weight:bold;src:url(../Fonts/ALEGREYA-BOLDITALIC.OTF)}
@font-face{font-family:"Alegreya";font-style:italic;font-weight:normal;src:url(../Fonts/ALEGREYA-ITALIC.OTF)}
@font-face{font-family:"Calibri";font-style:normal;font-weight:normal;src:url(../Fonts/CALIBRI.TTF)}
@font-face{font-family:"Calibri";font-style:normal;font-weight:bold;src:url(../Fonts/CALIBRIB.TTF)}
@font-face{font-family:"Calibri";font-style:italic;font-weight:bold;src:url(../Fonts/CALIBRIZ.TTF)}
@font-face{font-family:"Calibri";font-style:italic;font-weight:normal;src:url(../Fonts/CALIBRII.TTF)}
@font-face{font-family:"NeuzonTR";font-style:normal;font-weight:normal;src:url(../Fonts/NEUZONTR REGULAR.TTF)}
@font-face{font-family:"BigNoodleTitling";font-style:normal;font-weight:normal;src:url(../Fonts/BIGNOODLETITLINGTR.TTF)}

@page{margin-left:0.2cm;margin-right:0.2cm;margin-top:0.2cm;margin-bottom:0.2cm}
body{margin:0}

p{text-indent:1.2em;margin-left:0;line-height:110%;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:Alegreya,monospace;font-size:109%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p2{text-indent:0;margin-left:0;text-align:center}
.p3{text-indent:0;margin-left:2.4em;line-height:100%;margin-top:0;margin-bottom:0}
.p4{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p5{text-indent:0;margin-left:2.4em;text-align:center}
.p6{text-indent:0;margin-left:0}
.p7{text-indent:1.4em;margin-top:0;margin-bottom:0}
.p8{text-indent:0;margin-left:1.4em;margin-top:0;margin-bottom:0}
.p9{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p10{text-indent:0;margin-left:0;text-align:center;margin-top:0}
.p11{text-indent:1.4em;line-height:100%;margin-top:0;margin-bottom:0}
.p12{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1em;margin-bottom:0;font-family:Alegreya,monospace;font-size:109%;font-weight:normal;color:white}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:110%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.43em;margin-bottom:.43em;font-family:Alegreya,monospace;font-size:127%;font-weight:normal}
.h31{text-indent:0}
.t2{font-family:Calibri,sans-serif}
.t3{font-family:NeuzonTR,sans-serif;font-size:2em;line-height:110%}
.t4{font-family:NeuzonTR,sans-serif;font-size:3em;line-height:110%}
.t5{font-size:.75em;line-height:100%}
.t6{font-family:ReliefCaps;font-size:2em;line-height:110%}
.t7{font-size:.67em;line-height:100%}
.t8{font-size:.67em;line-height:100%;font-weight:bold}
.t9{font-size:.67em;line-height:100%;text-decoration:underline}
.t10{font-family:Calibri,sans-serif;font-weight:bold}
.t11{font-family:NeuzonTR,sans-serif;font-size:1.3em;line-height:110%}
.t12{font-style:italic}
.t14{font-style:italic}
.t15{font-family:Calibri,sans-serif;font-style:italic}
.t16{font-family:NeuzonTR,sans-serif;font-weight:bold}
.t17{font-family:NeuzonTR,sans-serif}
.t18{font-family:NeuzonTR,sans-serif;font-size:1.8em;line-height:110%}
.t19{font-family:BigNoodleTitling;font-size:1.1em;line-height:110%;letter-spacing:.074em}
.t20{font-family:BigNoodleTitling;letter-spacing:.083em}
.t21{font-family:BigNoodleTitling;font-size:1.3em;line-height:110%;letter-spacing:.063em}
.t22{font-weight:bold}
.t23{font-family:NeuzonTR,sans-serif;font-size:.83em;line-height:110%}
.t24{font-family:NeuzonTR,sans-serif;font-size:.83em;line-height:110%;font-style:italic}
.t25{font-family:Calibri,sans-serif;font-size:1.2em;line-height:110%;font-weight:bold}
.t26{font-family:Calibri,sans-serif;font-size:.65em;line-height:110%;vertical-align:super}
.t27{font-family:NeuzonTR,sans-serif;font-size:.92em;line-height:110%}
.t28{font-size:1.2em;line-height:110%}
.t29{font-family:NeuzonTR,sans-serif;font-size:1.5em;line-height:110%}
.t30{font-size:.54em;line-height:100%;vertical-align:super}
.t31{font-size:.83em;line-height:100%}
.t32{font-family:Calibri,sans-serif;font-size:.75em;line-height:100%}