<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>749747A901E686BB9AEBAF3F75F2221C</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:fc9a25d2-e0d5-4dc1-9658-b844887328d7</string>
		<key>unique-id</key>
		<integer>6350869671348319245</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
