p{text-indent:1.8em;margin-left:0;line-height:130%;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:.55em;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:1.8em;text-align:center}
.p3{text-indent:1.8em;text-align:right}
.p4{text-indent:1.8em;text-align:center;margin-top:0;margin-bottom:0}
.p5{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-top:0;margin-bottom:.91em}
.p6{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.5em;margin-bottom:1.5em;font-size:145%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.3em;margin-bottom:1.3em;font-size:127%;font-weight:bold}
.h21{text-indent:0}
h3{text-indent:1.8em;margin-left:0;line-height:130%;margin-right:0;page-break-after:avoid;margin-top:.55em;margin-bottom:.55em;font-size:100%;font-weight:bold;font-style:italic}
.h31{text-indent:0}
.t1{font-size:1.1em;line-height:100%}
.t2{font-size:1.8em;line-height:130%;font-weight:bold}
.t3{font-size:1.8em;line-height:130%}
.t4{font-size:.91em;line-height:130%;font-weight:bold}
.t5{font-size:.91em;line-height:130%}
.t6{font-size:.82em;line-height:130%}
.t7{font-weight:bold}
.t9{font-size:1.3em;line-height:130%;font-weight:bold}
.t10{font-size:1.3em;line-height:130%}
.t11{font-size:1.1em;line-height:130%;font-weight:bold;color:blue;text-decoration:underline}
.t12{font-size:1.1em;line-height:130%;font-weight:bold}
.t13{font-size:1.1em;line-height:130%;font-weight:bold}
.t14{font-size:.65em;line-height:130%;font-weight:bold;vertical-align:super}
.t15{font-weight:bold;font-style:italic}
.t16{font-style:italic}
.t17{font-weight:bold;text-decoration:underline}
.t18{font-size:1.3em;line-height:115%;font-weight:bold}
.th12{color:blue;text-decoration:underline}
.th13{font-size:.63em;line-height:115%}
.th14{font-size:.88em;line-height:115%}
.th22{font-size:.71em;line-height:130%}
.th31{text-decoration:underline}