p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:.8em;margin-bottom:.8em;font-family:Cambria,serif;font-size:109%}
.p0{text-indent:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p3{text-indent:0;text-align:left;margin-top:0;margin-bottom:0}
.p4{text-indent:0;text-align:left;margin-top:.4em;margin-bottom:.4em}
.p5{text-indent:0;text-align:center;margin-top:.4em;margin-bottom:.4em}
.p6{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:.58em;margin-bottom:.58em;font-family:Cambria,serif;font-size:218%;font-weight:bold}
.h10{text-indent:0;margin-top:.4em;margin-bottom:.4em}
.h12{text-indent:0}
.t1{font-family:"Times New Roman",serif}
.t2{font-size:1.5em}
.t3{font-size:1.7em;font-weight:bold}
.t5{font-style:italic}
.t6{font-weight:bold}
.t7{font-size:2em;font-weight:bold}
.t8{font-size:.65em;vertical-align:super}
.t9{font-family:"Calibri Light",sans-serif;font-weight:bold;color:#0563c1;text-decoration:underline}
.t10{font-family:Calibri,sans-serif;font-size:.92em}