@font-face{font-family:"Amasis";font-style:normal;font-weight:bold;src:url(../Fonts/Amasis30-Bold.ttf)}
@font-face{font-family:"Amasis";font-style:normal;font-weight:normal;src:url(../Fonts/Amasis30.ttf)}
@font-face{font-family:"Amasis";font-style:italic;font-weight:bold;src:url(../Fonts/Amasis30-BoldItalic.ttf)}
@font-face{font-family:"Amasis";font-style:italic;font-weight:normal;src:url(../Fonts/Amasis30-Italic.ttf)}
@font-face{font-family:"Times New Roman";font-style:normal;font-weight:bold;src:url(../Fonts/timesbd.ttf)}
@font-face{font-family:"Times New Roman";font-style:italic;font-weight:normal;src:url(../Fonts/timesi.ttf)}
@font-face{font-family:"Cambria";font-style:normal;font-weight:bold;src:url(../Fonts/cambriab.ttf)}
@font-face{font-family:"Cambria";font-style:italic;font-weight:bold;src:url(../Fonts/cambriaz.ttf)}
@font-face{font-family:"Times New Roman";font-style:normal;font-weight:normal;src:url(../Fonts/times.ttf)}
@font-face{font-family:"Symbol";font-style:normal;font-weight:normal;src:url(../Fonts/symbol.ttf)}
body{margin-left:5%;margin-right:5%;margin-top:5%;margin-bottom:5%}
p{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Amasis,serif;font-size:100%;color:black}
.p1{margin-left:1.64in;margin-right:1.59in;margin-top:35.8pt}
.p2{margin-left:0.43in}
.p3{margin-top:0.3pt}
.p4{margin-top:6.7pt}
.p5{text-indent:0.18in;margin-left:0.61in;margin-top:3.4pt}
.p6{margin-top:3.9pt}
.p7{margin-left:1.58in;margin-top:3.1pt}
.p8{margin-top:4.3pt}
.p9{margin-right:1.97in}
.p10{margin-right:1.97in;margin-top:0.7pt;margin-bottom:65.1pt}
.p11{margin-left:1.49in}
.p12{margin-left:1.14in;margin-right:1.13in}
.p13{margin-left:1.14in;margin-right:1.13in;margin-top:1.7pt}
.p14{margin-left:0.91in;margin-right:0.87in}
.p15{margin-left:0.91in;margin-right:0.87in;margin-top:1.7pt}
.p16{margin-left:1.01in;margin-right:0.99in}
.p17{margin-left:1.01in;margin-right:0.99in;margin-top:1.9pt}
.p18{margin-right:0.01in}
.p19{margin-left:0.49in}
.p20{margin-top:3.1pt}
.p21{text-indent:0.19in;margin-left:0;margin-right:0.01in;margin-top:2.7pt}
.p22{text-indent:0.19in;margin-left:0;margin-top:2.7pt}
.p23{text-indent:0.19in;margin-left:0;margin-top:2.4pt}
.p24{text-indent:0.2in;margin-left:0;margin-top:2.9pt}
.p25{text-indent:0.19in;margin-left:0;margin-top:2.4pt}
.p26{margin-left:1.79in}
.p27{margin-top:9.9pt}
.p28{text-indent:0.22in;margin-left:0;margin-right:0.01in}
.p29{text-indent:0.2in;margin-left:0}
.p30{text-indent:0.19in;margin-left:0}
.p31{text-indent:0.2in;margin-left:0}
.p32{margin-right:0.01in}
.p33{text-indent:0.19in;margin-left:0}
.p34{margin-top:6pt}
.p35{margin-top:1.7pt}
.p36{margin-right:0.01in;margin-top:4.3pt}
.p37{margin-right:0.01in}
.p38{margin-right:0.01in;margin-top:2.7pt}
.p39{text-indent:0.2in;margin-left:0}
.p40{text-indent:0.19in;margin-left:0}
.p41{margin-top:7.7pt}
.p42{margin-top:9.6pt}
.p43{text-indent:0.2in;margin-left:0.55in}
.p44{margin-top:5.3pt}
.p45{margin-top:5.5pt}
.p46{margin-right:0.01in;margin-top:3.4pt}
.p47{margin-left:0.54in}
.p48{margin-left:0.54in;margin-top:2.7pt}
.p49{margin-top:11.5pt}
.p50{margin-right:0;margin-top:3.4pt}
.p51{margin-top:2.9pt}
.p52{text-indent:0.19in;margin-left:0;margin-top:0.3pt}
.p53{line-height:115%;text-align:left;margin-top:12pt;margin-bottom:3pt}
.p54{margin-left:0.5in}
.p55{margin-left:0.5in;margin-top:11.3pt}
.p56{margin-right:0.73in;margin-top:4.6pt}
.p57{text-indent:0.2in;margin-left:0;margin-right:0}
.p58{margin-left:0.96in;margin-right:0.96in}
.p59{margin-left:0.96in;margin-right:0.96in;margin-top:0.3pt}
.p60{margin-top:2.2pt}
.p61{margin-right:0;margin-top:3.9pt}
.p62{margin-top:2.7pt}
.p63{margin-right:0.02in}
.p64{margin-right:0.02in;margin-top:6pt}
.p65{margin-right:0.02in;margin-top:3.4pt}
.p66{text-indent:0.2in;margin-left:0.28in}
.p67{text-indent:0.2in;margin-left:0.28in;margin-top:2.2pt}
.p68{text-indent:0.2in;margin-left:0.28in}
.p69{text-indent:0.2in;margin-left:0;margin-top:1.9pt}
.p70{margin-top:2.4pt}
.p71{text-indent:0.2in;margin-left:0;margin-right:0.02in}
.p72{margin-top:5.8pt}
.p73{margin-right:0.01in;margin-top:3.1pt}
.p74{text-indent:0.2in;margin-left:0;margin-top:0.3pt}
.p75{margin-right:0.01in;margin-top:5.3pt}
.p76{margin-top:10.1pt}
.p77{margin-right:0.01in;margin-top:1.7pt}
.p78{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p79{margin-top:11.3pt}
.p80{margin-right:0}
.p81{margin-top:1.9pt}
.p82{margin-left:0.25in;margin-top:14.4pt}
.p83{margin-left:0.25in;margin-top:8.7pt}
.p84{margin-left:0.25in;margin-top:8.9pt}
.p85{margin-left:0.28in}
.p86{margin-right:0;margin-top:6.5pt}
.p87{margin-right:0;margin-top:3.6pt}
.p88{margin-right:0.01in;margin-top:3.1pt}
.p89{margin-right:0.14in}
.p90{margin-top:0.3pt;margin-bottom:11.1pt}
.p91{margin-top:0.7pt}
.p92{margin-top:12pt}
.p93{margin-left:1.97in}
.p94{margin-left:0.37in}
.p95{margin-left:0.37in;margin-top:9.6pt}
.p96{margin-top:8.7pt}
.p97{margin-top:8.9pt}
.p98{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p99{margin-top:4.8pt}
.p100{margin-right:0.02in}
.p101{margin-top:10.6pt}
.p102{text-indent:0.19in;margin-left:0;margin-right:0}
.p103{text-indent:0.13in;margin-left:0;margin-right:0.01in}
.p104{text-indent:0.06in;margin-left:0;margin-top:11.1pt}
.p105{margin-right:0.01in;margin-top:0.3pt}
.p106{text-indent:0.2in;margin-left:0;margin-top:0.5pt}
.p107{margin-left:0.23in;margin-top:0.3pt}
.p108{margin-top:1.2pt}
.p109{margin-right:0.01in;margin-top:2.9pt}
.p110{margin-left:0.34in}
.p111{margin-top:5.5pt;margin-bottom:5.3pt}
.p112{margin-top:0.5pt}
.p113{margin-top:3.6pt}
.p114{margin-right:0.12in;margin-top:3.9pt}
.p115{margin-left:0.7in;margin-right:0.67in}
.p116{margin-top:8.2pt}
.p117{margin-top:9.1pt}
.p118{margin-right:0.02in;margin-top:5.1pt}
.p119{margin-right:0.02in;margin-top:3.6pt}
.p120{text-indent:0.19in;margin-left:0;margin-right:0.01in}
.p121{margin-top:6.5pt}
.p122{margin-right:0;margin-top:4.1pt}
.p123{text-indent:0.19in;margin-left:0;margin-top:0.3pt}
.p124{text-indent:0.2in;margin-left:0;margin-right:0.01in;margin-top:0.3pt}
.p125{margin-left:0.2in}
.p126{margin-left:0.95in;margin-right:0.95in}
.p127{margin-left:0.95in;margin-right:0.95in;margin-top:4.6pt}
.p128{margin-right:0.01in;margin-top:2.2pt}
.p129{margin-top:6.3pt}
.p130{text-indent:0.19in;margin-left:0;margin-top:0.3pt}
.p131{text-indent:-1.02in;margin-left:1.39in}
.p132{margin-left:0.2in;margin-top:5.8pt;margin-bottom:4.8pt}
.p133{margin-right:0;margin-top:0.3pt}
.p134{margin-right:0;margin-top:5.8pt}
.p135{margin-right:0.01in;margin-top:5.5pt}
.p136{margin-left:0.41in}
.p137{text-indent:0.2in;margin-left:0;margin-top:0.3pt}
.p138{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p139{margin-right:0.01in;margin-top:2.9pt}
.p140{margin-top:4.6pt}
.p141{margin-top:10.8pt}
.p142{text-indent:-0.15in;margin-left:0.45in;margin-top:16.3pt}
.p143{text-indent:-0.15in;margin-left:0.45in;margin-top:2.9pt}
.p144{text-indent:-0.15in;margin-left:0.45in;margin-top:2.7pt}
.p145{text-indent:0.2in;margin-left:0;margin-right:0.02in}
.p146{text-indent:0.2in;margin-left:0;margin-right:0.02in;margin-top:1.5pt}
.p147{margin-right:0;margin-top:3.1pt}
.p148{text-indent:-0.14in;margin-left:0.41in;margin-top:13.9pt}
.p149{text-indent:-0.14in;margin-left:0.41in;margin-top:2.4pt}
.p150{margin-right:0.03in}
.p151{margin-right:0.02in;margin-top:2.4pt}
.p152{margin-right:0.01in;margin-top:3.6pt}
.p153{margin-left:0.21in;margin-top:0.3pt}
.p154{margin-top:5.1pt}
.p155{text-indent:-0.13in;margin-left:0.42in;margin-top:19.9pt}
.p156{text-indent:-0.13in;margin-left:0.42in;margin-top:5.5pt}
.p157{text-indent:-0.13in;margin-left:0.42in;margin-top:5.3pt}
.p158{text-indent:-0.13in;margin-left:0.42in}
.p159{text-indent:0.2in;margin-left:0;margin-top:2.2pt}
.p160{text-indent:-1.06in;margin-left:1.56in}
.p161{margin-left:0.19in;margin-top:5.3pt;margin-bottom:5.3pt}
.p162{margin-left:0.53in}
.p163{margin-left:0.53in;margin-top:7.7pt}
.p164{margin-right:0.01in;margin-top:8.2pt}
.p165{margin-right:0.81in;margin-top:4.8pt}
.p166{text-indent:0.2in;margin-left:0;margin-right:0}
.p167{margin-right:0.01in;margin-top:3.4pt}
.p168{margin-top:3.4pt}
.p169{text-indent:0.2in;margin-left:0;margin-right:0.02in}
.p170{margin-right:0;margin-top:1.7pt}
.p171{margin-right:0.01in;margin-top:3.6pt}
.p172{text-indent:0.2in;margin-left:0;margin-right:0.02in}
.p173{margin-right:0;margin-top:5.3pt}
.p174{margin-top:11.1pt}
.p175{margin-right:0.01in;margin-top:3.1pt}
.p176{margin-right:0.02in}
.p177{margin-right:0.01in;margin-top:3.6pt}
.p178{text-indent:0.21in;margin-left:0;margin-right:0.02in}
.p179{text-indent:0.19in;margin-left:0;margin-top:0.5pt}
.p180{text-indent:-1.17in;margin-left:1.17in}
.p181{margin-top:5.3pt;margin-bottom:17.5pt}
.p182{margin-top:11.8pt}
.p183{margin-right:0.01in;margin-top:12pt}
.p184{margin-left:1.94in;margin-top:7.7pt}
.p185{margin-left:0.95in;margin-right:0.91in}
.p186{margin-left:0.95in;margin-right:0.91in;margin-top:2.2pt}
.p187{text-indent:0.19in;margin-left:0;margin-right:0.01in;margin-top:0.3pt}
.p188{margin-right:0.03in;margin-top:3.9pt}
.p189{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p190{margin-top:4.1pt}
.p191{text-indent:0.2in;margin-left:0;margin-right:0.02in;margin-top:0.3pt}
.p192{margin-left:0.47in}
.p193{margin-left:0.15in;margin-top:6pt;margin-bottom:14.4pt}
.p194{margin-left:0.14in;margin-top:0.3pt}
.p195{margin-left:0.14in}
.p196{text-indent:0.14in;margin-left:0;margin-top:12.3pt}
.p197{margin-right:0.14in}
.p198{margin-right:0.13in;margin-top:12pt}
.p199{margin-left:0.38in}
.p200{margin-right:0.01in;margin-top:5.3pt}
.p201{margin-right:0.02in;margin-top:3.4pt}
.p202{margin-top:1pt}
.p203{text-indent:0.19in;margin-left:0;margin-top:0.7pt}
.p204{text-indent:0.2in;margin-left:0;margin-right:0.02in}
.p205{text-indent:0.2in;margin-left:0;margin-top:0.5pt}
.p206{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p207{margin-right:0.02in;margin-top:4.1pt}
.p208{margin-right:0.02in;margin-top:2.9pt}
.p209{margin-right:0.03in;margin-top:0.5pt}
.p210{margin-right:0.01in;margin-top:6.5pt}
.p211{margin-left:0.16in;margin-top:5.8pt;margin-bottom:17.3pt}
.p212{margin-left:0.15in}
.p213{margin-left:0.14in}
.p214{margin-left:0.84in;margin-right:0.81in}
.p215{text-indent:0.19in;margin-left:0;margin-right:0}
.p216{margin-left:0.27in}
.p217{margin-left:0.27in;margin-top:1.7pt}
.p218{text-indent:0.19in;margin-left:0;margin-top:1.7pt}
.p219{margin-left:0.25in;margin-top:20.4pt}
.p220{margin-left:0.25in;margin-top:6.7pt}
.p221{margin-left:0.25in;margin-top:1.2pt}
.p222{text-indent:-0.18in;margin-left:0.44in;margin-top:5.3pt}
.p223{margin-left:0.25in;margin-top:6.3pt}
.p224{text-indent:0.2in;margin-left:0;margin-top:1.7pt}
.p225{margin-top:7pt}
.p226{margin-right:0.01in;margin-top:4.3pt}
.p227{margin-right:0.04in;margin-top:6.5pt}
.p228{margin-right:0.03in;margin-top:4.1pt}
.p229{text-indent:0.19in;margin-left:0;margin-right:0.02in}
.p230{margin-left:0.29in;margin-top:0.5pt}
.p231{margin-top:5.3pt;margin-bottom:11.1pt}
.p232{margin-right:0.8in;margin-top:0.3pt}
.p233{margin-left:1.03in}
.p234{margin-left:1.03in;margin-top:6.3pt}
.p235{margin-left:0.9in;margin-right:0.86in}
.p236{margin-left:1.43in;margin-top:8.7pt}
.p237{text-indent:0.19in;margin-left:0;margin-right:0.02in;margin-top:0.3pt}
.p238{text-indent:0.2in;margin-left:0;margin-right:0.01in;margin-top:0.3pt}
.p239{margin-right:0.01in;margin-top:3.4pt}
.p240{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p241{margin-right:0.03in;margin-top:3.1pt}
.p242{text-indent:0.2in;margin-left:0;margin-right:0.03in}
.p243{text-indent:0.2in;margin-left:0;margin-right:0;margin-top:0.3pt}
.p244{margin-right:0.12in}
.p245{margin-top:6pt;margin-bottom:11.1pt}
.p246{text-indent:0.06in;margin-left:0;margin-right:0}
.p247{text-indent:0.1in;margin-left:0}
.p248{margin-left:0.94in;margin-right:0.92in}
.p249{margin-left:1.4in;margin-top:7.2pt}
.p250{margin-top:7.9pt}
.p251{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p252{margin-right:0.01in;margin-top:4.1pt}
.p253{margin-right:0.01in;margin-top:3.9pt}
.p254{margin-right:0.02in;margin-top:2.7pt}
.p255{text-indent:0.19in;margin-left:0;margin-right:0.01in}
.p256{text-indent:0.21in;margin-left:0}
.p257{margin-right:0;margin-top:2.4pt}
.p258{text-indent:0.19in;margin-left:0;margin-top:0.5pt}
.p259{text-indent:0.17in;margin-left:0}
.p260{text-indent:0.16in;margin-left:0}
.p261{margin-right:0.02in;margin-top:5.1pt}
.p262{margin-right:0.03in;margin-top:0.3pt}
.p263{margin-left:0.69in;margin-right:0.82in}
.p264{margin-left:0.69in;margin-right:0.82in;margin-top:2.9pt}
.p265{margin-top:5.5pt;margin-bottom:12pt}
.p266{margin-right:0.01in;margin-top:12pt}
.p267{margin-left:0.9in;margin-right:0.85in}
.p268{margin-top:8.4pt}
.p269{margin-left:0.74in;margin-right:0.74in}
.p270{margin-left:0.74in;margin-right:0.74in;margin-top:4.1pt}
.p271{margin-right:0.02in;margin-top:2.9pt}
.p272{margin-right:0;margin-top:6.3pt}
.p273{margin-left:0.53in}
.p274{margin-top:5.8pt;margin-bottom:11.3pt}
.p275{margin-right:0.02in;margin-top:0.3pt}
.p276{margin-right:0;margin-top:2.9pt}
.p277{margin-top:14.9pt}
.p278{text-indent:0.21in;margin-left:0;margin-top:0.5pt}
.p279{margin-right:0.01in;margin-top:2.2pt}
.p280{margin-right:0.01in;margin-top:5.3pt}
.p281{margin-right:0.01in;margin-top:2.4pt}
.p282{margin-top:1.5pt}
.p283{text-indent:0.2in;margin-left:0;margin-top:5.8pt}
.p284{margin-left:0.18in}
.p285{margin-left:0.17in;margin-top:6pt;margin-bottom:23.8pt}
.p286{margin-left:0.78in;margin-right:0.77in}
.p287{text-indent:0.23in;margin-left:0;margin-right:0}
.p288{text-indent:0.2in;margin-left:0;margin-right:0.01in;margin-top:0.3pt}
.p289{margin-left:0.95in;margin-right:0.93in}
.p290{margin-left:0.95in;margin-right:0.93in;margin-top:4.8pt}
.p291{margin-right:0.02in;margin-top:5.5pt}
.p292{margin-right:0.14in;margin-top:10.3pt}
.p293{margin-left:0.72in;margin-right:0.72in}
.p294{text-indent:0.15in;margin-left:0;margin-top:5.5pt}
.p295{text-indent:-0.14in;margin-left:0.14in}
.p296{margin-left:0.17in}
.p297{text-indent:-0.06in;margin-left:1.11in;margin-right:1.06in}
.p298{margin-right:1.66in;margin-top:8.9pt}
.p299{margin-left:0.39in}
.p300{margin-right:0.01in;margin-top:5.1pt}
.p301{margin-right:0.03in;margin-top:4.1pt}
.p302{margin-right:0.03in}
.p303{margin-right:0.03in;margin-top:2.2pt}
.p304{margin-right:0.05in}
.p305{margin-left:0.91in;margin-right:0.92in}
.p306{margin-left:0.91in;margin-right:0.92in;margin-top:5.1pt}
.p307{margin-left:0.24in}
.p308{margin-left:0.24in;margin-top:1.5pt}
.p309{margin-left:0.24in;margin-top:4.6pt;margin-bottom:0.7pt}
.p310{margin-left:0.24in}
.p311{margin-left:0.24in;margin-top:1.7pt}
.p312{margin-top:7.5pt}
.p313{margin-right:0.01in;margin-top:3.9pt}
.p314{margin-right:0.15in}
.p315{margin-top:5.8pt;margin-bottom:17.3pt}
.p316{margin-left:0.92in;margin-right:0.89in}
.p317{margin-right:0.13in;margin-top:10.8pt}
.p318{margin-left:0.7in;margin-right:0.7in}
.p319{margin-left:0.7in;margin-right:0.7in;margin-top:3.4pt}
.p320{margin-right:0.02in;margin-top:3.1pt}
.p321{text-indent:0.19in;margin-left:0;margin-top:6.3pt;margin-bottom:22.6pt}
.p322{margin-top:7.2pt}
.p323{text-indent:0.19in;margin-left:0;margin-right:0;margin-top:7.5pt}
.p324{text-indent:0.19in;margin-left:0;margin-top:0.3pt;margin-bottom:24.5pt}
.p325{text-indent:0.18in;margin-left:0;margin-top:5.8pt}
.p326{text-indent:0.19in;margin-left:0;margin-right:0.02in;margin-top:1pt}
.p327{margin-right:0.1in}
.p328{text-indent:0.61in;margin-left:0;margin-top:12.7pt}
.p329{margin-bottom:12.3pt}
.p330{margin-left:1.11in}
.p331{margin-left:1.28in}
.p332{text-indent:0.2in;margin-left:0;margin-right:0.02in;margin-top:0.3pt}
.p333{margin-right:0.01in;margin-top:0.3pt}
.p334{text-indent:-0.13in;margin-left:0.42in;margin-top:13.5pt}
.p335{text-indent:-0.13in;margin-left:0.42in;margin-top:8.4pt}
.p336{text-indent:-0.13in;margin-left:0.42in;margin-top:8.2pt}
.p337{margin-left:0.43in}
.p338{margin-left:0.2in;margin-top:5.8pt;margin-bottom:6.7pt}
.p339{margin-right:0.01in;margin-top:0.5pt}
.p340{margin-left:0.19in}
.p341{margin-top:10.3pt}
.p342{text-indent:-0.18in;margin-left:0.39in}
.p343{text-indent:-0.18in;margin-left:0.39in;margin-top:1.5pt}
.p344{text-indent:-0.19in;margin-left:0.58in;margin-top:8.7pt}
.p345{text-indent:-0.19in;margin-left:0.58in}
.p346{text-indent:-0.19in;margin-left:0.58in;margin-top:8.4pt}
.p347{text-indent:-0.19in;margin-left:0.58in;margin-top:8.2pt}
.p348{text-indent:0.19in;margin-left:0;margin-top:1.9pt}
.p349{text-indent:-0.2in;margin-left:0.39in}
.p350{text-indent:-0.2in;margin-left:0.39in;margin-top:2.2pt}
.p351{text-indent:0.16in;margin-left:0.39in}
.p352{text-indent:0.16in;margin-left:0.19in;margin-top:0.3pt}
.p353{text-indent:-0.19in;margin-left:0.19in;margin-right:0.25in;margin-top:0.3pt}
.p354{text-indent:0.15in;margin-left:0.18in}
.p355{text-indent:-0.19in;margin-left:0.51in;margin-top:14.2pt}
.p356{text-indent:-0.19in;margin-left:0.51in;margin-top:8.4pt}
.p357{margin-left:0.49in}
.p358{text-indent:-0.19in;margin-left:0.5in;margin-top:8.2pt}
.p359{margin-right:0.02in;margin-top:5.3pt}
.p360{margin-left:0.96in;margin-right:0.79in}
.p361{margin-left:0.18in;margin-top:5.8pt;margin-bottom:17.3pt}
.p362{margin-right:0.27in}
.p363{margin-right:0;margin-top:12pt}
.p364{margin-left:0.47in}
.p365{margin-left:1.28in;margin-top:8.7pt}
.p366{text-indent:0.19in;margin-left:0;margin-right:0;margin-top:0.3pt}
.p367{margin-top:6pt;margin-bottom:11.3pt}
.p368{margin-left:0.3in}
.p369{margin-top:9.4pt}
.p370{margin-right:0;margin-top:5.1pt}
.p371{text-indent:0.2in;margin-left:0;margin-right:0.02in}
.p372{text-indent:0.2in;margin-left:0;margin-right:0.01in;margin-top:0.3pt}
.p373{margin-right:0.01in;margin-top:5.5pt}
.p374{margin-right:0.01in;margin-top:0.3pt}
.p375{margin-left:0.22in}
.p376{margin-top:5.3pt;margin-bottom:16.6pt}
.p377{margin-left:0.55in}
.p378{margin-left:3.92in}
.p379{text-indent:0.2in;margin-left:0;margin-right:0.03in}
.p380{margin-right:0.03in}
.p381{margin-left:0.18in}
.p382{margin-top:6pt;margin-bottom:17.5pt}
.p383{margin-left:0.91in}
.p384{margin-left:0.35in}
.p385{margin-right:0.01in;margin-top:2.4pt}
.p386{text-indent:-0.14in;margin-left:0.14in;margin-right:0.24in}
.p387{text-indent:-0.14in;margin-left:0.14in;margin-right:0.25in;margin-top:8.9pt}
.p388{text-indent:-0.14in;margin-left:0.14in;margin-right:0.26in;margin-top:8.9pt}
.p389{text-indent:-0.14in;margin-left:0.14in;margin-right:0.27in;margin-top:8.2pt}
.p390{text-indent:-0.14in;margin-left:0.14in;margin-right:0.27in;margin-top:8.7pt}
.p391{text-indent:0.16in;margin-left:0}
.p392{text-indent:-0.15in;margin-left:0.15in;margin-top:8.4pt}
.p393{margin-right:0.76in;margin-top:3.4pt}
.p394{margin-left:1.01in;margin-right:1.01in}
.p395{margin-left:0.26in;margin-top:14.9pt}
.p396{text-indent:-0.15in;margin-left:0.41in}
.p397{text-indent:0.15in;margin-left:0.42in;margin-top:0.5pt}
.p398{text-indent:-0.15in;margin-left:0.41in;margin-top:0.3pt}
.p399{margin-left:0.9in;margin-right:0.87in}
.p400{margin-left:0.9in;margin-right:0.87in;margin-top:5.3pt}
.p401{margin-top:5.5pt;margin-bottom:5.5pt}
.p402{margin-right:1.17in;margin-top:7.5pt}
.p403{margin-right:0.01in;margin-top:4.6pt}
.p404{text-indent:-0.15in;margin-left:0.15in}
.p405{text-indent:-0.15in;margin-left:0.15in}
.p406{margin-left:0.9in;margin-right:0.92in}
.p407{margin-right:0.12in;margin-top:11.1pt}
.p408{text-indent:-0.18in;margin-left:0.44in}
.p409{text-indent:-0.18in;margin-left:0.44in;margin-top:1.7pt}
.p410{text-indent:0.16in;margin-left:0.44in}
.p411{text-indent:-0.19in;margin-left:0.19in;margin-right:0.24in}
.p412{text-indent:-0.19in;margin-left:0.19in;margin-right:0.25in;margin-top:8.4pt}
.p413{text-indent:-0.19in;margin-left:0.19in;margin-right:0.24in;margin-top:8.4pt}
.p414{text-indent:0.16in;margin-left:0.19in}
.p415{margin-right:0;margin-top:4.3pt}
.p416{text-indent:0.21in;margin-left:0}
.p417{margin-left:0.19in}
.p418{margin-top:6pt;margin-bottom:5.5pt}
.p419{margin-left:0.31in}
.p420{text-indent:0.21in;margin-left:0;margin-right:0}
.p421{text-indent:-0.14in;margin-left:0.46in;margin-top:14.2pt}
.p422{text-indent:-0.14in;margin-left:0.46in;margin-top:8.2pt}
.p423{text-indent:-0.14in;margin-left:0.14in;margin-right:0.25in;margin-top:8.7pt}
.p424{text-indent:-0.14in;margin-left:0.14in;margin-right:0.26in;margin-top:8.4pt}
.p425{text-indent:-0.14in;margin-left:0.14in;margin-right:0.27in;margin-top:8.4pt}
.p426{margin-right:0;margin-top:6.7pt}
.p427{text-indent:0.21in;margin-left:0;margin-top:0.3pt}
.p428{margin-right:0;margin-top:6pt}
.p429{margin-right:0.01in;margin-top:2.7pt}
.p430{text-indent:-0.15in;margin-left:0.46in;margin-top:14.9pt}
.p431{text-indent:-0.15in;margin-left:0.46in;margin-top:8.7pt}
.p432{text-indent:-0.15in;margin-left:0.61in;margin-top:8.7pt}
.p433{text-indent:-0.15in;margin-left:0.61in;margin-top:8.4pt}
.p434{margin-left:0.62in}
.p435{text-indent:-0.15in;margin-left:0.61in;margin-top:8.7pt}
.p436{margin-left:0.64in}
.p437{margin-right:0.01in;margin-top:12pt}
.p438{margin-left:0.46in}
.p439{margin-left:1.65in;margin-top:8.7pt}
.p440{margin-right:0.01in;margin-top:2.9pt}
.p441{margin-right:0.02in;margin-top:4.8pt}
.p442{margin-right:0.02in;margin-top:3.4pt}
.p443{text-indent:0.2in;margin-left:0;margin-right:0}
.p444{text-indent:-0.19in;margin-left:0.47in;margin-top:13.9pt}
.p445{text-indent:-0.19in;margin-left:0.47in;margin-top:8.4pt}
.p446{margin-left:0.48in}
.p447{text-indent:-0.19in;margin-left:0.47in;margin-top:8.7pt}
.p448{margin-left:0.47in;margin-top:0.3pt}
.p449{margin-left:0.48in}
.p450{text-indent:-0.19in;margin-left:0.48in;margin-top:8.4pt}
.p451{text-indent:-0.2in;margin-left:0.48in;margin-top:13.9pt}
.p452{text-indent:-0.2in;margin-left:0.48in;margin-top:8.4pt}
.p453{text-indent:-0.19in;margin-left:0.48in;margin-top:8.7pt}
.p454{margin-right:0.03in;margin-top:5.1pt}
.p455{margin-right:0.04in;margin-top:3.1pt}
.p456{margin-left:0.92in;margin-right:0.88in}
.p457{margin-top:5.5pt;margin-bottom:9.9pt}
.p458{margin-right:0.01in;margin-top:6pt}
.p459{margin-left:0.28in;margin-top:15.1pt}
.p460{text-indent:-0.19in;margin-left:0.47in;margin-top:7.9pt}
.p461{text-indent:-0.19in;margin-left:0.19in;margin-top:8.2pt}
.p462{margin-left:0.17in}
.p463{margin-left:0.46in}
.p464{text-indent:-0.19in;margin-left:0.45in;margin-top:8.2pt}
.p465{text-indent:-0.19in;margin-left:0.45in;margin-top:8.4pt}
.p466{text-indent:-0.19in;margin-left:0.19in;margin-top:8.4pt}
.p467{text-indent:0.21in;margin-left:0;margin-right:0.01in}
.p468{margin-left:0.31in}
.p469{margin-left:0.31in;margin-top:10.6pt}
.p470{margin-left:0.33in}
.p471{margin-left:0.33in;margin-top:8.2pt}
.p472{margin-left:0.33in;margin-top:8.2pt}
.p473{text-indent:0.2in;margin-left:0;margin-top:1.7pt}
.p474{margin-left:1.76in}
.p475{margin-right:0.02in;margin-top:9.1pt}
.p476{margin-left:0.15in;margin-top:4.6pt;margin-bottom:12.3pt}
.p477{margin-left:0.23in}
.p478{margin-right:0.02in;margin-top:10.6pt}
.p479{margin-right:0;margin-top:5.5pt}
.p480{text-indent:0.2in;margin-left:0;margin-top:0.3pt}
.p481{margin-right:0.01in;margin-top:1.5pt}
.p482{margin-left:0.29in}
.p483{margin-right:0;margin-top:2.7pt}
.p484{text-indent:0.19in;margin-left:0;margin-right:0.01in}
.p485{margin-right:0.01in;margin-top:6.3pt}
.p486{margin-right:0.01in;margin-top:6.3pt}
.p487{margin-right:0.04in;margin-top:3.6pt}
.p488{margin-right:0.04in}
.p489{margin-right:0.04in;margin-top:2.7pt}
.p490{margin-left:0.84in;margin-right:0.81in}
.p491{margin-left:0.84in;margin-right:0.81in;margin-top:5.1pt}
.p492{text-indent:0.2in;margin-left:0;margin-right:0.02in;margin-top:0.3pt}
.p493{margin-left:0.47in}
.p494{margin-right:0.04in;margin-top:8.4pt}
.p495{margin-right:0.02in;margin-top:3.6pt}
.p496{margin-right:0.12in;margin-top:10.8pt}
.p497{margin-left:0.22in}
.p498{margin-left:0.52in}
.p499{margin-top:5.8pt;margin-bottom:11.8pt}
.p500{text-indent:-0.13in;margin-left:0.13in;margin-right:0.01in;margin-top:12.3pt}
.p501{text-indent:-0.76in;margin-left:1.25in}
.p502{margin-right:0;margin-top:8.4pt}
.p503{text-indent:0.18in;margin-left:0}
.p504{margin-right:0.02in;margin-top:5.1pt}
.p505{margin-right:0.03in;margin-top:3.1pt}
.p506{margin-right:0.02in;margin-top:3.9pt}
.p507{margin-left:0.91in;margin-right:0.91in}
.p508{text-indent:-0.82in;margin-left:1.46in}
.p509{margin-right:0.02in;margin-top:8.7pt}
.p510{margin-left:3.23in}
.p511{margin-left:0.3in;margin-top:0.5pt}
.p512{margin-left:0.89in;margin-right:0.88in;margin-top:4.3pt}
.p513{margin-left:0.8in;margin-right:0.8in}
.p514{text-indent:0.05in;margin-left:0}
.p515{text-indent:0.19in;margin-left:0;margin-right:0.01in}
.p516{margin-left:0.33in;margin-top:13.7pt}
.p517{text-indent:-0.11in;margin-left:0.44in}
.p518{text-indent:0.19in;margin-left:0;margin-top:2.2pt}
.p519{margin-right:0.15in}
.p520{margin-top:6pt;margin-bottom:18.7pt}
.p521{margin-left:0.69in;margin-right:0.73in}
.p522{margin-right:0.02in;margin-top:8.9pt}
.p523{text-indent:0.19in;margin-left:0;margin-right:0.01in}
.p524{text-indent:0.2in;margin-left:0;margin-right:0.02in;margin-top:0.3pt}
.p525{margin-right:0;margin-top:4.8pt}
.p526{margin-right:0.01in;margin-top:2.7pt}
.p527{text-indent:0.2in;margin-left:0;margin-right:0.03in;margin-top:0.3pt}
.p528{text-indent:0.2in;margin-left:0;margin-right:0.02in;margin-top:0.5pt}
.p529{text-indent:0.19in;margin-left:0;margin-right:0.01in}
.p530{text-indent:0.2in;margin-left:0;margin-right:0.04in;margin-top:0.5pt}
.p531{margin-left:0.77in;margin-right:0.75in}
.p532{margin-left:0.77in;margin-right:0.75in;margin-top:6.7pt}
.p533{margin-top:6pt;margin-bottom:5.8pt}
.p534{margin-right:0.13in;margin-top:0.3pt}
.p535{margin-right:2.37in}
.p536{text-indent:0.2in;margin-left:0;margin-right:0.01in}
.p537{text-indent:0.49in;margin-left:0}
.p538{margin-right:0.03in;margin-top:2.4pt}
.p539{margin-left:0.25in}
.p540{margin-left:0.25in;margin-top:10.6pt}
.p541{text-indent:-2.09in;margin-left:2.35in;margin-top:6.7pt}
.p542{margin-left:0.26in;margin-top:9.9pt}
.p543{text-indent:-2.09in;margin-left:2.35in;margin-top:7.7pt}
.p544{text-indent:-2.09in;margin-left:2.35in;margin-top:7pt}
.p545{margin-left:0.26in;margin-top:9.4pt}
.p546{margin-left:2.36in;margin-top:3.4pt}
.p547{text-indent:-2.09in;margin-left:2.35in;margin-top:7.5pt}
.p548{margin-left:0.26in;margin-top:9.9pt}
.p549{text-indent:0.19in;margin-left:0;margin-right:0.01in;margin-top:0.5pt}
.p550{margin-bottom:10pt}
.t0{font-size:1em;color:#f9841c;letter-spacing:3.5pt}
.t1{font-size:1em;color:#f9841c;letter-spacing:3.5pt}
.t2{font-size:1em;color:white}
.t4{font-size:1em;letter-spacing:-0.5pt}
.t5{font-size:1em;color:#000000}
.t6{font-size:1em;letter-spacing:-1pt}
.t7{font-size:1em;letter-spacing:1pt}
.t8{font-size:1em}
.t9{font-size:1em}
.t10{font-size:1em;letter-spacing:-0.5pt}
.t11{font-size:1em;color:blue;text-decoration:underline}
.t12{font-size:1em;color:blue;text-decoration:underline}
.t13{font-size:1em;color:blue;text-decoration:underline}
.t14{font-family:"Times New Roman",serif;font-size:1em}
.t15{font-family:Cambria,serif;font-size:1.45em;color:#000000}
.t16{font-family:Cambria,serif;font-size:1.45em;color:#000000}
.t17{font-family:Cambria,serif;font-size:1.45em;color:#000000}
.t18{font-family:Cambria,serif;font-size:1.27em;color:#000000}
.t19{font-family:Cambria,serif;font-size:1.27em;color:#000000}
.t20{font-family:Cambria,serif;font-size:1.27em;color:#000000}
.t21{font-family:"Times New Roman",serif;font-size:1em;letter-spacing:-1pt}
.t22{font-family:Symbol;font-size:1em}
.t23{font-size:1em}
.t24{font-size:1em;letter-spacing:-1pt}
.t25{font-family:Cambria,serif;font-size:1.45em;color:#000000;letter-spacing:-0.5pt}
.t26{font-size:1.27em}
.t27{font-size:1em;vertical-align:-127%}
.t28{font-size:1em;background:yellow}
.t29{font-size:1em;background:yellow}
.t30{font-size:1em;background:yellow}
.t31{font-size:1em;color:#000000;background:yellow}
.t32{font-size:1em;color:#000000}
.t33{font-size:1em;letter-spacing:-1.5pt}
.t34{font-size:1em;letter-spacing:3.5pt}
.t35{font-size:1em;letter-spacing:-1.5pt}
.t36{font-family:Cambria,serif;font-size:1.45em;color:#000000;letter-spacing:-2pt}
.t37{font-family:"Times New Roman",serif;font-size:1em;letter-spacing:1pt}
.t38{font-size:.82em}
.t39{font-size:.82em}
.t40{font-size:.82em}
.t41{font-size:.65em;vertical-align:sub;letter-spacing:-1pt}
.t42{font-size:.65em;vertical-align:super}