p{text-indent:.57em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0;text-align:center;margin-top:.17em}
.p2{text-indent:0;margin-left:0;text-align:center;margin-top:.095em}
.p3{text-indent:0;margin-left:5.4em;margin-right:5.3em;text-align:center;margin-top:.025em}
.p4{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-top:.025em}
.p5{text-indent:0;margin-left:0}
.p7{text-indent:.57em;text-align:right}
.p8{text-indent:0;margin-left:0;text-align:left}
.p9{text-indent:.57em;text-align:center}
.p10{text-indent:.57em;margin-right:.035em}
.p11{text-indent:.57em;margin-top:.025em}
.p12{text-indent:.57em;margin-top:.05em}
.p13{text-indent:0;margin-left:0;text-align:center;margin-top:.025em}
.p14{text-indent:.57em;margin-right:.18em}
.p15{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-bottom:1em}
.p16{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:1em}
.p17{text-indent:.57em;margin-top:.53em}
.p18{text-indent:.57em;margin-top:.36em}
.p19{text-indent:.57em;margin-top:.34em}
.p20{text-indent:.57em;margin-top:.17em}
.p21{text-indent:.57em;margin-top:.55em}
.p22{text-indent:.57em;margin-top:.22em}
.p23{text-indent:.57em;margin-left:19em;margin-top:.15em}
.p24{text-indent:.57em;margin-top:.19em}
.p25{text-indent:.57em;margin-top:.31em}
.p26{text-indent:.57em;margin-top:.095em}
.p27{text-indent:.57em;margin-top:.39em}
.p28{text-indent:.57em;margin-top:.07em}
.p29{text-indent:0;margin-left:0;margin-top:.025em}
.p30{text-indent:.57em;margin-left:4.3em;margin-top:.36em}
.p31{text-indent:.57em;text-align:center;margin-top:.025em}
h1{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.2em;margin-bottom:0;font-family:Cambria,serif;font-size:182%;font-weight:bold}
.h11{text-indent:0;line-height:100%;margin-bottom:.3em}
.h12{text-indent:0}
.t2{font-size:2em;line-height:100%}
.t3{font-size:2em;line-height:100%;font-weight:bold}
.t4{font-size:2.4em;line-height:100%;font-weight:bold}
.t5{font-size:2.4em;line-height:100%}
.t6{font-size:.8em;line-height:100%}
.t7{font-size:1.6em;line-height:100%;color:blue;text-decoration:underline}
.t8{font-size:1.6em;line-height:100%}
.t9{font-family:Calibri,sans-serif;font-size:1.1em;line-height:100%}
.t10{font-weight:bold}
.t11{font-style:italic}
.t12{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%}