@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
  }
@font-face {
  src: url(fonts/Book-Antiqua.ttf);
  panose-1: 2 4 6 2 5 3 5 3 3 4;
  font-family: "Book Antiqua";
  }
@font-face {
  src: url(fonts/Book-Antiqua-Italic.ttf);
  panose-1: 2 4 5 2 5 3 5 10 3 4;
  font-family: "Book Antiqua";
  font-style: italic;
  }
@font-face {
  src: url(fonts/Book-Antiqua-Bold.ttf);
  panose-1: 2 4 7 2 5 3 5 3 3 4;
  font-family: "Book Antiqua";
  font-weight: bold;
  }
@font-face {
  src: url(fonts/Book-Antiqua-Bold-Italic.ttf);
  panose-1: 2 4 7 2 6 3 5 10 2 4;
  font-family: "Book Antiqua";
  font-weight: bold;
  font-style: italic;
  }
