<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>26CCC00373A43E43FDB3F3F75C97C599</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>20428EDD09FDF0150477552AE0251345</string>
		<key>publisher-unique-id</key>
		<string>f134a4c5-c00d-4c6c-8066-f9a61a5bc83a</string>
		<key>unique-id</key>
		<integer>-6710417869254963438</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Ateş Gecesi</string>
	<key>playlistName</key>
	<string>Ateş Gecesi</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
</dict>
</plist>
