/*
 *chapter
 */
h1 {
  font-family: "Berling LT Std Roman";
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1.5em;
}
p {
  font-family: "Berling LT Std Roman";
  font-size: 0.875em;
  line-height: 1.4em;
  margin: 0;
  text-indent: 1.5em;
}
.double {
  margin-top: 2em;
}
.part h1 {
  margin-top: 3em;
  font-size: 1.4em;
}
.acknowledgments {
  font-size: 0.93em;
}
/*other*/
.kunye span {
  font-family: "Gill Sans Std";
  font-size: 0.667em;
  display: block;
}
.copy {
  margin: 0.8em 0 0;
}
.kunye a {
  text-decoration: none;
  color: #7A7A7A;
}
.title {
  text-align: center;
}
.aut {
  font-family: "GoudyCatTReg";
  font-size: 1.65em;
  margin-bottom: 0;
}
.aut span {
  font-size: 1.14em;
}
.work {
  font-family: "GoudyCatTReg";
  font-size: 2.375em;
  margin-top: 0.5em;
}
.seri {
  font-family: "Gill Sans Std";
  font-size: 0.92em;
  margin-top: 2.5em;
}
.trans {
  font-family: "Gill Sans Std";
  font-size: 0.9em;
  margin-top: 1.5em;
  line-height: 1.5em;
}
.trans span {
  font-size: 1.2em;
}
.biography p {
  font-family: "Gill Sans Std";
  font-weight: normal;
  font-size: 0.75em;
  text-indent: 0;
  line-height: 1.5em;
}
li {
  font-family: "Gill Sans Std";
  font-size: 0.75em;
  list-style: none;
  padding-bottom: 0.5em;
}
ul {
  margin: 1.5em 0 0;
  padding: 0;
}
.books h1 {
  font-family: "Gill Sans Std";
  font-weight: normal;
  font-size: 0.75em;
  text-align: left;
}
.si-noteref {
  text-decoration: none;
  color: #7A7A7A;
  font-size: 0.75em;
  vertical-align: super;
  padding-left: 0.1em;
}
.si-footnotes {
  margin: 4em 0 1em;
}
.si-backref {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.si-footnote {
  font-family: "Gill Sans Std";
  font-size: 0.8em;
  margin-bottom: 0.3em;
}
.logo {
  margin: 3em auto 0 auto;
}
.cover-container img {
  max-width: 100%;
}
.cover-container {
  margin: 0 auto;
  max-width: 450px;
  page-break-inside: avoid;
}
