<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Halil Cibran</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>454B3E4AE30DA3E9AF5D2C4A4EEDBAFD</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>273B39AE66577D9C1575C553E411DE73</string>
		<key>publisher-unique-id</key>
		<string>{33B805F3-9A63-48B1-BBEE-6366616FBF56}</string>
		<key>unique-id</key>
		<integer>-3347330695915712203</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>Modern Klasikler</string>
	<key>itemName</key>
	<string>Ermiş</string>
	<key>playlistName</key>
	<string>Ermiş</string>
	<key>releaseDate</key>
	<string>2017-03-22T22:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Cibran, Halil</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
