.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 1em;
    margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right:0;
	text-align: justify;
    }
.calibre2 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
