.al-nt-aa-ilk-paragraf {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 2.83em;
}
.al-nt-isim {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif6 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  text-decoration: none;
  text-indent: 1.35em;
  margin: 0 1.08em;
}
.basl-k {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 0.24em;
}
.bold-yaz {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.bolum-ad-tek-sat-r {
  -moz-hyphens: none;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: none;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: none;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  margin: 3.85em 0.08em 2.31em;
}
.calibre {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  display: block;
  font-family: "Vollkorn Medium", serif;
  font-size: 1em;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre1 {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre2 {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  height: 100%;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  width: 100%;
}
.dar-paragraf-italik {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif6 Beta";
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.dip-not {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Helvetica Neue LT Std";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 1.89em;
}
.dipnot-bold {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Helvetica Neue LT Std";
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.dipnot-italik {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Helvetica Neue LT Std";
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.dipnot-no {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 0.625em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.dk-logo {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  margin: 0 0.16em;
}
.duz-yaz {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.duz-yaz-ilk-paragraf {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif6 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 0.27em;
}
.duz-yaz-sagdan-blok-yak-n {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  text-decoration: none;
  text-indent: 1.35em;
  margin: 0 0.27em;
}
.duz-yaz1 {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 0.27em;
}
.generated-style {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  height: auto;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  width: auto;
}
.ikon {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Helvetica Neue LT Std";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  margin: 0 1.7em;
}
.italik-yaz {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif6 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.ithaf {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif6 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 1.08em;
}
.k-nye-bold {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.k-nye-kitap-ad {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.k-nye-regular {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.kitap-ismi {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 0.28em;
}
.kitap-ismi-2-son {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  margin: 0 0.2em;
}
.kitap-ismi1 {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  color: #000;
  font-family: "Serif12 Beta";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  text-decoration: none;
}
.kobospan {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
}
.kunye-yeni-madde {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Gill Sans";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 0.28em;
}
.tesekk-r {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 1.13em;
}
.x-iir-d-rtl-k-genel-tab-3-son {
  -moz-hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  -webkit-hyphens: auto;
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  color: #000;
  display: block;
  font-family: "Serif12 Beta";
  font-size: 0.83333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  hyphens: auto;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  margin: 0 1.7em 0 14.17em;
}
