body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0.04in;margin-right:0.04in;text-align:justify;margin-top:0;margin-bottom:8.5pt;font-family:"Times New Roman",serif;font-size:127%}
.p0{text-align:center;margin-bottom:0}
.p1{text-align:center;margin-bottom:22.7pt}
.p2{text-align:center;margin-bottom:2.9pt}
.p3{text-align:center;margin-bottom:170.1pt}
.p4{line-height:1;text-align:left;margin-bottom:0}
.p5{line-height:1;text-align:left}
.p6{text-align:center;margin-bottom:14.2pt}
.p7{text-align:center}
.p8{line-height:200%;text-align:center;margin-top:30pt;margin-bottom:30pt}
.p10{margin-bottom:28.4pt}
.p11{text-align:right;margin-bottom:0}
.p12{text-align:right}
.p13{text-align:center;margin-bottom:28.4pt}
.p14{text-align:left;margin-bottom:90.7pt}
.p15{text-align:right;margin-top:113.4pt}
.p16{text-align:left;margin-bottom:28.4pt}
.p17{margin-bottom:0}
.p18{margin-left:0;margin-right:0;margin-bottom:0}
.p19{margin-left:0;margin-right:0;text-align:left;margin-bottom:0}
.t0{font-family:"Courier New",monospace;font-size:.71em}
.t2{font-size:1em}
.t3{font-size:1em}
.t4{font-size:.79em}
.t5{font-size:.79em}
.t6{font-size:.79em}
.t7{font-size:.79em}
.t8{font-family:Cambria,serif;font-size:1.43em;color:red}
.t9{font-family:Cambria,serif;font-size:1.43em;color:red}
.t10{font-size:1em}
.t11{font-size:1.43em}
.t12{font-family:Cambria,serif;font-size:1em;color:red}
.t13{font-size:1.14em}
.t14{font-size:1.14em}
.t15{font-size:.65em;vertical-align:super}
.t16{font-family:Cambria,serif;font-size:1.43em;color:red}
.t17{font-size:1.14em}
.t18{font-size:.71em}
.t19{font-size:.71em}
.t20{font-size:.71em}
.t21{font-size:.71em}