@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.itaLik-DiPNOT {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	font-variant : normal;
}
span.italik-metin- {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-variant : normal;
	color : #000000;
}
span.dip-basvuru {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	vertical-align : super;
}
span.BOLD-italik-metin {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 0.83em;
	font-variant : normal;
}
span.bold-metin {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	font-variant : normal;
}
p.dipnot-cizgili {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : justify;
	color : #000000;
	text-indent : -20px;
	margin : 0px 0px 0px 20px;
}
p.bolumbasligi1 {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 120px 0px 10px 0px;
}
p.Metin {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 0px 1px 0px;
}
p.baslik1 {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 15px 0px 5px 0px;
}
p.arabaslik {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 10px 0px 6px 0px;
}
p.Basic-Paragraph {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
	direction : rtl;
}
p.GIRIS-BASL-K {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 2em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 10px 0px;
}
p.JENER-K {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 8px 0px 0px 0px;
}
p.JEN-COPY {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 1px 0px 0px 0px;
}
p.yazar {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.75;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 25px 0px;
}
p.para-style-override-1 {
	text-align : center;
}
div.Basic-Text-Frame {
}
