body{margin-left:5%;margin-right:5%;margin-top:5%;margin-bottom:5%}
p{text-indent:0;margin-left:0;line-height:140%;margin-right:0;margin-top:0;margin-bottom:0;font-family:Amasis,serif;font-size:91%}
.p1{text-align:center}
.t1{font-size:1em}
.t2{font-size:1em}