.block {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 6pt
    }
.block1 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block10 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 6pt
    }
.block11 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block12 {
    display: block;
    font-style: italic;
    line-height: 1.2;
    text-align: right;
    padding: 0;
    margin: 0
    }
.block13 {
    display: block;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    padding: 0;
    margin: 180pt 0 0
    }
.block14 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block15 {
    display: block;
    line-height: 1.2;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block16 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block17 {
    display: block;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block18 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: justify;
    padding: 0;
    margin: 0
    }
.block19 {
    display: block;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block2 {
    display: block;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 72pt 0 0
    }
.block20 {
    display: block;
    line-height: 1.2;
    text-align: right;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block3 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block5 {
    display: block;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block6 {
    display: block;
    font-size: 1.83333em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 102pt 0 6pt
    }
.block7 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 30pt
    }
.block8 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 6pt
    }
.block9 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 72pt
    }
.calibre {
    color: black;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-style: italic;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre6 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre7 {
    white-space: pre-wrap
    }
.calibre8 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.text {
    color: #00F;
    font-size: 0.75em;
    line-height: normal;
    text-decoration: underline;
    vertical-align: super
    }
.text1 {
    color: #00F;
    font-family: "Cambria", serif;
    font-size: 1.2em;
    line-height: 1.2;
    text-decoration: underline
    }
.text2 {
    font-family: "Cambria", serif;
    font-size: 1.2em;
    line-height: 1.2
    }
.text3 {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }
