body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0.04in;line-height:17pt;margin-right:0.04in;text-align:justify;margin-top:6pt;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%;color:black}
.p0{text-align:center;margin-top:0}
.p1{line-height:200%;text-align:center;margin-top:18pt;margin-bottom:15pt}
.p2{text-align:center}
.p4{line-height:200%;text-align:center;margin-top:24pt;margin-bottom:18pt}
.t0{font-size:1em}
.t1{font-family:Cambria,serif;font-size:2.36em;color:#17365d;letter-spacing:0.3pt}
.t2{font-family:Cambria,serif;font-size:2.36em;color:#17365d;letter-spacing:0.3pt}
.t4{font-size:1em}
.t5{font-size:1em;color:red}
.t6{font-family:Cambria,serif;font-size:1.64em;color:red}
.t7{font-family:Cambria,serif;font-size:1.64em;color:red}
.t8{font-family:Cambria,serif;font-size:1.64em;color:red}
.t9{font-size:1em}
.t10{font-family:Cambria,serif;font-size:1.64em;color:red}