@font-face{font-family:"Alegreya";font-style:normal;font-weight:normal;src:url(../Fonts/ALEGREYA-REGULAR.OTF)}
@font-face{font-family:"Alegreya";font-style:normal;font-weight:bold;src:url(../Fonts/ALEGREYA-BOLD.OTF)}
@font-face{font-family:"Alegreya";font-style:italic;font-weight:bold;src:url(../Fonts/ALEGREYA-BOLDITALIC.OTF)}
@font-face{font-family:"Alegreya";font-style:italic;font-weight:normal;src:url(../Fonts/ALEGREYA-ITALIC.OTF)}

@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}

p{text-indent:1.4em;margin-left:0;line-height:110%;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:Alegreya,monospace;font-size:109%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:1.4em;margin-left:1.2em;line-height:100%;margin-top:0;margin-bottom:0}
.p2{text-indent:1.4em;margin-left:1.2em;line-height:100%;margin-top:0;margin-bottom:1em}
.p3{text-indent:1.4em;margin-left:1.2em;line-height:100%;margin-top:1em;margin-bottom:1em}
.p4{text-indent:1.4em;margin-left:1.2em;line-height:100%;margin-top:1em;margin-bottom:0}
.p6{text-indent:1.4em;text-align:center}
.p7{text-indent:1.4em;text-align:center;margin-top:4.5em;margin-bottom:4.5em}
.p8{text-indent:0;margin-left:0;margin-right:1.2em;text-align:right}
.p9{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0.4em}
.p10{text-indent:0;margin-left:3.5em;margin-top:0;margin-bottom:0}
.p11{text-indent:0;margin-left:0;text-align:center;margin-top:0em;margin-bottom:3em}
.p12{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:2.5em}
.p13{text-indent:0;margin-left:0;text-align:center;margin-top:1.5em}
.p14{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:2.5em}
.p15{text-indent:0;margin-left:0;text-align:center;margin-top:1.5em;margin-bottom:1.5em}
.p16{text-indent:0;margin-left:0;text-align:center;margin-bottom:2.5em}
.p17{text-indent:0;margin-left:0;text-align:center}
.p18{text-indent:0;margin-left:2.4em;margin-top:0;margin-bottom:0}
.p19{text-indent:0;margin-left:0;text-align:center;margin-bottom:1.5em}
.p20{text-indent:-4em;margin-left:6.4em;text-align:justify;margin-bottom:0;margin-top:0}
.p21{text-indent:0;margin-left:0;text-align:center;margin-top:2.5em;margin-bottom:1.5em}
.p22{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p23{text-indent:0;margin-left:0;line-height:100%;margin-top:0;margin-bottom:0.7em}
.p24{text-indent:0}
.p25{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:2.5em}
.p26{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p27{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:3em}
.p28{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:2.5em;margin-bottom:2.5em}
.p29{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0.2em}
.p30{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p31{text-indent:0;margin-left:0;text-align:center;margin-top:0.2;margin-bottom:0.2}
.p32{text-indent:0;margin-left:0;text-align:justify;margin-top:2.8em;margin-bottom:1em}
.p33{text-indent:0;margin-left:0;text-align:center;margin-bottom:0.3em}

h1{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.55em;margin-bottom:1.4em;font-family:Alegreya,monospace;font-size:170%;font-weight:normal}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.5em;margin-bottom:.3em;font-family:Alegreya,monospace;font-size:182%;font-weight:normal}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.9em;margin-bottom:1.1em;font-family:Alegreya,monospace;font-size:145%;font-weight:normal}
.h31{text-indent:0}

.t1{font-family:Calibri,sans-serif;font-size:.92em;line-height:110%}
.t3{font-size:1em;line-height:100%}
.t4{font-size:.83em;line-height:100%;font-style:italic}
.t5{font-size:.83em;line-height:100%;font-weight:bold}
.t6{font-size:2.7em;line-height:110%;font-weight:bold}
.t7{font-size:2.3em;line-height:110%;font-weight:bold}
.t8{font-size:2.3em;line-height:110%}
.t9{font-style:italic}
.t10{font-size:1.7em;line-height:100%}
.t11{font-size:1.5em;line-height:100%}
.t12{font-size:.65em;line-height:110%;vertical-align:super}
.t13{color:blue}
.t14{font-size:1.5em;line-height:110%}
.t15{font-size:1.1em;line-height:110%}
.t16{font-size:1.2em;line-height:100%}
.t17{font-size:1.0em;line-height:110%}
.t18{font-size:2em;line-height:110%}
.t19{font-size:1.7em;line-height:110%}
.t20{font-size:1.5em;line-height:100%}
.t21{font-size:1.1em;line-height:100%}
.t22{font-size:1.2em;line-height:110%;font-weight:bold}
.t23{font-size:1.3em;line-height:110%}
.t24{font-weight:bold}
.t25{font-size:1em;line-height:100%;vertical-align:super}
.t26{font-size:1.5em;line-height:110%}
.t27{font-size:1.3em;line-height:110%}


.th11{font-size:1.2em;line-height:108%}
.th21{font-size:1em;text-decoration:underline}
.th22{font-size:1.3em;line-height:108%;text-decoration:underline}
.th23{font-size:1.2em;line-height:108%;text-decoration:underline}

.box p {
		display: table-cell;
		vertical-align: top;
		text-align: justify
	}