@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.dipp {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.dipp-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.dipp-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.dip {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.dip-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.dip-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.char-style-override-1 {
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-2 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-3 {
	font-size : 0.88em;
}
span.char-style-override-4 {
	font-size : 0.88em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-5 {
	font-size : 0.88em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-6 {
	font-size : 0.75em;
}
span.char-style-override-7 {
	color : #0000ff;
	font-size : 0.88em;
}
p.kunye {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 20px 30px;
}
p.resim {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 30px;
}
p.yildiz {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split-1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 20px 30px;
}
p.resim-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 30px;
}
p.yildiz-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split-2 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 20px 30px;
}
p.resim-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 30px;
}
p.yildiz-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split-3 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 20px 30px;
}
p.resim-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 30px;
}
p.yildiz-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split-4 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 20px 30px;
}
p.resim-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 30px;
}
p.yildiz-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split-5 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 20px 30px;
}
p.resim-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 30px;
}
p.yildiz-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	text-indent : 0px;
}
p.para-style-override-3 {
	text-align : center;
}
p.para-style-override-4 {
	text-align : left;
}
p.para-style-override-5 {
	margin-top : 20px;
	text-align : left;
}
p.para-style-override-6 {
	margin-bottom : 5px;
	text-align : right;
}
p.para-style-override-7 {
	text-align : right;
}
p.para-style-override-8 {
	margin-top : 10px;
}
div.Basic-Text-Frame {
}
