@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype"); 
}

@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: italic;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd.ttf") format("truetype"); 
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: italic;
	src:url("font/GillSansStd-Italic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Gill Sans Light";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd-Light.ttf") format("truetype"); 
}

@font-face {
	font-family: "Gill Sans Light";
	font-weight: normal;
	font-style: italic;
	src:url("font/GillSansStd-LightItalic.ttf") format("truetype"); 
}


@font-face {
	font-family: "Goudy Cat";
	font-weight: normal;
	font-style: normal;
	src:url("font/GoudyCatTReg.ttf") format("truetype"); 
}




/*cover*/

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/


.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	margin-top: 1em;
}
.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:0.8em;
	line-height: 1.2em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;
	
}

/*titlepage*/

.title{
	text-align: center;
}

.aut{
	margin-top: 2em;
	font:normal normal 2.06em/1.2em "Goudy Cat";
	text-align: center;
}

.aut .bfl {
	font-size: 1.12em;
}

.work{
	font:normal normal 2.625em/1.2em "Goudy Cat";
	margin-top: .7em;
}


.seri{
	font-family: "Gill Sans";
	font-size: .92em;
	margin-top: 3em;
}

.trans {
	font-family: "Gill Sans";
	font-size: .83em;
	margin-top: 2.5em;
}

.trans span{
	font-size: 1.2em;
	display: block;
	margin-top: .5em;
}

.logo{
	margin: 3em auto 0 auto;
}

/*biography*/

.biography p{
	font-family: "Gill Sans";
	font-size: .75em;
	line-height: 1.4em;
	text-indent: 0;
}

.biography .trl {
	margin-top: 2em;
}

/*works*/

.works p{
	margin-top: 4em;
	font-family: "Gill Sans";
	font-size: .83em;
	text-indent: 0;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "Gill Sans";
	font-size: .83em;
	padding-bottom: .3em;
}

/*foreword*/

.foreword .container {
	margin-top: 4em;
}

.fore-header {
	font:normal normal 1.16em/1.3em "Berling";
	text-align: center;
	margin-bottom: 1.2em;
}

.foreword p {
	font:normal normal .8em/1.3em "Berling";
	margin: 0 auto;
	text-indent: 2.2em;
}

.foreword blockquote {
	margin: 1em 1.3em;
}

.foreword blockquote p {
	font:normal normal .8em/1.3em "Gill Sans Light";
	text-indent: 1.5em;
}

.foreword cite {
	display: block;
	text-align: right;
	font:normal normal .8em/1.3em "Berling";
	margin-top: 1em;
}

/*chapter*/

.chapter .container {
	margin-top: 4em;
}

.chapter-header {
	font:normal normal 1.125em/1.3em "Berling";
	margin-bottom: 1.5em;
	text-align: center;
}

.chapter-header span {
	display: block;
	margin-top: 1em;
}

.und-header {
	float:right;
	max-width: 16.7em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.und-header span {
	display: block;
	text-align:right;
	font:normal normal .83em/1.3em "Berling";
}

.und-header cite {
	display: block;
	font:normal normal .83em/1.3em "Berling";
	text-align:right;
	margin-top: 1em;
}

.gap,
.df-text
 {
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	font:normal normal .875em/1.3em "Berling";
	margin: 0 auto;
	text-indent: 2em;
}

blockquote {
	margin: 1.5em 0 1.5em 3.5em;
}

blockquote p {
	text-indent: 0;
}

.poem {
	margin:1em auto 1em 1.8em;
}

.poem span {
	display: block;
	font:normal normal .875em/1.3em "Berling";
}

.epigraph {
	margin: 1.5em 1.3em;
}

.epigraph p {
	font:normal normal .875em/1.3em "Gill Sans Light";
	text-indent: 1.6em;
}

.chapter ul {
	margin: 1em 0 1em 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}

.chapter ul li {
	font:normal normal .875em/1.3em "Berling";
	text-indent: 2em;
	margin-bottom: 1em; 
}

/*appendix*/

.appendix .container {
	margin-top: 4em;
}

.app-header {
	font:normal normal 1.16em/1.3em "Berling";
	text-align: center;
	margin-bottom: 1.2em;
}

.appendix p {
	font: normal normal .8em/1.3em "Berling";
	padding-left: 4.5em;
	text-indent: 0;
	position: relative;
}

.appendix .indention {
	text-indent: 2.2em;
}

.appendix p span {
	position: absolute;
	left: 0em;
}

/*common*/

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  line-height: 1em;
  vertical-align: super;
  padding-left: .1em;
}

h1 .si-noteref {
	font-size: .55em;
}

.si-footnotes{
	margin:4em 0 1em;
}

.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}

.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}

.clear{
	clear: both;
}