@font-face {
  font-family: "Liberation Serif";
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/LiberationSerif-Regular.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-weight: bold;
  font-style: normal;
  src: url(../Fonts/LiberationSerif-Bold.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-weight: normal;
  font-style: italic;
  src: url(../Fonts/LiberationSerif-Italic.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-weight: normal;
  font-style: italic;
  src: url(../Fonts/LiberationSerif-BoldItalic.ttf);
  }
body {
  font-family: "Liberation Serif";
}
@page {
  margin: 0.5em;
  }
tbody, thead, tfoot, tr, td, th {
  border-style: inherit;
  border-width: inherit;
  border-color: inherit;
}
.leftFloat {
  float: left;
}
.rightFloat {
  float: right;
}
span.e-italik {
  font-weight: normal;
  font-style: italic;
}
span.e-bold {
  font-weight: bold;
  font-style: normal;
}
p.e-paragraf {
  font-family: "Liberation Serif", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: justify;
  color: #000;
  text-indent: 14px;
  margin: 6px 0 0 0;
}
p.e-perde {
  font-family: "Liberation Serif", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.67;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 40px 0 17px 0;
}
p.e-sayfabasibaslik {
  font-family: "Liberation Serif", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 0.83em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.8;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 40px 0 17px 0;
}
p.e-altbaslik {
  font-family: "Liberation Serif", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.83em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.8;
  text-align: justify;
  color: #000;
  text-indent: 14px;
  margin: 20px 0 0 0;
}
p.e-iyikikitaplarvar {
  font-family: "Liberation Serif", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.33em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.5;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 40px 0 0 0;
}
p.e-jenerikbaslik {
  font-family: "Liberation Serif", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.17em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.71;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 40px 0 0 0;
}
p.e-jenerik {
  font-family: "Liberation Serif", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.63em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.47;
  text-align: left;
  color: #000;
  text-indent: 0;
  margin: 6px 0 0 0;
}
p.e-sagparagra {
  font-family: "Liberation Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.33;
  text-align: right;
  color: #000;
  text-indent: 14px;
  margin: 6px 0 0 0;
}
p.e-kutuici {
  font-family: "Liberation Serif", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: justify;
  color: #000;
  text-indent: 0;
  margin: 6px 28px 3px 28px;
}
p.para-style-override-1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  page-break-after: always;
}
p.para-style-override-2 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  page-break-after: always;
}
p.para-style-override-3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
