@namespace h "http://www.w3.org/1999/xhtml";
.al-nt-isim {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.13em;
    margin-right: 1.13em;
    text-align: right;
    text-decoration: none;
    text-indent: 1.42em
    }
.al-nt-isim1 {
    color: #000;
    font-family: "Serif6 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    text-decoration: none
    }
.ara-spotlar {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 5.4em
    }
.ara-spotlar-ilk-sat-r {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 5.4em
    }
.ara-spotlar-son-sat-r {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0.81em;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 5.4em
    }
.ara-spotlar-tek-sat-r {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.33em;
    margin-bottom: 0.81em;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 5.4em
    }
.bold-yaz {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.bold-yaz-ortal {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ad {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.08em;
    margin-left: 0.01em;
    margin-right: 0.01em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ad-2-sat-r {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.15em;
    margin-left: 0.01em;
    margin-right: 0.01em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ad-tek-sat-r {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 4.36em;
    margin-left: 0.22em;
    margin-right: 0.22em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ad1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre2 {
    display: block
    }
.dar-paragraf {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.85em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.dar-paragraf-italik {
    color: #000;
    font-family: "Serif6 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.dar-paragraf-saga-blok-altta-bo-luk {
    color: #000;
    display: block;
    font-family: "Helvetica Neue LT Std";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 4.25em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    text-align: right;
    text-decoration: none;
    text-indent: 0
    }
.dar-paragraf-saga-blok-ilk-sat-r {
    color: #000;
    display: block;
    font-family: "Helvetica Neue LT Std";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.7em;
    margin-right: 1.7em;
    text-align: right;
    text-decoration: none;
    text-indent: 0
    }
.dar-paragraf-yak-n-sat-rlar {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.7em;
    margin-right: 1.7em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.dar-paragraf1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.dk-logo {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.16em;
    margin-right: 0.16em;
    text-align: center;
    text-decoration: none;
    text-indent: 0.79em
    }
.duz-yaz {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.duz-yaz-ilk-paragraf {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.81em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-yaz-ilk-paragraf-az-bosluk {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.81em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-yaz-sagdan-blok {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.81em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: right;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-yaz-sagdan-blok-altta-bo-luk {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 2.7em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: right;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-yaz-sagdan-blok-yak-n {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: right;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-yaz1 {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.81em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.generated-style {
    display: block
    }
.generated-style1 {
    height: auto;
    width: auto
    }
.ikon {
    color: #000;
    display: block;
    font-family: "Helvetica Neue LT Std";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 5.67em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.italik-yaz {
    color: #000;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.29em;
    text-decoration: none
    }
.italik-yaz1 {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.81em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.ithaf {
    color: #000;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    text-decoration: none
    }
.k-nye-bold {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.79em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.k-nye-regular {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.79em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.kitap-ismi {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.kitap-ismi-2-son {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.43em;
    margin-bottom: 2.02em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.kitap-ismi1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.92em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.kitap-ismi2 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1.42em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.29em;
    text-decoration: none
    }
.kunye-yeni-madde {
    color: #000;
    display: block;
    font-family: "Gill Sans";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.kunye-yeni-madde-devam {
    color: #000;
    display: block;
    font-family: "Gill Sans";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.serifsiz-basl-k-11pt {
    color: #000;
    display: block;
    font-family: "Helvetica Neue LT Std";
    font-size: 0.92em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.64em;
    margin-bottom: 0.52em;
    margin-left: 0.26em;
    margin-right: 0.26em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.serifsiz-basl-k-11pt1 {
    color: #000;
    font-family: "Helvetica Neue LT Std";
    font-size: 0.92em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.sgc {
    height: 100%;
    width: 100%
    }
.tablo-ustten-bosluklu {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 3.15em;
    margin-left: 0.16em;
    margin-right: 0.16em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.tablo-ustten-bosluksuz {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.47em;
    margin-left: 0.16em;
    margin-right: 0.16em;
    text-align: center;
    text-decoration: none;
    text-indent: 0.79em
    }
.tesekk-r {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.08em;
    margin-right: 1.08em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.tesekk-r1 {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.08em;
    margin-right: 1.08em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.tesekk-r2 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    text-decoration: none
    }
.x-iir-d-rtl-k-genel {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5.67em;
    margin-right: 1.7em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.x-iir-d-rtl-k-ilk-m-sra {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5.67em;
    margin-right: 1.7em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.x-iir-d-rtl-k-son-m-sra {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 1.7em;
    margin-left: 5.67em;
    margin-right: 1.7em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.x-nokta {
    color: #000;
    display: block;
    font-family: "ITC Century";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 2.83em;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: center;
    text-decoration: none;
    text-indent: 1.42em
    }
.x-ns-z-devam-paragraflar {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.57em;
    margin-left: 1.13em;
    margin-right: 0.85em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.42em
    }
.x-ns-z-ilk-paragraf {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.57em;
    margin-left: 1.13em;
    margin-right: 0.85em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.42em
    }
.yazar-ismi {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 6.07em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.yazar-ismi1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }