<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Stephen King</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>14942C399FEE661A54BED1E72DA2E763</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>7F16B7B5DDD05ADEE1708D868D12D35E</string>
		<key>publisher-unique-id</key>
		<string>3a9c44de-e400-48bf-80a8-1c7038d48710</string>
		<key>unique-id</key>
		<integer>5242791049646933930</integer>
	</dict>
	<key>itemName</key>
	<string>Yüzyılın Fırtınası</string>
	<key>playlistName</key>
	<string>Yüzyılın Fırtınası</string>
	<key>releaseDate</key>
	<string>2010-09-29T17:00:39.390000+00:00</string>
	<key>sort-artist</key>
	<string>King, Stephen</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
