<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Joseph Charles Mardrus &amp; Alim Şerif Onaran</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>7B4D74BCF14CBBA02FB5134FD572142E</string>
		<key>cover-image-path</key>
		<string>cover1.jpeg</string>
		<key>package-file-hash</key>
		<string>CD9C17A87C87131E8CA8AC2F21C3F9EE</string>
		<key>publisher-unique-id</key>
		<string>92f5d919-34dd-4e96-b00b-891126486ecb</string>
		<key>unique-id</key>
		<integer>4538232034555148318</integer>
	</dict>
	<key>composerName</key>
	<string>dfbef8d7-d526-4ab7-8434-c6daf8a559cf</string>
	<key>genre</key>
	<string>Arabic literature</string>
	<key>itemName</key>
	<string>Binbir gece masalları</string>
	<key>playlistName</key>
	<string>Binbir gece masalları</string>
	<key>releaseDate</key>
	<string>2001-07-14T21:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Bilinmiyor</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
	<key>sort-composer</key>
	<string></string>
	<key>sort-composer-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string>Binbir gece masalları</string>
	<key>sort-name-status</key>
	<integer>1</integer>
</dict>
</plist>
