@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}
p{text-indent:1.6em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-family:Arial,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0;line-height:100%;text-align:center}
.p2{text-indent:1.5em;margin-left:0}
.p3{text-indent:1.7em;margin-left:0}
.p4{text-indent:0;margin-left:.091em;text-align:center;margin-bottom:1.4em}
.p5{text-indent:1.6em;margin-right:.73em}
.p7{text-indent:1.4em;margin-left:0}
.p8{text-indent:1.4em;margin-left:0;margin-bottom:1.4em}
.p9{text-indent:.82em;margin-left:0}
.p10{text-indent:0;margin-left:0;text-align:center;margin-bottom:.54em}
.p11{text-indent:1.3em;margin-left:0}
.p12{text-indent:1.3em;margin-left:0;margin-bottom:1.8em}
.p13{text-indent:1.3em;margin-left:0;margin-bottom:1.8em}
.p14{text-indent:1.2em;margin-left:.64em}
.p15{text-indent:1.2em;margin-left:.64em;margin-right:.64em}
.p16{text-indent:1.2em;margin-left:.64em;margin-right:.64em;margin-bottom:1.8em}
.p17{text-indent:0;margin-left:0;text-align:center;margin-bottom:.54em}
.p18{text-indent:1.6em;margin-bottom:1.8em}
.p19{text-indent:0;margin-left:0;text-align:center;margin-bottom:.26em}
.p20{text-indent:1.6em;margin-bottom:.55em}
.p21{text-indent:1.5em;margin-left:0;margin-bottom:1.8em}
.p22{text-indent:0;margin-left:.091em;text-align:center;margin-bottom:.55em}
.p23{text-indent:1.4em;margin-left:0;margin-bottom:1.8em}
.p24{text-indent:1.4em;margin-left:0;margin-bottom:1.8em}
.p25{text-indent:0;margin-left:0;text-align:center;margin-bottom:.32em}
.p26{text-indent:0;margin-left:.18em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.55em}
.p27{text-indent:0;margin-left:0}
.p28{text-indent:0;margin-left:.091em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.3em}
.p29{text-indent:1.6em;margin-bottom:1.8em}
.p30{text-indent:0;margin-left:.091em;text-align:center;margin-bottom:.3em}
.p31{text-indent:0;margin-left:0;margin-right:.091em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.28em}
.p32{text-indent:1.4em;margin-left:0;margin-bottom:1.5em}
.p33{text-indent:0;margin-left:0;text-align:center;margin-bottom:.28em}
.p34{text-indent:1.5em;margin-left:0;margin-bottom:1.5em}
.p35{text-indent:0;margin-left:0;text-align:center;margin-bottom:.57em}
.p36{text-indent:1.5em;margin-left:0;margin-bottom:.98em}
.p37{text-indent:0;margin-left:0;margin-right:.091em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.58em}
.p38{text-indent:1.4em;margin-left:0;margin-bottom:.98em}
.p39{text-indent:0;margin-left:0;margin-right:.36em;text-align:center;margin-bottom:.55em}
.p40{text-indent:1.6em;margin-bottom:1.1em}
.p41{text-indent:0;margin-left:.091em;text-align:center;margin-bottom:.52em}
.p42{text-indent:1.5em;margin-left:.91em}
.p43{text-indent:2.4em;margin-left:0}
.p44{text-indent:1.9em;margin-left:0}
.p45{text-indent:0;margin-left:1.3em}
.p46{text-indent:1.5em;margin-left:1.3em;margin-bottom:1.9em}
.p47{text-indent:0;margin-left:0;margin-right:.82em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.95em}
.p48{text-indent:1.5em;margin-left:1.3em}
.p49{text-indent:1.5em;margin-left:1.2em}
.p50{text-indent:1.5em;margin-left:1.2em;margin-bottom:1.1em}
.p51{text-indent:1.5em;margin-left:3.6em}
.p52{text-indent:1.5em;margin-left:1.3em;margin-bottom:1.9em}
.p53{text-indent:0;margin-left:0;margin-right:1.1em;text-align:center;margin-bottom:.54em}
.p54{text-indent:1.5em;margin-left:1.2em;margin-right:.64em}
.p55{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.4em}
.p56{text-indent:1.8em;margin-left:0}
.p57{text-indent:1em;margin-left:0}
.p58{text-indent:0;margin-left:1em}
.p59{text-indent:1.5em;margin-left:0}
.p60{text-indent:0;margin-left:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.6em}
.p61{text-indent:0;margin-left:0;text-align:center;margin-bottom:.82em}
.p62{text-indent:1.6em;margin-bottom:1.9em}
.p63{text-indent:0;margin-left:0;text-align:center;margin-bottom:1.9em}
.p64{text-indent:1.3em;margin-left:1.1em}
.p65{text-indent:1.5em;margin-left:.91em;margin-right:.64em}
.p66{text-indent:1.4em;margin-left:.73em}
.p67{text-indent:1.5em;margin-left:.82em;margin-right:.73em}
.p68{text-indent:1.5em;margin-left:.82em;margin-right:.73em;margin-bottom:1.9em}
.p69{text-indent:0;margin-left:11em;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.83em}
.p70{text-indent:1.5em;margin-left:.82em}
.p71{text-indent:1.5em;margin-left:.82em;margin-right:-.027em}
.p72{text-indent:1.5em;margin-left:.73em}
.p73{text-indent:1.1em;margin-left:1.2em}
.p74{text-indent:1.5em;margin-left:.82em}
.p75{text-indent:1.9em;margin-left:0;margin-bottom:2.2em}
.p76{text-indent:0;margin-left:.45em;text-align:center;margin-bottom:.8em}
.p77{text-indent:1.9em;margin-left:0;margin-right:-.027em}
.p78{text-indent:1.5em;margin-left:0;margin-right:-.027em}
.p79{text-indent:1.5em;margin-left:0;margin-bottom:1.9em}
.p80{text-indent:0;margin-left:0;margin-right:.64em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.79em}
.p81{text-indent:1.5em;margin-left:0;margin-right:.64em}
.p82{text-indent:0;margin-left:0;margin-right:.64em}
.p83{text-indent:1.4em;margin-left:0;margin-right:.64em}
.p84{text-indent:1.4em;margin-left:0;margin-right:.64em;margin-bottom:1.1em}
.p85{text-indent:0;margin-left:0;margin-right:.45em;text-align:center;margin-bottom:.5em}
.p86{text-indent:1.3em;margin-left:0;margin-right:.64em}
.p87{text-indent:1.3em;margin-left:0}
.p88{text-indent:0;margin-left:6.9em}
.p89{text-indent:1.5em;margin-left:0;margin-bottom:1.9em}
.p90{text-indent:0;margin-left:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:.81em}
.p91{text-indent:0;margin-left:1.1em}
.p92{text-indent:1.6em;margin-bottom:1.6em}
.p93{text-indent:1.9em;margin-left:0;margin-right:1.1em}
.p94{text-indent:1.5em;margin-left:0;margin-right:1.1em}
.p95{text-indent:1.5em;margin-left:0;margin-right:1.1em;margin-bottom:1.4em}
.p96{text-indent:0;margin-left:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.2em}
.p97{text-indent:2em;margin-left:0}
.p98{text-indent:2em;margin-left:0;margin-right:.73em}
.p99{text-indent:2em;margin-left:0;margin-right:.73em;margin-bottom:.86em}
.p100{text-indent:1.6em;margin-bottom:1.7em}
.p101{text-indent:1.5em;margin-left:.73em;margin-bottom:1.6em}
.p102{text-indent:1.7em;margin-left:0;margin-bottom:1.7em}
.p103{text-indent:1.6em;margin-bottom:1.9em}
.p104{text-indent:0;margin-left:0;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.9em}
.p105{text-indent:1.4em;margin-left:2.8em}
.p106{text-indent:2em;margin-left:0;margin-right:.64em}
.p107{text-indent:2em;margin-left:0;margin-right:.64em;margin-bottom:1.6em}
.p108{text-indent:1.3em;margin-left:.73em}
.p109{text-indent:1.5em;margin-left:.73em}
.p110{text-indent:0;margin-left:.73em}
.p111{text-indent:1.5em;margin-left:3.4em}
.p112{text-indent:1.5em;margin-left:.64em;margin-right:.73em}
.p113{text-indent:1.5em;margin-left:.64em}
.p114{text-indent:1.2em;margin-left:1em}
.p115{text-indent:1.6em;margin-bottom:.82em}
.p116{text-indent:1.4em;margin-left:2.6em;margin-bottom:.84em}
.p117{text-indent:0;margin-left:.091em;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.9em}
.p118{text-indent:1.6em;margin-bottom:1.4em}
.p119{text-indent:0;margin-left:1.6em}
.p120{text-indent:1.6em;margin-bottom:1.6em}
.p121{text-indent:0;margin-left:1.2em}
.p122{text-indent:1.6em;margin-bottom:1.1em}
.p123{text-indent:0;margin-left:.18em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.6em}
.p124{text-indent:1.6em;margin-right:.64em}
.p125{text-indent:2em;margin-left:0;margin-bottom:1.3em}
.p126{text-indent:1.8em;margin-left:0;margin-right:.64em}
.p127{text-indent:1.8em;margin-left:0;margin-right:-.027em}
.p128{text-indent:1.8em;margin-left:0;margin-right:.64em;text-align:center}
.p129{text-indent:2.2em;margin-left:0}
.p130{text-indent:1.6em;margin-right:1.1em}
.p131{text-indent:0;margin-left:.091em;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-bottom:1.6em}
.p132{text-indent:1.6em;margin-bottom:3.2em}
.p133{text-indent:0;margin-left:.091em;text-align:center}
.p134{text-indent:0}
.t1{font-family:"Arial Unicode MS",sans-serif;font-size:3.3em;line-height:115%}
.t2{font-family:Calibri,sans-serif;font-size:2.5em;line-height:115%}
.t3{font-family:"Arial Unicode MS",sans-serif;font-size:2.4em;line-height:115%}
.t4{font-family:"Arial Unicode MS",sans-serif;font-size:.73em;line-height:115%}
.t5{font-family:"Arial Unicode MS",sans-serif;font-size:1.6em;line-height:115%}
.t6{font-family:"Arial Unicode MS",sans-serif;font-size:1.6em;line-height:100%}
.t7{font-size:1.3em;line-height:100%}
.t8{font-family:Garamond,serif;font-size:1.3em;line-height:100%}
.t9{font-family:Calibri,sans-serif;font-style:italic}
.t10{font-family:Calibri,sans-serif}
.t12{font-size:.55em;line-height:115%}
.t13{font-style:italic}
.t14{font-size:.65em;line-height:115%;vertical-align:super}
.t15{font-size:.82em;line-height:115%}
.t16{font-family:"Franklin Gothic Book",sans-serif;font-size:1.1em;line-height:115%;font-style:italic}
.t17{font-size:.64em;line-height:115%}
.t18{font-family:"Arial Unicode MS",sans-serif;font-size:.45em;line-height:115%}
.t19{font-family:"Palatino Linotype",serif;font-size:1.8em;line-height:115%}
.t20{font-family:"Franklin Gothic Book",sans-serif}
.t21{font-size:1.1em;line-height:115%}
.t22{font-family:"Palatino Linotype",serif;font-size:1.6em;line-height:115%}
.t23{font-family:"Palatino Linotype",serif;font-size:2em;line-height:115%}
.t24{font-size:.65em;line-height:115%;vertical-align:sub}
.t25{font-size:1.3em;line-height:115%;letter-spacing:.036em}
.t26{font-size:1.3em;line-height:115%}
.t27{font-size:1.6em;line-height:115%;letter-spacing:.028em}
.t28{font-size:1.6em;line-height:115%}