<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Cengiz Aytmatov</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>C11862CFFEFA79B523040D79055A289A</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover1.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>8C5C097434E590CE2B62D60CA3384F96</string>
		<key>publisher-unique-id</key>
		<string>4c7867a4-e030-4d19-9bc7-a1a435167abf</string>
		<key>unique-id</key>
		<integer>-5235825961736350099</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>www.iphonepub.com</string>
	<key>itemName</key>
	<string>Toprak Ana</string>
	<key>playlistName</key>
	<string>Toprak Ana</string>
	<key>releaseDate</key>
	<string>2010-11-02T15:11:32+00:00</string>
	<key>sort-artist</key>
	<string>Aytmatov, Cengiz</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
