p{text-indent:3.2em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Amasis,serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;line-height:250%;text-align:center;margin-bottom:0}
.p2{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-bottom:0}
.p3{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-bottom:0}
.p4{text-indent:0;margin-left:0;text-align:center;margin-top:1.1em;margin-bottom:1.1em}
.p5{text-indent:0;margin-left:0;margin-top:1.1em;margin-bottom:1.1em}
.p6{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-bottom:1.1em}
.p8{text-indent:0;margin-left:0;text-align:center}
.p9{text-indent:0;margin-left:3.2em}
.p10{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p11{text-indent:0;margin-left:0;line-height:100%;text-align:right;margin-bottom:0}
.p12{text-indent:0;margin-left:.091em;line-height:115%;margin-right:9.1em;text-align:left;margin-bottom:0}
.p13{text-indent:0;margin-left:.091em;line-height:115%;text-align:left;margin-bottom:0}
.p14{text-indent:0;margin-left:.091em;line-height:115%;text-align:left;margin-bottom:.82em}
.p15{text-indent:0;margin-left:.091em;line-height:115%;margin-right:7.1em;text-align:left;margin-bottom:0}
.p16{text-indent:0;margin-left:0;line-height:115%;margin-right:.27em;text-align:right;margin-bottom:0}
.p17{text-align:center;margin-bottom:0}
.p18{text-indent:0;margin-left:0;margin-bottom:0}
.p19{text-indent:0;margin-left:3.2em;margin-bottom:0}
.p20{margin-bottom:0}
.p21{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-top:.55em}
.p22{text-align:center}
.p23{text-align:right}
.p24{text-indent:0;margin-left:0;line-height:100%;margin-top:1.1em;margin-bottom:1.1em}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;margin-top:1em;margin-bottom:1.5em;font-family:Amasis,serif;font-size:109%;font-weight:bold;color:#833c0b}
.t0{font-size:1.1em;line-height:100%}
.t1{font-size:1.3em;line-height:250%;font-weight:bold;vertical-align:-.36em}
.t2{font-size:1.3em;line-height:250%;font-weight:bold}
.t3{font-size:2.3em;line-height:100%;font-weight:bold}
.t4{font-style:italic}
.t5{font-weight:bold}
.t7{font-size:.91em;line-height:140%;font-weight:bold}
.t8{font-size:.82em;line-height:150%;font-weight:bold;font-style:italic}
.t9{font-weight:bold}
.t10{font-style:italic}
.t11{color:#0066cc;text-decoration:underline}
.t12{font-size:.82em;line-height:140%}
.t13{font-size:.82em;line-height:140%;color:#0563c1;text-decoration:underline}
.t14{font-size:.64em;line-height:100%;font-weight:bold}
.t15{font-size:1.3em;line-height:250%}
.t16{font-weight:bold}
.t17{font-style:italic}
.t19{font-size:.45em;line-height:100%}
.t21{font-style:italic}
.t23{font-style:italic}
.t24{font-size:.091em;line-height:100%}
.t25{font-size:.65em;line-height:140%;vertical-align:super}
.t26{font-size:.82em;line-height:140%;font-weight:bold}
.t27{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super}
.t28{font-weight:bold}
.t29{font-size:.82em;line-height:150%;font-weight:bold}
.t30{font-size:.64em;line-height:140%;font-weight:bold}
.t31{font-size:.59em;line-height:100%;vertical-align:super}
.t32{font-size:.91em;line-height:100%}
.t33{font-size:.59em;line-height:140%;vertical-align:super}
.t34{font-size:.91em;line-height:140%}