.block {
    background-color: transparent;
    display: block;
    font-size: 3.5em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 102pt 0 0
    }
.block1 {
    background-color: transparent;
    display: block;
    font-size: 3.5em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 0 0 30pt
    }
.block10 {
    background-color: transparent;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 0 2pt
    }
.block11 {
    background-color: transparent;
    display: block;
    font-size: 2em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 108pt
    }
.block12 {
    background-color: transparent;
    display: block;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block13 {
    background-color: transparent;
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block14 {
    background-color: transparent;
    display: block;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block15 {
    background-color: transparent;
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block16 {
    background-color: transparent;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block17 {
    background-color: transparent;
    display: block;
    text-align: justify;
    padding: 0;
    margin: 0
    }
.block18 {
    background-color: transparent;
    display: block;
    letter-spacing: 0;
    text-align: justify;
    padding: 0;
    margin: 0
    }
.block19 {
    background-color: transparent;
    color: black;
    display: block;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block2 {
    background-color: transparent;
    display: block;
    font-size: 1.8em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 36pt 0 192pt
    }
.block20 {
    background-color: transparent;
    display: block;
    font-family: "MS Mincho", monospace;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block21 {
    background-color: transparent;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block22 {
    background-color: #FFF;
    display: block;
    font-style: italic;
    letter-spacing: 0;
    line-height: 14.9pt;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block23 {
    background-color: transparent;
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block24 {
    background-color: transparent;
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-align: justify;
    padding: 0;
    margin: 0
    }
.block25 {
    color: black;
    display: block;
    padding: 0;
    margin: 0
    }
.block3 {
    background-color: transparent;
    display: block;
    font-size: 1.3em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block4 {
    background-color: transparent;
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    padding: 0;
    margin: 102pt 0 0
    }
.block5 {
    background-color: transparent;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block6 {
    background-color: transparent;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block7 {
    background-color: transparent;
    display: block;
    letter-spacing: 0;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block8 {
    background-color: transparent;
    display: block;
    text-align: center;
    padding: 0;
    margin: 102pt 0 18pt
    }
.block9 {
    background-color: transparent;
    display: block;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0 0 2pt
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-style: italic
    }
.calibre2 {
    text-decoration: none
    }
.text {
    font-weight: bold;
    letter-spacing: 0
    }
.text1 {
    font-style: italic;
    letter-spacing: 0
    }
.text2 {
    letter-spacing: 0
    }
.text3 {
    color: #000;
    letter-spacing: 0
    }
.text4 {
    color: #000;
    font-size: 0.75em;
    letter-spacing: 0;
    line-height: normal;
    vertical-align: super
    }
.text5 {
    color: #06C;
    font-size: 0.75em;
    line-height: normal;
    text-decoration: underline;
    vertical-align: super
    }
