@font-face {
	font-family : Serif12BetaRoman;
	font-style : normal;
	font-weight : normal;
	src : url("fonts/Serif12Beta-Roman.ttf");
}
@font-face {
	font-family : "Serif12 Beta Rg Bold";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/Serif12BetaRgBold.ttf");
}
@font-face {
	font-family : "Serif6 Beta Rg italic";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/Serif6BetaRgitalic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.ikon {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.duz {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.italik {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.k-nye-bold {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.k-nye-regular {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.k-nye-kitap-ad- {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.foto-1 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-italik {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-duz {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.DK-logo-1 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.yazar-ismi {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.kitap-ismi-2 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.42em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
p.duz {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 9px 3px 6px 3px;
}
p.ikon {
	font-family : "HelveticaNeueLT Std Cn", sans-serif;
	font-stretch : condensed;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 40px 17px 60px 17px;
}
p.duz-ilk-paragraf {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 30px 3px 6px 3px;
}
p.duz-son-paragraf-2 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 9px 3px 113px 3px;
}
p.duz-ilk-paragraf-2 {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 300px 3px 6px 3px;
}
p.foto-ustten-bosluklu {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.diger-kitaplar-listesi {
	font-family : GillSans, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 3px 0px 3px;
}
p.kitap-ismi-1 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 14px 3px 0px 3px;
}
p.kunye-yeni-madde {
	font-family : GillSans, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 14px 3px 0px 3px;
}
p.kunye-yeni-madde-devam {
	font-family : GillSans, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px;
}
p.foto-ustten-bosluklu-1 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-2 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-3 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-4 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-5 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-6 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-7 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-8 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-9 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-10 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-11 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-12 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-13 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-14 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-15 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.bold-ortali {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px;
}
p.baslik-3 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 43px 3px 6px 3px;
}
p.bold-ortali-2-en-son {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px 71px 3px;
}
p.alinti-copy {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 28px 0px 57px;
}
p.bold-ortali-3-copy {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 142px 3px 0px 3px;
}
p.duz-sagdan-blok-copy {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 14px 3px 3px 3px;
}
p.DK-logo {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px;
}
p.kitap-ismi-2-son {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.43;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 6px 3px 57px 3px;
}
p.yazar-ismi {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px 85px 3px;
}
p.foto-ustten-bosluklu-16 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-17 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-18 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.foto-ustten-bosluklu-19 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 3px 9px 3px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
div.Basic-Graphics-Frame {
}
div.Basic-Graphics-Frame-1 {
}
div.Basic-Graphics-Frame-2 {
}
