@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("fonts/LiberationSerif-Italic.ttf");
}
@font-face {
	font-family : "Minion Pro";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/MinionPro-Bold.otf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.NOT {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	vertical-align : super;
	color : #000000;
	writing-mode : horizontal-tb;
	line-height : 1;
}
span.char-style-override-1 {
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-2 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-3 {
	vertical-align : super;
}
span.char-style-override-4 {
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-5 {
	font-family : "Minion Pro";
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-6 {
	font-size : 1em;
}
span.char-style-override-7 {
	font-size : 0.88em;
}
span.char-style-override-8 {
	font-size : 0.88em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-9 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-10 {
	font-size : 0.79em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-11 {
	font-size : 0.79em;
	font-style : normal;
	font-weight : normal;
}
p.Basic-Paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.arabaslik-sol {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.04em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 30px 30px 20px 30px;
}
p.arabaslik-orta {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 70px 30px 30px 30px;
}
p.arabaslik-sol-kucuk {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 20px 30px 10px 30px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px 0px 30px;
}
p.perde-yazar {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-top : 70px;
}
p.para-style-override-3 {
	text-align : center;
	text-indent : 0px;
}
div.Basic-Text-Frame {
}
