<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>9CB72D5C461ED3288A4C9748F52F55CC</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:1fb3d73f-b102-46ca-8c3d-fa0edd5380ea</string>
		<key>unique-id</key>
		<integer>1191833597016536184</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
