@font-face {
  font-family: "Gill Sans Std";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/GillSansStd.ttf);
  }
@font-face {
  font-family: "Berling LT Std Roman";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/BerlingLTStd-Roman.ttf);
  }
@font-face {
  font-family: "Berling LT Std Roman";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/BerlingLTStd-Italic.ttf);
  }
@font-face {
  font-family: "Gill Sans Std";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/GillSansStd.ttf);
  }
@font-face {
  font-family: "Gill Sans Std";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/GillSansStd-Italic.ttf);
  }
@font-face {
  font-family: "Gill Sans Std Light";
  font-style: normal;
  font-weight: 300;
  src: url(../Fonts/GillSansStd-Light.ttf);
  }
@font-face {
  font-family: "GoudyCatTReg";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/GoudyCatTReg.ttf);
  }
a {
  text-decoration: none;
  color: #7A7A7A;
}
/*
 *chapter
 */
p {
  font: normal 0.875em/1.3em "Berling";
  margin: 0;
  text-indent: 1.9em;
}
h1 {
  font: normal normal 1.25em/1.2em "Berling";
  text-align: center;
  margin: 3em 0 1.5em 0;
}
blockquote {
  margin: 1em 0 0 1em;
}
blockquote p {
  font: normal 300 0.875em/1.3em "GillSansLight";
  text-indent: 1.7em;
}
blockquote h1 {
  font: normal 300 0.875em/1.3em "GillSansLight";
  text-align: center;
}
.letter {
  margin: 1em 0 0 0;
}
.margin-top, .after-bq {
  margin-top: 1em !important;
}
.sub-section {
  margin-top: 2.4em;
}
.by, .date {
  text-align: right;
  margin-top: 1em;
}
.si-noteref {
  text-decoration: none;
  color: #7A7A7A;
  font-size: 0.75em;
  vertical-align: super;
  padding-left: 0.1em;
  font-style: normal;
}
.si-footnotes {
  margin: 4em 0 1em;
}
.si-backref {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.si-footnote {
  font-family: "Gill Sans Std";
  font-size: 0.8em;
  margin-bottom: 0.25em;
}
.kunye .margin, .press {
  margin: 0.8em 0 0;
}
.isbn {
  margin-top: 1.2em;
}
.kunye .publisher {
  margin-top: 2em;
}
.title {
  text-align: center;
}
.aut {
  font-family: "GoudyCatTReg";
  font-size: 2.062em;
  margin-bottom: 0;
}
.work {
  font-family: "GoudyCatTReg";
  font-size: 3em;
  margin-top: 0.3em;
}
.seri {
  font-family: "Gill Sans Std";
  font-size: 1em;
  margin-top: 3.5em;
}
.trans {
  font-family: "Gill Sans Std";
  font-size: 0.9em;
  margin-top: 1.5em;
  line-height: 1.5em;
}
.logo {
  margin: 3em auto 0 auto;
  width: 60px;
  text-align: center;
}
.cover-container {
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
img {
  width: 100%;
}
#biography p {
  font: normal normal 0.75em/1.5em "GillSans";
  text-indent: 0;
}
#biography .translator {
  margin-top: 2em;
}
